$icon-font-path: '../fonts/';

@import "_includs";

.ftable {
	width: 100%;
	//table-layout: fixed;
	border-bottom: 1px solid $border-color;

	th {
		padding: 15px 20px;
    vertical-align: top;
    line-height: 1.5em;
		font-size: 17px;
		vertical-align: middle;
		
		background: $x-dark-blue-color;
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    line-height: normal;
    border: none;
		min-height: 80px;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
	}

	td {
		padding: 15px 20px;
    vertical-align: top;
    line-height: 1.5em;
		font-size: 17px;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
	}

	.footable-details {
		border: none;

		th {
			background: #fff;
			border: none;		
			color: #000;
			min-height: auto;
			display: block;
			padding: 5px 20px;
			font-size: 17px;			
		}

		td {
			display: block !important;
			border: none;
			padding: 5px 20px;
			font-size: 15px;
			//border-bottom: 1px solid $border-color;
			position: relative;
		}
	}
	
	.footable-first-visible {
		cursor: pointer;
		position: relative;
	}

	.footable-toggle {
		//display: inline-block;
		width: 100%;		

	}

	.fooicon-plus {

		&:after {
			content:"+";
			color: $pink-color;
			display: inline-block;
			font-size: 20px;
			font-weight: 700;
			position: absolute;
			top: 50%;
			margin-top: -13px;
			right: 20px;
		}
	}

	.fooicon-minus {

		&:after {
			content:"-";
			color: $pink-color;
			display: inline-block;
			font-size: 20px;
			font-weight: 700;
			position: absolute;
			top: 50%;
			margin-top: -13px;
			right: 20px;
		}
	}

	.footable-detail-row {
		border-bottom: 1px solid $border-color;
	}

	.cat-tr {
		td {
			display: none !important;
		}
	}

	.cat-th {
		border-top: 1px solid $border-color;

		.footable-toggle {
			display: none;
		}
	}

}

.ftable {

	&__title {
		width: 100%;
		padding: 15px 20px;
    vertical-align: top;
    line-height: 1.5em;
		font-size: 17px;
		vertical-align: middle;
		
		background: $x-dark-blue-color;
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    line-height: normal;
    border: none;
		min-height: 80px;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		padding: 15px 20px;	    
	    line-height: 1.5em;
	    font-size: 17px;
	    width: 25%;
		flex-basis: 25%;
		flex-grow: 1;
		border-right: 1px solid $border-color;

		&:last-child {
			border-right: none;
		}

		img {
			width: 100%;
		}

		span {
			display: inline-block;
			min-height: 50px;
		}
	}
}