$icon-font-path: '../fonts/';

@import "_includs";

.autor-page {

    .layot-content-block {
        margin-bottom: 30px;
    }

    .article-wrap {

        .content-title {

            &__left {
                margin: -50px auto 40px -30px;  
            }          
        }
    }

    .column__pink {
        margin-top: 30px;
    }    
}

.autor {

    &__block {
        display: flex;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__photo-block {
        flex-basis: 100px;
        flex-shrink: 0;
        margin-right: 30px;

        .img-wrap {
            width: 100%;
            height: 100px;
            border-radius: 50%;            
        }
    }

    &__description-block {

        button {
            margin-top: 3px;
        }
       
    }

    &__button-block {
        flex-basis: 250px;
        flex-shrink: 0;
        margin-left: 10px;
    }

    &__text-block {
        margin: 30px 0;
    }

    &__name {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__position {
        font-size: 17px;
        font-weight: 700;
        color: $pink-color;
        margin: 5px 0 15px;
    }

     &__button-wrap {
        flex-direction: column;
        display: flex;
        align-items: flex-start;

        button {
            display: inline-block;
        }
    }   
}

.autors { 

    &__layot-block {

        &.active {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -30px;            

            .autor {

                &__block {
                    padding: 30px;
                     width: 50%;
                    flex-direction: column;
                    border-bottom: 1px solid $border-color;
                    border-right: 1px solid $border-color;

                    &:nth-child(even) {
                        border-right: none;
                    }

                    &:after {
                        display: none;
                    }
                }

                &__wrap {
                    flex-direction: column;
                }

                &__description-block {
                    text-align: center;
                    margin-top: 15px;
                }

                &__button-block {
                    flex-basis: auto;
                } 

                &__photo-block {
                    width: 100px;
                    height: 100px;
                    flex-basis: auto;
                    margin-right: 0;
                }                          
            }           
        }        
    }  

    &__block {
        display: flex;
        align-items: center;
        position: relative;
        padding: 15px 0;
       
       &:after {
           content: "";
           width: calc(100% + 60px);
           //margin-right: -30px;
           height: 1px;
           background:  $border-color;
           display: inline-block;
           position: absolute;
           bottom: 0;
           left: -30px;
       }       

       &:last-child {

            &:after {
                display: none;
            }
       }
    }
}

.switch-block {
    position: absolute;
    top: 20px;
    right: 30px;

    .switch-1 {
        background: url(../images/switch-icon-1.png) no-repeat;
        background-size: cover;
        width: 15px;
        height: 15px;
        display: inline-block;
        cursor: pointer;
    }

    .switch-2 {
        background: url(../images/switch-icon-2.png) no-repeat;
        background-size: cover;
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-left: 10px;
         cursor: pointer;
    }
}