$icon-font-path: '../fonts/';

@import "_includs";

.autor-page {
    
    .layot-content-block {
        margin-bottom: 30px;
    }

    .article-wrap {

        .content-title {

            &__left {
                margin: -50px auto 40px -30px;  
            }          
        }
    }

    .column__pink {
        margin-top: 30px;
    }    
}

.autor {

    &__block {
        display: flex;
    }

    &__photo-block {
        flex-basis: 100px;
        flex-shrink: 0;
        margin-right: 30px;

        .img-wrap {
            width: 100%;
            border-radius: 50%;
        }
    }

    &__description-block {

        button {
            margin-top: 3px;
        }
       
    }

    &__text-block {
        margin: 30px 0;
    }

    &__name {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__position {
        font-size: 17px;
        font-weight: 700;
        color: $pink-color;
        margin: 5px 0 15px;
    }
}