$icon-font-path: '../fonts/';

@import "_includs";

html {
	height: 100%;
	//overflow-x: hidden; 
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	background: #fff;	
	min-width: 320px;
	height: 100%;	
	overflow-x: hidden;	
	//padding-right: 0 !important;
	//margin: 0.7em;
}

.col-50 {
	width: 50%;
}

.flex {
	display: flex;

	&.sb {
		justify-content: space-between;
	}

	&.aic {
		align-items: center;
	}

	&.fww {
		flex-wrap: wrap;
	}

	&.aifs {
		align-items: flex-start;
	}
}

.oh {
	overflow: hidden;
}

.ov {
	overflow: visible !important;
}

.trans {
	transition: all .4s ease 0s;
}


.mt-30 {
	margin-top: 30px;
}

.modal-open {

	.modal {
  		padding-right: 0 !important;
	}
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mb-5 {
	margin-bottom: 5px;
}

.mt-5 {
	margin-top: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-10 {
	margin-top: 10px;
}


.is-hidden {
opacity:0;
}

.visible {
	opacity:1;
}

.content-label-wrap {	
	position: absolute;
    left: 0px;
    right: 0;
    top: -12px;
    margin: auto;  
    display: flex;    
	justify-content: center;
	z-index: 100;
	
	.content-label {
		text-align: center;
		margin-bottom: 0;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
			text-decoration: none;
		}
	}

	&.bottom {
		bottom: -12px;
		top: auto;	
	}
}

/*.main {
	min-height: 100%;
	position: relative;
	padding-bottom: 195px;
		

	&:before {
		content: "";
		width: 100%;
		height: 4px;
		background: linear-gradient(to right, #7d4597, #904898);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

}*/

.colwrap {
	display: flex;
	flex-wrap: wrap;

	&.mar {
		margin: 0 -95px;
	}

	.col {
		margin: 0 95px;
	}
	

	.col-50 {
		width: calc(50% - 190px);
	}

	.col-40 {
		width: calc(40% - 190px);
	}

	.col-60 {
		width: calc(60% - 190px);
	}

	.col-33 {
		width: calc(33.33% - 190px);
	}

	.col-66 {
		width: calc(66.66% - 190px);
	}
}

.dark-blue-section {	
	position: relative;	
	padding: 100px 0 50px;

	.trans-title {
		position: relative;
		z-index: 10;
		color: #fff;
	}

	&:before {
		content:"";
		width: 100%;
		position: absolute;
		height: 1px;
		background: #063e55;
		top: 0;
		left: 0;
		z-index: 10;
	}

	&.pb-100 {
		padding: 100px 0;
	}

	&.bg {
		background: $x-dark-blue-color;		
	}
}

.layot-section {
	margin-top: 30px;

	&.no-marg {
		margin-top: 0;
	}

	&.no-sidebar {

		.layot-content-block {
			width: 100%;
		}

		.main-form-block {

			&__title {
				flex-basis: calc(60% - 30px);
			}

			&__form {

				&-1 {
					margin-top: 15px;
					flex-wrap: wrap;
				}
			}

			
		}

		.dark-block {

			&__wrap {
				max-width: 670px;
				margin: 0 auto;
			}
		}
	}
}

.sadow-section {
	position: relative;
	z-index: 10;
	background: #fff;

	.all-shadow {
		width: 100%;
		height: 100%;
		left: 0;
		top:0;	
		z-index: -1;
	}

	&.top {

		.all-shadow {
			top: 100px;
			height: calc(100% - 100px);
		}
	}

	.content-title {
		display: inline-block;
		
	}

	.sponsor {

		&__block {
			padding: 0 0 30px 0;
			margin: 40px 0;
		
			.button-wrap  {
				margin-top: 30px;
			}

			.button {
				display: inline-block;			
			}
		}

		&__list {
			padding: 0 30px;
		}
	}
}

.button-wrap {
	text-align: center;
}

.layot-content-block {
	width: calc(100% - 372px - 30px);
	//width: calc(66.66% - 30px);
	position: relative;
	background: #fff;
	z-index: 10;

	.all-shadow {
		width: 100%;
		height: calc(100% - 50px);
		left: 0;
		bottom: 50px;	
	}

	&.top {

		.all-shadow {
			top: 100px;
		}
	}

	&__header {
		position: relative;
		overflow: hidden;
		min-height: 300px;
		z-index: 15;		

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:after {
			content: "";
			background: rgba(4, 49, 68, 0.7);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		
		&.flex {
			align-items: center;
			justify-content: center;
		}

		&.min {
			min-height: 200px;

			.layot-content-block__header-description-block {
				min-height: 200px;
			}
		}
	}

	.info-block {

		&__horisontal {	
			margin: 20px auto;	
			width: 100%;					

			span, a {
				font-size: 13px;
				color: #95c5da;
				display: inline-block;
				margin: 0 15px;
				font-weight: 400;

				&:last-child {
					margin-right: 0; 
				}	
			}

			.autor {
				margin: 10px 0;
			}

			.autor {
				flex-basis: calc(25% - 20px);
				flex-grow: 1;
			}

			
			.data-block,
			.tags-block {
				flex-basis: calc(25% - 20px);
				flex-grow: 1;
				display: flex;
				flex-wrap: nowrap;

				.fa-map-marker {
					color: $pink-color;
					margin-right: 5px;
				}	
			}

			.data {
				display: flex;
				flex-wrap: nowrap;
			}

			.views {
				display: flex;
				flex-wrap: nowrap;

				.fa {
					margin-right: 5px;
				}
			}			
		}

		&__content-horisontal {
			color: $gray-color;
			display: flex;	
			align-items: center;


			.autor,
			.data-block,
			.tags-block {
				margin: 0 20px 0 0;							
			}	
		}		
	}

	&__header-description-block {
		text-align: center;
		position: relative;
		z-index: 10;
		padding: 40px 45px;
		min-height: 300px;

		&.col {
			display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    align-items: stretch;
		}

		&.col-cent {
			display: flex;
			align-items: center;
		}
		

		&.left {
			text-align: left;
		}

		&.flex {
			align-items: center;
		}

		.uptl_toolbar_share {
			margin-bottom: 0;
		}
		
	}

	&__header-social-block {

		.text-13 {
			color: #95c5da;
		}
	}

	.sadow-section {
		position: relative;
		z-index: 10;

		.all-shadow {
			width: 100%;
			height: 100%;
			left: 0;
			top:0;	
			z-index: -1;
		}

		&.top {

			.all-shadow {
				top: 100px;
				height: calc(100% - 100px);
			}
		}
	}

	&__header-wrap {		
		flex-basis: 60%;
		flex-grow: 1;		
		text-align: left;

		.calendar-block {
			display: inline-block;
			margin-left: 20px;

			.event__info-block_value {
				font-weight: 400;
				color: $mdl-blue-color;
				display: inline-block;
				margin-left: 20px;
			}
		}

		.event__info-wrap {
			justify-content: flex-start;
			margin-top: 30px;

			.event__info-block_value {
				color: #fff;
			}

			.event__info-block_text {
				flex-basis: auto;
				flex-grow: 0;
			}
		}

		.social-button__block {
			color: $mdl-blue-color;
		}
	}

	.label-block {
	
		&.stat {
			position: static;
			height: auto;
			margin-top: 0;
			width: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: 30px;

			.button {
				margin: 15px;
			}		
		}
	}	
}

.layouot-top-wrap {
	position: relative;
	top: -90px;
}

.info-block {

	&__horisontal {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.all-shadow {
	position: absolute;
	-webkit-box-shadow: 1px 2px 50px 7px rgba(240,243,247,0.75);
	-moz-box-shadow: 1px 2px 50px 7px rgba(240,243,247,0.75);
	box-shadow: 1px 2px 50px 7px rgba(240,243,247,0.75);

	&.article {
        height: calc(100% - 100px);
    }
	//z-index: 5;	
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
	min-width: 320px;
	position: relative;	

	&.flex {
		align-items: flex-start;
	}

	&.shadow-container {

		.all-shadow {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&.h100 {
		min-height: 100%;
	}
}

.icon {
	vertical-align: top;
	display: inline-block;
}

.breadcrumb-list {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	
	li {
		a {
			font-size: 12px;
			font-weight: 400;
			text-decoration: none;
			color: #5f94ac;			
		}

		&:hover,
		&:focus,
		&:active {

			a {
				text-decoration: none;
				color: #94c4d9;
			}

			&:after {		
				color: #94c4d9;
			}			
		}

		&:after {
			content:"/";
			color: #5f94ac;	
			padding: 0 5px;		
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	.fa {
		margin-right: 3px;
		font-size: 15px;
	}
}


.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}

}


.img-wrap {
	overflow: hidden;

	img {
	 width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
	vertical-align: top;
	}

	&.mask {
		position: relative;

		&:after {
			content: "";
			opacity: 0.4;
			background-color: #000;
			background-image: linear-gradient(to right, rgba(106, 17, 203, 0.75), rgba(36, 116, 252, 0.75));
			transition: 0s;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

}

.custom-object-fit {
	background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center center;
  img {
    opacity: 0;
  }
}

/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.img-wrap img {
		width: 100%;
		height: auto;
	}
 }*/

 /*@supports (-ms-ime-align:auto) {
	.img-wrap img {
		width: 100%;
		height: auto;
	}
}*/

 .logo-wrap {
	
	img {               
		max-width: 100%;
		max-height: 100%;
		vertical-align: middle;
	}
}

.block-label {
	display: inline-block;
	color: #fff;
	font-size: 23px;
	font-weight: 700;
	padding: 20px 30px;
	text-transform: uppercase;
	position: absolute;	
	z-index: 10;

	&__pink {
		background: $pink-color;
	}

	&__blue {
		background: $blue-color;
	}
}

