

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot');
  src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Light.woff') format('woff'),
  url('../fonts/Gilroy-Light.ttf') format('truetype'),
  url('../fonts/Gilroy-Light.svg#Intro') format('svg');
  font-weight: 100;  
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Extrabold.eot');
  src: url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Extrabold.woff') format('woff'),
  url('../fonts/Gilroy-Extrabold.ttf') format('truetype'),
  url('../fonts/Gilroy-Extrabold.svg#Intro') format('svg');
  font-weight: 700;  
  font-style: normal;
}
