$icon-font-path: '../fonts/';

@import "_includs";

.header {	

	::-webkit-input-placeholder {color:$dark-blue-color;}
	::-moz-placeholder          {color:$dark-blue-color;}/* Firefox 19+ */
	:-moz-placeholder           {color:$dark-blue-color;}/* Firefox 18- */
	:-ms-input-placeholder      {color:$dark-blue-color;}

	}
	
//nav

.menu-wrap {
	margin: 0 -10px;
	float: left;
	position: relative;	
}

	.header-top-block {
		width: 100%;
		background-color:#0b2733;
		height: 65px;
	}
	
	nav {

		ul {

			li {
				display:inline-block;
				position: relative;
				padding:20px 13px;

				a {
					color:#fff;
					display:block;
					text-decoration: none;				
					font-weight: 700;
					font-size: 18px;			
			
				 }

				 &:nth-child(2n) {

					a {
						&:focus,
						&:active {
							color: $blue-color;
							text-decoration: none;
						}
					}

					&:hover {

						a {
							color: $blue-color;
							text-decoration: none;					
						}
					}				
					
				}
	
				&:nth-child(2n+1) {

					a {

						&:focus,
						&:active {
							color: $pink-color;
							text-decoration: none;
						}
					}

					&:hover	{
						
						a {
							color: $pink-color;
							text-decoration: none;						
							
						}
					}				
				}				
			}
		}		  
	}	
	
	
	.menu-trigger {
		display:none;
		color:#F8ECC2;
	}

	/*open-close icons*/

	.bt-menu {
		/*position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 1000;*/
	}

	.bt-menu.bt-menu-open {
	height: 100%;

}

.bt-menu-trigger {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	display: block;
	width: 23px;
	height: 60px;
	cursor: pointer;
	z-index: 1000;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 3px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	transition: background-color 0.3s;
}

.bt-menu-open .bt-menu-trigger span {
	background-color: transparent;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	transform: translateY(0) rotate(45deg);
}

.bt-menu-open .bt-menu-trigger span:after {
	transform: translateY(0) rotate(-45deg);
}

/*search*/

.search-input.search-input-open {
	width: 200px;
	transition: width 1s;
	transform: scaleX(1);
	transition: transform 0.4s, width 0.4s;		
}

.search-input {
	outline: none;
	color: $dark-blue-color;
	font-size: 18px;
	font-weight: 400;
	border: none;
	border-bottom: 1px solid $dark-blue-color;
	background: transparent;	
	transform: scaleX(0);	
	transition: transform 0.4s, width 0.4s;	
	width: 0;	
}

.search-button {
	background: transparent;
	color: #fff;
	border: none;
	display: inline-block;

	.fa-times {
		display: none;
		color: $dark-blue-color;
	}

	&:hover,
	&:active {
		color: $dark-blue-color;
	}
}

.search-button-open {

	.fa-times {
		display: block;
	}

	.fa-search {
		display: none;
	}
}


	
//nav end

.entry-wrap {
	float: right;
	position: relative;
}

.entry {
	padding: 20px 0;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	display: inline-block;

	.fa {
		margin-right: 5px;
	}

	&:hover,
	&:active,
	&:focus {
		color: $dark-blue-color;
		text-decoration: none;
	}
}

.entry-window {
	width: 380px;
	//height: 400px;
	background: #fff;
	position: absolute;
	top: 65px;
	right: 0;
	display: none;
	z-index: 30;

	&__body {
		padding: 50px 60px 25px 60px;
		position: relative;



	}

	&__footer {
		background: #e3eef5;
		padding: 25px 60px;

		.button {
			width: 100%;
			margin-top: 20px;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		color: $gray-color;
	}

	.button {
		display: block;
	}
}

.entry-window-signup {
	display: none;

	&:active {
		display: block;
		z-index: 100;
	}
}

.close-entry-window {
	cursor: pointer;
	display: inline-block;
	top: 15px;
	right: 25px;
	color: $dark-blue-color;
	font-size: 25px;
	position: absolute;	
	z-index: 10;
}

.entry-form {

	&__input-wrap {
		width: 100%;
		min-height: 40px;
		position: relative;
		margin-bottom: 10px;

		.fa {
			color: $gray-color;
			position: absolute;
			transform: translateY(80%);
			left: 15px;
		}

		&.error {

			.entry-form__input {
				border: 3px solid $pink-color;
			}			
		}

		.error-text {
			text-align: left;
			font-size: 14px;
			margin-top: 3px;
			display: block;
		}
	}

	&__input {
		width: 100%;
		height: 100%;
		border: 2px solid $light-blue-color;
		background: $x-light-blue-color;
		padding: 0 15px 0 40px;
		font-size: 16px;
		font-weight: 400;
		height: 40px;
	}

	::-webkit-input-placeholder {color:$gray-color;}
	::-moz-placeholder          {color:$gray-color;}/* Firefox 19+ */
	:-moz-placeholder           {color:$gray-color;}/* Firefox 18- */
	:-ms-input-placeholder      {color:$gray-color;}

	.warning-text {
		display: block;
		font-size: 14px;		
		text-align: right;
		margin: 20px 0;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			color: $pink-color;
			text-decoration: underline;
		}
	}

	.button {
		margin: 0 auto;
	}
}

.label-checkbox {
  position: relative;  
	cursor: pointer;
	display: flex;
	font-size: 14px;
	font-weight: 400;
	color: $gray-color;
	margin: 20px 0;
}

.checkbox {
  position: relative;
  top: -0.375rem; 
	cursor: pointer;
	margin-right: 20px !important;
	
	&:before {
		-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
		-moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
		transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
		-webkit-transform: rotate(-45deg) scale(0, 0);
		-moz-transform: rotate(-45deg) scale(0, 0);
		-ms-transform: rotate(-45deg) scale(0, 0);
		-o-transform: rotate(-45deg) scale(0, 0);
		transform: rotate(-45deg) scale(0, 0);
		content: "";
		position: absolute;
		left: 0.25rem;
		top: 0.2rem;
		z-index: 1;
		width: 0.75rem;
		height: 0.375rem;
		border: 2px solid $pink-color;
		border-top-style: none;
		border-right-style: none;
	}

	&:checked:before {
		-webkit-transform: rotate(-45deg) scale(1, 1);
		-moz-transform: rotate(-45deg) scale(1, 1);
		-ms-transform: rotate(-45deg) scale(1, 1);
		-o-transform: rotate(-45deg) scale(1, 1);
		transform: rotate(-45deg) scale(1, 1);
	}

	&:after {
		content: "";
		position: absolute;
		top: -0.125rem;
		left: 0;
		width: 20px;
		height: 20px;
		background: $x-light-blue-color;
		border: 3px solid $light-blue-color;
		cursor: pointer;
	}
	
}

//search window

.search-window {
	width: 480px;
	height: 430px;
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	top: 65px;
	right: -30%;
	background: #fff;
	z-index: 20;

	&__title-block {
		background: $x-light-blue-color;
		padding: 15px 35px;
	}

	&__content-block {
		padding: 15px 35px;
		display: block;
		text-decoration: none !important;
		border-bottom: 1px solid $border-color;

		&:last-child {
			border-bottom: none;
		}

		&_title {
			font-size: 17px;
			font-weight: 400;
			color: $dark-blue-color;
			text-decoration: none;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&_text {
			font-size: 15px;
			font-weight: 400;
			color: $gray-color;
			margin: 10px 0;
			display: inline-block;			
		}

		&:hover {

			.search-window__content-block_title {
				color: $pink-color;
			}
		}
	}

	&_bold {
		font-weight: 700;
	}
}

.morecontent {
	display: none;
}

.search-window__more {
	font-size: 14px;
	font-weight: 400;
	color: $dark-blue-color;
	text-decoration: none !important;
	border-bottom: 1px dashed $dark-blue-color;
	display: inline-block;
	margin: 15px 35px;

	&:hover,
	&:focus {
		border-bottom: none;
		margin-bottom: 16px;
		color: $blue-color;
	}
}


//bottom-block

.header-bottom-block {
	position: relative;
	width: 100%;
	min-height: 235px;
	//background: linear-gradient(to bottom right, #064862, #0b76a0, #69d0f8);
	//background: linear-gradient(to right, #064862, #69d0f8 100%, #064862); /*http://joxi.ru/8An6pYLhjepWzA*/
	//background: linear-gradient(to right, #064862, #0d8bbc 50%, #064862); /*http://joxi.ru/LmGE5KXIeXPDEA*/
	//background: linear-gradient(to bottom, #064862, #0d8bbc); //http://joxi.ru/l2ZNlGahw1PaL2
	background: linear-gradient(to right bottom, #064862, #0d8bbc); //http://joxi.ru/E2pdBDRh9QL8z2
	

	.header-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.title {
		line-height: 1.5em;
	}
}

.header-main-wrap {
	margin: 50px 0;
	align-items: center;
}

.logo-wrap {
	max-width: 337px;
	display: inline-block;
	margin-right: 60px;

	.logo {
		width: 100%;	
	}
}
