$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$black-color: #252525;
$blue-color: #4dd4d9;
$pink-color: #f186a3;
$light-pink-color: #f7dae2;
$gray-color: #999999;
$dark-blue-color: #65a1bb;
$x-dark-blue-color: #043144;
$light-blue-color: #dae5ef;
$x-light-blue-color: #f4fbff;
$border-color: #e4e4e4;