$icon-font-path: '../fonts/';

@import "_includs";

.library-page {

    .thumb-wrap {
        position: relative;
        padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
        padding-top: 30px;        
        overflow: hidden;
        height: 100%;
      }
      .thumb-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
}

.library-filter {
    margin: 30px 0;

    &__list {
        margin: 0 -25px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__item {      
        width: calc(33.3% - 50px);
        margin: 0 25px;
        display: flex;
        flex-wrap: wrap;
        align-items:flex-start;
        flex-grow: 1;
    }
}

.dark-filter {

    .nice-select {
        width: 100%;
        border: 1px solid #fff;
        color: $mdl-blue-color;
        text-align: left;

        &:after {
            border-style: solid;
            border-width: 0;
            border-color: transparent;
            border-bottom: 1px solid $mdl-blue-color;
            border-right: 1px solid $mdl-blue-color;           
            content: '';
            display: block;
            height: 7px;
            margin-top: -4px;
            pointer-events: none;
            position: absolute;
            right: 12px;
            top: 50%; 
            transform: rotate(45deg);          
            //transform-origin: 66% 66%;          
            transition: all 0.15s ease-in-out;
            width: 7px;
        }

        &.open {

            &:after {
               // margin-top: 7px;
                margin-right: 0;
                transform: rotate(-135deg);
            }
        }
    }

    .list {
        z-index: 11;
        max-height: 220px;
        overflow-y: auto;
        background: $x-dark-blue-color;
        border: 1px solid #fff;
        color: $mdl-blue-color;
    }
}

.dable-filter-wrap {
    margin: 0 -7px;
    width: calc(100% + 14px);
    display: flex;
    flex-wrap: wrap;
}

.dable-select-wrap {
    width: calc(50% - 14px);
    margin: 0 7px;
}

.filter-title {
    font-size: 16px;
    font-weight: 700;
    color: $pink-color;
    margin-bottom: 10px;
    width: 100%;
}

.library {

    &__list {
        margin: 0 -25px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: calc(33.3% - 50px);
        margin: 0 25px 50px 25px;
        height: 200px;
        overflow: hidden;
        position: relative;        
    }

}

.library-link-wrap {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;

    &:before {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 49, 69, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .img-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none; 
        
        .library-item-title {
            color: $blue-color;
            transition: all .5s ease 0s;
        }
        
        img {
            transform: scale(1.1);
            transition: all 0.5s;	
        }		
    }

    &:not(:hover) {

        img {
            transition: all 0.5s;	
        }		
    
        }
    }


.library-item-descr {
    position: relative;
    z-index: 7;
    text-align: center;

    .data-block {
        margin: 10px 0 5px 0;
    }

    .data {
        color: #fff;
    }

    .loock-block {
        margin-left: 0;

        .fa {
            color: $blue-color;
        }

        .loock {
            color: #fff;
        }
    }
}

.library-item-title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
    max-width: 270px;
    max-height: 75px;
    overflow: hidden;
}

.library-item-text {
    font-size: 14px;
    color: $pink-color;    
}

.layouot-top-wrap {

    .column {

        .all-shadow {           
            width: 100%;
            height: calc(100% - 115px);
            top: 115px;
            left: 0;

            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 115px;
                background: #fff;
                position: absolute;
                top: -115px;
                left: 0;
                z-index: 0;
            }
        }
    }
}

.logo-block {
    position: relative;
    z-index: 10;
    height: 120px;
    width: 100%;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.square {

    &__list {
        
    }

    &__item {
        position: relative;
        padding-left: 30px;
        margin: 10px 0;
        
        .text-16 {
            padding: 3px 0;
        }

        &:after {
            content: "";
            display: block;
            width: 11px;
            height: 11px;
            background: $pink-color;
            position: absolute;
            top: 0;
            margin-top: 8px;
            left: 0;
        }
    }
}

.contact-block {

    a {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: $black-color;
        margin: 3px 0;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
            color: $blue-color;
            text-decoration: none;
        }
    }
}

.contact-block {
    margin: 15px 0;
    position: relative;
    padding-left: 30px;

    .fa {
        position: absolute;
        top: 0;
        margin-top: 3px;
        left: 0;
        color: $pink-color;
    }
}

.text-wrap {

    .article-column__text-block_2 {

        .text-17 {
            padding: 0;
        }
    }
}
