$icon-font-path: '../fonts/';

@import "_includs";

.longrid-page {

    .title-md {
        margin: 50px 0;
    }
}

.article-gallery {
    margin: 50px 0;

    .img-wrap {
        height: 500px;
    }

    &__text-wrap {
        margin-top: 20px;
        
        span {
            display: inline-block;
        }
    }

    &__page {
        font-size: 17px;
        font-weight: 700;
        margin-right: 20px;
    }

    &__text {
        font-size: 17px;
        font-weight: 400;
    }

    .slick-prev {
       left: 30px;
    }

    .slick-next {
        right: 30px;
    }
}

.color-layot-block {
    background: $x-light-blue-color;   
    position: relative;    

    &:before {
        content: "";
         background: $x-light-blue-color;
         position: absolute;
         top: 0;
         right: 100%;
         width: 100%;
         height: 100%;
         z-index: 20;
    }

    &:after {
        content: "";
         background: $x-light-blue-color;
         position: absolute;
         top: 0;
         left: 100%;
         width: 100%;
         height: 100%;
         z-index: 20;
    }

    .autor-text {
        margin-top: 20px;
        display: inline-block;
    }

    .article-wrap {
        background: $x-light-blue-color;  
    }
}

.quote-block {
    padding: 70px 30px;     
}

.article-wrap {

    &.quote-block {
        background: $x-light-blue-color;
    }
}

.param {

    &__list {

    }

    &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;
        padding: 45px 0;

        &:last-child {
            border-bottom: none;
        }
    }

    &__value {
        font-size: 60px;
        color: $blue-color;
        font-weight: 900;
        margin-right: 20px;
        width: 140px;
         flex-basis: 140px;
         flex-shrink: 0;

        span {
            font-size: 26px;
        }
    }

    &__text {
        font-size: 19px;
        font-weight: 700;
    }
}