$icon-font-path: '../fonts/';

.main-publication-section {
	background: url(../images/bg-section-1.jpg) no-repeat;
	background-size: cover;
	margin-top: -90px;

	.container {
			margin-top: 150px;
	}
}


