$icon-font-path: '../fonts/';

@import "_includs";

//main-event-section

.main-event-section {
   background: $x-dark-blue-color;
   padding: 90px 0 0 0;
   position: relative;
   z-index: 10;

	 .content-wrap {
		position: relative;
	 }

	 .info-block {
		align-items: center;
		justify-content: space-between;

		span {
			display: inline-block;
			color: #95c5da;
			font-size: 14px;
		}	

		.data-block {
			margin: 0 10px;
		}	
	}

	.block-label {
		top: -20px;
		left: 80px;
		z-index: 10;
	}
}

.event {

	&__block {
		max-width: 1085px;
		min-height: 470px;	
		position: relative;	
		padding: 80px;

		&:after {
			content: "";
			background: rgba(18, 38, 48, 0.9);
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		
	}

	&__content-wrap {
		position: relative;
		z-index: 1;
		max-width: 480px;
		//max-width: 50%;
		padding: 50px 0 0 0;
		color: #fff;
	}	

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 50px 0;
	}

	&__item {
		flex-grow: 1;
		flex-basis: 25%;
		border-right: 1px solid #164457;
		color: #fff;
		padding: 0 30px;

		&:last-child {
			border-right: none;
		}

		.title-19 {
			height: 110px;
			overflow: hidden;
		}

		.info-block {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 25px;

			.data-block {
				margin: 5px 0;
			}

			span {
				margin: 5px 0;
			}
		}

		.label-block__link {
			color: #6aadc8;

			&:hover,
			&:focus,
			&:active {
				color: #fff;
			}
		}

		.button {
			margin: 0 0 auto 0 !important;
		}
	}

	&__price {
		color: $pink-color;
		font-size: 30px;
		font-weight: 800;
		display: block;
		margin: 20px 0;
	}

	&__price-block {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		.button {
			margin: 0 15px;
			display: inline-block;
		}

		.label-block__link {
			margin-top: 0;
			color: $mdl-blue-color;
			width: 33.3%;

			&:hover,
			&:focus,
			&:active {
				color: $pink-color;
			}
		}
		
	}
	
}

.label-block {
	padding: 40px;
	width: 470px;
	position: absolute;
	top: 50%;
	margin-top: -80px;
	overflow: hidden;
	height: 160px;
	right: 0;
	z-index: 20;
	color: #fff;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;

	&__pink {
		background: $pink-color;
	}

	&__blue {
		background: $blue-color;
	}

	&__dark-blue {
		background: $x-dark-blue-color;
	}

	&__price {
		font-size: 34px;
		font-weight: 800;
	}

	&__link {
		display: inline-block;
		color: #fff;
		font-weight: 400;
		font-size: 14px;
		text-decoration: none;
		margin-top: 20px;

		span {
			font-weight: 700;
		}

		.fa {
			margin-right: 5px;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			color: $x-dark-blue-color;

			.fa {
				color: #fff;
			}
		}
	}
}

.event-section {
	background: url(../images/section-bg-2.jpg) no-repeat;
	background-size: cover; 
	padding: 70px 0 90px 0;

	.title-lg {
		font-weight: 100;
		color: $blue-color;
		text-transform: uppercase;
		text-align: center;
	}

	.button {
		display: table;
		margin: 0 auto;
	}

	&.white {
		background: #fff;
		margin: 0 0 40px 0;
		padding: 0;
		position: relative;
		z-index: 15;

		.event-block {
			padding: 50px 0 30px 0;		
			position: relative;
			margin: 0;
			border-top: 1px solid $border-color;		

			&.no-top-border {
				border-top: none;
			}		

			&:after {
				display: none;
			}

			.title-sm {
				display: block;
				color: $md-blue-color;
			}	
		}
		
		.all-shadow {
			top: 0;
		}

		.content-title  {
			display: inline-block;
			margin-top: -10px;
		}

		.event {

			&__list {
				margin: 0 0 30px 0;
				padding: 50px 0 0 0;
			}

			&__item {
				border-right: none;

				.info-block {
					color: $black-color;
				}

				.data {
					color: $black-color;
				}

				.label-block__link {
					color: $black-color;
					font-size: 12px;

					&:hover,
					&:focus,
					&:active {
						color: $pink-color;
					}

					.fa {
						color: $pink-color;
					}
				}
			}
		}		

		.event {

			&__data-wrap {
				color: $gray-color;
			}

			&__calendar-block {
				padding: 30px;
				border-bottom: 1px solid $border-color;
				position: relative;

				&:last-child {
					border-bottom: none;
				}
				

				&:hover {
					background: $x-light-blue-color;

					.event__button-block {
						opacity: 1;
						transition: all 1s ease 0s;
					}
				}

			}

			&__add-block {				
				 width: 20%;
				flex-basis: 20%;
				flex-shrink: 0;				

				.event__calendar-block_price {
					width: auto;
				}

				.event__button-block {
					opacity: 0;
				}

				.button {
					margin: 10px 0;
				}

				.label-block__link {
					color: $black-color;
					margin-top: 10px;

					.fa {
						color: $pink-color;
					}

					&:hover,
					&:focus,
					&:active {
						color: $pink-color;
					}
				}

			}

			&__info-wrap {
				color: $black-color;
			}

			&__info-block {

				&_text {
					font-weight: 700;
				}

				&_value {
					font-weight: 400;
				}				
			}			
		}	
	}
}

//event-main-page

.event {

		.main-event-section {
				background: transparent;
				padding: 0;

				.block-label {						
						left: 30px;						
				}

				.event {

						&__block {
							margin-right: 40px;
							position: relative;
							z-index: 15;
							padding: 50px 30px;
							
							/*&:before {
								content: "";
								width: 40px;
								height: 100%;
								background: linear-gradient(to right, rgba(240, 243, 247, 0.55), rgba(240, 243, 247, 0.35));

								position: absolute;
								top: 0;
								left: 100%;
							}*/
						}

						&__content-wrap {
							max-width: 390px;
					}
					
				}

				.label-block {
					width: 290px;
					height: 200px;
					margin-top: -100px;
					padding: 30px;

					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: space-between;
				}

				.info-block {
					flex-direction: column;
					align-items: flex-start;

					.data-block {
						margin: 0;
					}

					span {
						margin: 5px 0;
					}
				}
		}	
}

.event {

		&__label {						
		display: inline-block;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 5px;
		margin-bottom: 15px;
		color: #fff;

		&.dark-blue {
			background: $md-blue-color;
		}

		&.pink {
			background: $pink-color;
		}

		&.blue {
			background: $blue-color;
		}
	}
}

	