$icon-font-path: '../fonts/';

@import "_includs";

.publications-page {

    ul.tabs li {
        max-width: 123px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.main-page {

   .publication-section {
       z-index: 20;
       position: relative;
   } 
}

