$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 992px) {

	.sadow-section {

		&.top {
			margin-top: 0;
		}
	}

	.layot-content-block {

		&.top {
			margin-top: 0;
		}
	}

	.search-input {
		font-size: 14px;		
	}

	.search-input.search-input.search-input-open {
		width: 150px;
	}

	.main-page {

		.column {	
			width: calc(100% - 30px);		

			&__img-wrap {
				margin: -50px 30px 0;
				max-height: 565px;
				width: calc(100% - 60px);			
			}
		}
	}

	//news-section

	.column-wrap {
		margin: 0 -30px;

		&.flex {
			flex-direction: column;
		}
	}

	.column {		
		margin-bottom: 30px;

		&__1-3 {

			.all-shadow {
				display: none;
			}
		}

		&__1-2 {
			width: calc(50% - 30px);
		}
	

		&.top {
			margin-top: 0;
		}

			.content-title {

			&__left {
				margin: -73px auto 40px -30px;
				display: inline-block;
			}
		}
		
	}	

	//tab-section

	.tab-section {

		.column-wrap {
			margin: 0 -15px;
		}

		.column {
			text-align: center;
		}

		.button {
			display: inline-block;
			text-align: center;
		}
	}

	ul {

		&.tabs {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;

			li {
				margin-bottom: 15px;

				&:hover {
				padding: 3px 11px;
				margin-top: 0;
				//margin-bottom: 0;

					&:after {
						display: none;
					}

					&:before {
						display: none;
					}
				}

			&.active {
				padding: 3px 11px;
				margin-top: 0;
				margin-bottom: 0;

					&:after {
						display: none;
					}

					&:before {
						display: none;
					}
				}
			}			
		}
	}	

	.tab-block {
		padding: 30px 30px 30px 30px;

		&:before {
			display: none;
		}
	}

	.tab_container {
		
		&__right-block {	

			&_horisontal {
							
				
				&.column__2-3 {
					width: calc(100% - 30px);
				}
			}

			&_vertical {
				
			}
		}
	}

	

	//publication-section

	.publication-section {

		&__column-wrap {
			width: calc(100% - 30px);
		}

		.button {
			display: inline-block;
		}		
	}



	//main-publication-section

	.main-publication-section {
		margin-top: 30px;

		.container {
			padding-top: 50px;
		}

		.column-wrap {
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0;
		}

		&__column {
			width: 100%;
			display: flex;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 30px;
		}

		&__block {
			width: calc(50% - 30px);
			margin: 0 15px;
		}

		&__center-column {
			width: 100%;
			max-height: 300px;
			margin-bottom: 30px;
		}
	}

	//exhibition-section

	.exhibition-section {

		&__item {
			width: 100%;
		}

		&__right-column-content-wrap {
			padding: 25px 15px;
		}
	}

	
	//main-event-section

	.event {

		&__content-wrap {
			max-width: 100%;
		}

		&__item {
			flex-basis: 50%;
			border-bottom: 1px solid #164457;
			border-top: 1px solid #164457;
			padding: 30px;

			.label-block__link {
				margin-top: 20px;
			}
		}

	}

	.label-block {
		width: 100%;
		position: static;
		margin-top: 0;

		&__link {
			margin-top: 0;
		}
	}

	//footer

	.footer {

		&__column {
		width: calc(100% - 15px);
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

			&_center {
				width: 100%;
				margin-bottom: 30px;
				padding: 0 15px;
			}
		}

		&__contacts-block {
			text-align: left;
		}

		&__copyright-block {
			text-align: left;
			margin-top: 20px;
		}
	}

	//для всех секций с сайдбаром

	.container {
		
		&.flex {
			flex-wrap: wrap;
		}
	}

	.layot-content-block {
		width: 100%;

		&__header-description-block {

			&.flex {
				flex-direction: column;
				align-items: center;
			}
		}

		&__header-wrap {
			display: flex;
			flex-direction: column;			
			align-items: center;
			flex-grow: 0;
			margin-right: 0;

			.title-md {
				text-align: center;
			}			
		}

		.label-block{

			&.stat {
				width: 100%;
				flex-direction: row;
				flex-wrap:wrap;
				margin-top: 20px;
				justify-content: center;
				margin-left: 0;

				.button {
					margin: 15px;
				}
			}			
		}
	}

	.sidebar {
		width: 100%;
		margin-top: 30px;
		margin-left: 0;

		.column {
			width: 100%;
		}

		&__event-block {				

			.label-block {				

				.button {
					margin: 20px;
				}
				
			}
		}
	}

	//longrid

	.article-gallery {

		.img-wrap {
			height: 400px;
		}
	}

	//autors
	
	.autor {

		&__wrap {
			flex-wrap: nowrap;
		}

		&__button-block {
			flex-basis: 250px;
			width: 250px;
			margin-left: 10px;
		}
	}

	.switch-block {
		display: none;
	}

	//exhibition
	

	.layot-content-block {

		&__header-description-block {

			&.with-btn {
				justify-content: center;
				

				.button {
					margin-left: 0;
					flex-basis: auto !important;
					margin-top: 30px;	
				}
			}
		}
	}

	.layot-content-block .info-block__horisontal .autor, .layot-content-block .info-block__horisontal .data-block, .layot-content-block .info-block__horisontal .data-block {
    	flex-direction: column;

    	span {
			display: inline-block;
			margin: 5px 0;
    	}
	}

	.main-post-list {
		padding: 0 15px;

		.img-wrap {
			//max-height: 270px;
		}

		.column__info-wrap {			

			.loock-block,
			.like-block,
			.comment-block,
			.data-block,
			.autor-block {
				//margin-left: 0;
				margin-top: 5px;
			}			
		}

		
	}
		
}