$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$purple-color: #603673;

@media only screen and (max-width: 767px) {

	.header-top-block {
		height: auto;
	}

	.entry-window {
		top: 62px;
	}

	.search-window {
		top: 62px;
	}

	//nav
	.menu-trigger {
		display:block;
	}
	nav ul li {
		display:block;
		border-top:1px #79896D solid;    
	}
	nav ul {
		display:none;
	}

	//end nav
}