$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1210px) {	

	.container {
		max-width: 100%;
		width: 100%;
		padding: 0 15px;
	}

	.menu li.menu-middle {
		margin-left: 0;
	}


	.main-post-list {
		
		.column__info-wrap {			

			.autor-block {
				width: 100%;
				margin-top: 10px;
				margin-left: 0;
			}	
		}

		
	}

	.calc-modal {

		.modal-dialog {
			width: calc(100% - 30px)!important;
			transform: translate(50%, 50%);
		}

		.modal-content {		
			width: 100% !important;
			margin: 50px 15px;
			margin-left: 0;
			left: 0;
		}
		
	}

}