$icon-font-path: '../fonts/';

@import "_includs";


@media only screen and (max-width: 767px) {

	.colwrap {	

		.col-50 {
			width: calc(100% - 40px);
		}
	
		.col-40 {
			width: calc(100% - 40px);
		}
	
		.col-60 {
			width: calc(100% - 40px);
		}

		.col-66 {
			width: calc(100% - 40px);
		}

		.col-33 {
			width: calc(100% - 40px);
		}
	}


	.col-50 {
		width: 100%;
	}

	.header-top-block {
		position: absolute;
		//overflow-y: auto;
	}

	.entry-window {
		top: 62px;
	}

	.search-window {
		top: 62px;
	}

	.breadcrumb-list {
		display: none;
	}

	


	.layot-content-block {

		&__header-wrap {

			.calendar-block {
				margin-left: 0;

				span {
					display: block;	
					text-align: center;				
				}

				.event__info-block_value {
					margin: 15px 0 0 0;
				}
			}

			.social-button {

				&__block {
					flex-direction: column;
					align-items: center;

					.text-13 {
						text-align: center;
					}
				}

				&__list {
					margin: 15px 0 0 0;
				}
				
			}
			
		}

		.label-block  {
			padding: 40px 20px;		
		}
	}

	//exhibition-section

.exhibition-section {

		.content-wrap {
			flex-direction: column;
		}

		&__left-column {
		
			.button {
				margin-left: 0;
				white-space: nowrap;
			}
		}

		&__right-column {
			width: 100%;
			flex-basis: 100%;    
    	flex-shrink: 0;
			margin-top: 0;

			.button {
				display: inline-block;
			}
		}
	}

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {	
		.exhibition-section__left-column {
			width: 100%;
		}

	 }
	

	.sponsor {

		&__item {
			padding: 25px 25px;
		}
	}

	//subnav

	.drop-menu {
		flex-wrap: wrap;
		padding: 30px; 

		&__close {
			position: static;
			margin-top: 20px;
			width: 100%;
		}
	}

	//article

	.article-column {

		&__text-img-block {
			flex-wrap: wrap;

			.article-column__img-col {
			width: 100%;
			flex-basis: 100%;
			margin-bottom: 30px;
			}
		}
		

		&__text-block {			

			&_3 {
				.text-17 {
					width: calc(100% - 40px);				
				}
			}
			
		}
		
	}

	.no-sidebar {

		.article-column {

			&__block {
			flex-wrap: wrap;

			.article-column__text-wrap {
				width: 100%;				
				margin-bottom: 15px;
				}

				.column {
					width: calc(100% - 60px);
					flex-basis: calc(100% - 60px);
					margin-top: 15px;				
				}
			}	
		}
	}

	.event {

		&__calendar-block {
			display: flex;
			flex-direction: column;
			align-items: center;

			.title-sm {
				text-align: center;
				display: block;
				margin-top: 20px;
			}

			&_price {
				margin-top: 30px;
				width: 100%;
				flex-basis: 100%;
			}

			.event__info-wrap {
				justify-content: center;
				margin-top: 20px;
			}	

			.event__info-block_text {
				flex-basis: auto;
				flex-grow: 0;
			}

			.button {            
            	margin-left: 0;
        	} 	
		}

		&__data-wrap {
			width: 100%;
		}

		&__price-block {
		flex-direction: column;

			.button {
				margin: 15px 0;			
			}		
		}

		.event-block {

			.event__add-block {
				width: 100%;
				text-align: center;
				flex-basis: 100%;

			}

			.event__button-block {
				text-align: center;

				.button {
					display: inline-block;
					margin: 15px auto;
				}

				.label-block__link {
					display: block;
				}
			}
		}		
		
	}

	//event-main-page

	.event-block {

		.event {

			&__info-block {
				text-align: center;
			}
		}
		
	}

	//material-page	

	.photo-block {

		.img-wrap {
			width: calc(25% - 6px);
		}
	}

	//autors	

	.autor {

		&__wrap {
			flex-wrap: wrap;
		}

		&__button-block {
			flex-basis: auto;
			width: 100%;
			margin-left: 0;
		}
	}

	//vacansies	

	.vacansies-page {

		.dark-block {

			&__form {
				flex-direction: column;
			}

			&__input {
				width: 100%;
			}			
		}
	}

	//calculator

	.checkbox {

		&__list {
			flex-wrap: wrap;
		}

		&__item {
			width: 50%;

			.text-17 {
				font-size: 15px;
			}
		}
	}

	.counter-block {
		flex-wrap: wrap;
		width: 100%;
	}

	.calc-wrap {
		width: 100%;
		padding: 25px 0;
	}

	.calculator-page {

		.column-wrap {

			&.flex {
				flex-direction: column;
			}
		}
	}

	//tag-modal

	.tag-modal-dialog {
		padding: 30px 15px;

		.tag-modal-wrap {
			margin-top: 30px;
		}
	}

	.vacansies-shop {

		&__list {
			flex-direction: column;
		}

		&__item {
			width: 100%;
			flex-basis: 100%;
			margin-bottom: 30px;

			&.level-1 {
				margin-top: 0;
				margin-left: 0;
			}

			&.level-2 {
				margin-top: 0;
				margin-left: 0;
				margin-bottom: 0;
			}
		}
	}

	//calculator-2

	.layuot-calc-block {
		margin-top: 50px;
	}

	.calc-block-wrap {
		padding: 30px 20px;		
	}

	.calc-price-list {
		flex-direction: column;
		align-items: flex-start;
	}

	.calc-price-item {
		margin: 5px 0;
	}

	.calc-item {
		width: calc(100% - 50px);
	}
	
	.calc-button-wrap {
		flex-direction: column;
		align-items: center;
	}

	.calc-input-total {
		margin-top: 10px;
		max-width: 180px;
	}

	.calc-button-wrap {

		.clear {
			margin-top: 10px;
		}
	}

	.others-services-section-1 {

		.column {
			width: 100%;
		}

		.column__2-3 {
			margin-left: 0;
			margin-right: 0;
		}

		.column__1-3 {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.calc-modal {

		.calc-modal-title {
			font-size: 20px;
		}

		.calc-modal {
			
			&__item {
				width: calc(100% - 166px);
				padding: 10px 0;
			}
	
		}
	}	

}	

