$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1210px) {	

	.container {
		max-width: 100%;
		width: 100%;
		padding: 0 15px;
	}

	.menu li.menu-middle {
		margin-left: 0;
	}


	.main-post-list {
		
		.column__info-wrap {			

			.autor-block {
				width: 100%;
				margin-top: 10px;
				margin-left: 0;
			}	
		}

		
	}
		

}