$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 667px) {

 //header

 .header-main-wrap {
		flex-direction: column;
		align-items: center;

		.title {
				text-align: center;
				margin-top: 20px;
		}
 	}

	 .tab_container {
		
		&__right-block {	

			&_horisontal {
				flex-direction: column;				
				
			}

			&__vertical {

			}
		}
	}

	.column {

		&__1-2 {
			width: calc(100% - 30px);
		}
	}

	 //publication-section

	 .publication-section {

		 .column {

			 &__2-3 {

				 .button {
					margin-left: -30px;
				 }
			 }

			  &__wrap {

				 &_right {

					.content-list {
						margin-left: -30px;
					}
				 }
			 }			
		 }
	 }

	 
	 
	
	.content-item {
		flex-direction: column;

		.img-wrap {
			max-width: 100%;
			margin-right: 0;			
		}

		&__block {
			margin-top: 20px;
		}
	}

	.sponsor {

		&__block {
			padding: 45px 0 70px 0;
		}

		&__list {
			border-bottom: none;			
		}

		&__item {
			padding: 25px 50px;
			width: 50%;
			border-bottom: 1px solid $border-color;
			border-top: 1px solid $border-color;
			border-right: none;
			height: 100px;
			margin-top: -1px;

			&:nth-child(2n+1) {
				border-right: 1px solid $border-color;
			}
		}
	}

	//main-event-section

	.main-event-section {
		padding: 0;
	}

	.event {

		&__block {
			text-align: center;
			padding: 80px 20px;

			.info-block {
				justify-content: center;
				align-items: center;
			}
		}

		.block-label {
			left: 50%;
			margin-left: -111px;
		}
	}	

	//vacancies-section

	.vacancies-section {
		padding: 50px 0;
	}

	.vacancies {

		&__column {
			width: 100%;
		}
	}

	//paging-block

	.paging {		

		&__item {

			&.next {
				margin: 0 10px;

				span {
					display: none;
				}				
			}
		}
	}

	//sort-block

	.sort {
		display: none;
	}

	//article

	.info-block {

		&__horisontal {
			flex-direction: column;

			.autor,
			.data-block,
			.tags-block {
				flex-basis: calc(100% - 20px);
				
			}	
		}
	}

	.article-column {

		&__text-block {
			
			&_2 {
				.text-17 {
					width: calc(100% - 40px);				
				}
			}

			&_3 {
				.text-17 {
					width: calc(100% - 40px);				
				}
			}
			
		}
			
	}

	.article {

		&__color-block {

			.title-19 {
				text-align: center;
			}
		}

		 &__table-block {

			 .table {
				width: 100%;
				border-right: 1px solid $border-color;	
				margin-bottom: 0;

				&:last-child {
					margin-bottom: 30px;
					margin-top: 0;
				}			
			 }			 
		 }
	}

	//longrid

	.article-gallery {

		.img-wrap {
			height: 300px;
		}
	}

	.param {

		&__item {
			padding: 20px 0;
		}

		&__value {
			font-size: 40px;

			span {
				font-size: 20px;
			}
		}
	}

	.color-layot-block {

		.text-30 {
			font-size: 24px;
		}
	}

	//event-main-page

	.calendar-banner {

		&__block {
			height: 375px;
		}

	}

	//event-one

	.event-program {

		&__item {
			flex-direction: column;

			&.title {
				align-items: flex-start;
			}
		}

		&__time-block {
			margin-bottom: 10px;
		}
	}

	//material-page

	.material-links {
		flex-direction: column;
		align-items: center;

		li {
			margin: 7px 0;
		}
	}	

	.material {

        &__column {            
			width: 100%;
			 border-right: none;			

			&:nth-child(3) {
				border-bottom: 1px solid $border-color;
			}

			&:last-child {
				border-bottom: none;
			}			
		}
	}	
	
}