$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1025px) {

	html {	
		overflow-x: hidden; 
	}
	

	//exhibition-section

	.sponsor {

		&__item {
		//	padding: 25px 40px;
		}
	}

	//social-section {

		.social {

			&__column {
				width: 100%;
				text-align: center;
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	
	//404

	.not-found {

		&__block {
			padding: 60px 0;
		}

		&__num {
			font-size: 160px;
		}
	}
}