$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 667px) {

 //header

 .header-main-wrap {
		flex-direction: column;
		align-items: center;

		.title {
				text-align: center;
				margin-top: 20px;
		}
 	}

	 .tab_container {
		
		&__right-block {	

			&_horisontal {
				flex-direction: column;				
				
			}

			&__vertical {

			}
		}
	}

	.column {

		&__1-2 {
			width: calc(100% - 30px);
		}
	}

	 //publication-section

	 .publication-section {

		 .column {

			 &__2-3 {

				 .button {
					margin-left: -30px;
				 }
			 }

			  &__wrap {

				 &_right {

					.content-list {
						margin-left: -30px;
					}
				 }
			 }			
		 }
	 }

	 
	 
	
	.content-item {
		flex-direction: column;

		.img-wrap {
			max-width: 100%;
			margin-right: 0;			
		}

		&__block {
			margin-top: 20px;
		}
	}

	.sponsor {

		&__block {
			padding: 45px 0 70px 0;
		}

		&__list {
			border-bottom: none;			
		}

		&__item {
			padding: 25px 50px;
			width: 50%;
			border-bottom: 1px solid $border-color;
			border-top: 1px solid $border-color;
			border-right: none;
			height: 100px;
			margin-top: -1px;

			&:nth-child(2n+1) {
				border-right: 1px solid $border-color;
			}
		}
	}

	//main-event-section

	.main-event-section {
		padding: 0;
	}

	.event {

		&__block {
			text-align: center;
			padding: 80px 20px;

			.info-block {
				justify-content: center;
				align-items: center;
			}
		}

		.block-label {
			left: 50%;
			margin-left: -111px;
		}
	}	

	//vacancies-section

	.vacancies-section {
		padding: 50px 0;
	}

	.vacancies {

		&__column {
			width: 100%;
		}
	}
}