$icon-font-path: '../fonts/';

@import "_includs";


@media only screen and (max-width: 767px) {

	.header-top-block {
		height: auto;
	}

	.entry-window {
		top: 62px;
	}

	.search-window {
		top: 62px;
	}

	//nav

	.menu-wrap {
		width: 100%;
	}
	.menu-trigger {
		display:block;
	}
	nav ul li {
		display:block;
		border-top:1px #79896D solid;
		padding: 15px 13px;    
	}
	nav ul {
		display:none;
	}

	.search-input.search-input.search-input-open {
		width: calc(100% - 15px);	
	}
	

	//end nav

	.entry-wrap {
		position: absolute;
		top: 0;
		right: 15px;
	}

	//exhibition-section

.exhibition-section {

		.content-wrap {
			flex-direction: column;
		}

		&__left-column {
		
			.button {
				margin-left: 0;
				white-space: nowrap;
			}
		}

		&__right-column {
			width: 100%;
			flex-basis: 100%;    
    	flex-shrink: 0;
			margin-top: 0;

			.button {
				display: inline-block;
			}
		}
	}

	.sponsor {

		&__item {
			padding: 25px 25px;
		}
	}
	
}

