$icon-font-path: '../fonts/';

@import "_includs";

.modal {
    background: rgba(4, 49, 68, 0.8);
   
}

.modal-header {
    background: $blue-color;    
    padding: 23px 30px;
    font-family: 'Gilroy', sans-serif;    
    color: #fff;

    .close {
        color: #fff;
        opacity: 1;
        font-size: 30px;
    }
}

.modal-body {   
    padding: 30px;
}

.modal-form {
   // max-width: 500px;
}

.modal-content {
    position: relative;
     border-radius: 0;
    margin: 0;
    padding: 0;
}

.input-wrap {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.input-value {
    width: 100px;
    flex-basis: 100px;
    flex-shrink: 0;
    margin-right: 15px;
    font-size: 16px;
    color: $gray-color;
}

.modal-input {
    width: 100%;
    background: $x-light-blue-color;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;    
    font-weight: 400;
    color: $gray-color;
    border: 2px solid $border-color;

    &::-webkit-input-placeholder {color: $gray-color;}
    &::-moz-placeholder          {color: $gray-color;}/* Firefox 19+ */
    &:-moz-placeholder           {color: $gray-color;}/* Firefox 18- */
    &:-ms-input-placeholder      {color: $gray-color;}
}

.modal-title {
    font-size: 21px;
    font-weight: 700;    
    text-transform: uppercase;
}

.modal-footer {
    padding: 30px;
    border-radius: 0;
    text-align: center;
    border-top: none;
}

//upload

.file_upload{
    position: relative;
    overflow: hidden;
     width: auto;
    //font-size: 1em;        /* example */
    ///height: 2em;           /* example */
    //line-height: 2em      /* the same as height */
}

.file_upload > button{
    float: right;
   // width: 8em;            /* example */
    height: 100%
}

.file_upload > div{
    padding-left: 1em      /* example */
}


.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.modal-button {
    border: none;
    background: $pink-color;
    padding: 8px 37px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    width: auto;

    &:hover {
        background: $blue-color;
    }
}

/****** CODE ******/

.file-upload {
    display:block;
    text-align:center;
    font-size: 14px;

    .file-select {
        display:flex;
        color: $pink-color;
        cursor:pointer;
        height:40px;
        line-height:40px;
        text-align:left;
        background:#FFFFFF;
        overflow:hidden;
        position:relative;
        text-align: center;

        .file-select-button {
            background:#fff;
           border: 2px solid $pink-color;           
           color: $pink-color;            
            padding:0 10px;
            display:inline-block;
            height:40px;
            line-height:38px;
        }

        .file-select-name {
            line-height:40px;
            display:inline-block;
            padding:0 10px;
            max-width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $black-color;
        }

        &:hover {
            border-color:$pink-color;
            transition:all .2s ease-in-out;
            -moz-transition:all .2s ease-in-out;
            -webkit-transition:all .2s ease-in-out;
            -o-transition:all .2s ease-in-out;

            .file-select-button {
                background:$pink-color;
                color:#FFFFFF;transition:all .2s ease-in-out;
                -moz-transition:all .2s ease-in-out;
                -webkit-transition:all .2s ease-in-out;
                -o-transition:all .2s ease-in-out;
            }
        }

         input[type=file] {
            z-index:100;
            cursor:pointer;
            position:absolute;
            height:100%;width:100%;
            top:0;
            left:0;
            opacity:0;
            filter:alpha(opacity=0);
        }

        &.file-select-disabled {
            opacity:0.65;

            &:hover {cursor:default;
                display:block;
                border: 2px solid #dce4ec;
                color: $pink-color;
                cursor:pointer;
                height:40px;
                line-height:40px;
                margin-top:5px;
                text-align:left;
                background:#FFFFFF;
                overflow:hidden;
                position:relative;
            }
        }
    }

    &.active {
        
        .file-select {
            border-color:$pink-color;
            transition:all .2s ease-in-out;
            -moz-transition:all .2s ease-in-out;
            -webkit-transition:all .2s ease-in-out;
            -o-transition:all .2s ease-in-out;

            .file-select-button {
                background:$pink-color;
                color:#FFFFFF;
                transition:all .2s ease-in-out;
                -moz-transition:all .2s ease-in-out;
                -webkit-transition:all .2s ease-in-out;
                -o-transition:all .2s ease-in-out;
            }           
        }
    }
}

 






