$icon-font-path: '../fonts/';

@import "_includs";


.news-section {
	background: #fff;	

		.shadow {
			
			&__side {			

			&:before {				
				height: calc(100% - 115px);
				top: 115px;
			}
		
			&:after {				
				height: calc(100% - 115px);
				top: 115px;
			}	
		}
	}

}

.column-wrap {
	margin: 0 -15px;
	flex-wrap: wrap;
}

.top {
	//margin-top: -115px;
	margin-top: -50px;
}

.center {
	margin-top: 30px;
	margin-bottom: 30px;
}

.m-bottom {
	margin-bottom: 30px;
}

.white {
	background: #fff;
}


.column {	
	position: relative;
	
	
	&__1-3 {
		width: calc(33.333% - 30px);
		margin-left:15px;
		margin-right: 15px;
		padding: 40px 30px;	
		//background: #fff;

		.data-block {
			margin: 2px 0;
		}

		.tags-block {
			margin: 5px 0 10px 0;
		}

		&.top {

			.all-shadow {
				width: 100%;
				height: calc(100% - 115px);
				top: 115px;
				left: 0;

				&:before {
					content: "";
					width: 100%;
					height: 115px;
					background: #fff;
					position: absolute;
					top: -115px;
					left: 0;
					z-index: 0;
				}
			}
		}

		

		.content-title {
			white-space: nowrap;
		}
	}

	&__1-2 {
		width: calc(50% - 30px);
		margin-left:15px;
		margin-right: 15px;
		padding: 40px 30px;	
	}

	&__layot-publication {

			&.column {
	
			&.img-column {
	
				.img-wrap {
					height: 415px;
				}
			}
	
			.content-title {
				width: 300px;
	
				&__left {
					margin: 0;
					position: absolute;
					left: 0;
					top: -10px;
				}

				&__right {
					margin: 0;
					position: absolute;
					right: 0;
					top: -10px;
				}
			}
		}			
	}

	&__2-3 {
		width: calc(66.666% - 30px);
		margin-left:15px;
		margin-right: 15px;
		padding: 40px 30px;	
		position: relative;	
	}

	.content-title {

		&__left {
			margin: -50px auto 40px -30px;
		}

		&__right {
			margin: -50px -30px 40px auto;
		}
	}

	&__pink {

		.title-17 {

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				color: $pink-color;
			}
		}
	}

	&__blue {
		
		.title-17 {

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				color: $blue-color;
			}
		}
	}

	.title-17 {
		max-height: 75px;
		overflow: hidden;
		display: inline-block;
	}
	
	.text-17 {
		color: $black-color;
		font-weight: 700;
		max-height: 75px;
    overflow: hidden;
    display: inline-block;

		&:hover,
		&:focus,
		&:active {
			color: $pink-color;
			text-decoration: none;
		}
	}

	&__no-padding {
		padding: 0;
	}

	&__padding {
		padding: 40px 30px;
	}

	&__transparent {
		background: transparent;
	}

	&__wrap_right {
		margin: -140px 0 0 30px;	
		padding: 30px;
		position: relative;	

		.info-block {
			margin-top: 10px;
		}

			
	}

	&__wrap {

			&_right {

				.content-list {
					margin-left: -30px;
				}
			}
		}	

		&__info-wrap {
			display: flex;
			align-items: center;
		}
}


.img-column {

	.img-wrap {
		height: 220px;
	}

	&__description-wrap {
		margin: -40px 10px 0 10px;
		background: #fff;
		padding: 25px 20px;
		position: relative;
		text-align: center;
	}
}

.column-block {
	margin: 30px 0;
	width: 100%;
	position: relative;
	z-index: 10;

	

	.img-wrap {
		width: 100px;
		height: 100px;
		margin-right: 15px;
		flex-shrink: 0;
		flex-basis: 100px;
	}

	&__thin {
		margin: 21px 0;
	}

	&__content-wrap {
		overflow: hidden;
	}

}

.shadow {

	&__side {
		position: relative;

		&:before {
			content: "";		
			background: linear-gradient(to left, #f0f3f7, #fff);
			position: absolute;			
			left: -30px;
			width: 30px;
			height: 100%;
			top: 0;			
		}
	
		&:after {
			content: "";		
			background: linear-gradient(to right, #f0f3f7, #fff);
			position: absolute;		
			right: -30px;
			width: 30px;
			height: 100%;
			top: 0;			
		}	
	}	

	&__all {
		-webkit-box-shadow: 5px 2px 50px 7px rgba(240,243,247,0.75);
		-moz-box-shadow: 5px 2px 50px 7px rgba(240,243,247,0.75);
		box-shadow: 5px 2px 50px 7px rgba(240,243,247,0.75);
		position: relative;
    z-index: 5;
	}
}

.data-block {
	margin: 10px 0;
}

.tags-block {
	margin: 10px 0;
}

.data {
	color: $gray-color;
	font-size: 12px;
	font-weight: 400;

	.fa {
		margin-right: 5px;
	}
}

.comment-block {
	display: inline-block;
	font-size: 12px;
	margin-left: 10px;

	.fa {
		color: $gray-color;
		margin-right: 5px;
		}
}


.comment {
	color: $gray-color;
	font-size: 12px;
	font-weight: 400;	
	
}

.loock-block {
	display: inline-block;
	font-size: 12px;
	margin-left: 10px;

	.fa {
		color: $gray-color;
		margin-right: 5px;
		}
	}

.loock {
	color: $gray-color;
	font-size: 12px;
	font-weight: 400;		
}


.tag {
	color: $gray-color;
	font-size: 12px;
	font-weight: 500;

	&:hover,
	&:focus,
	&:active {
		color: $blue-color;
		text-decoration: none;
	}
}

.img-wrap {

	&__gradient {
		height: 100%;
		position: relative;

		&:after {
			content: "";
			background: rgba(83, 83, 83, 0.5);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		
	}
}

.column-label {
	width: 165px;
	height: 130px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -62px;
	margin-left: -82px;
	z-index: 5;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	

	/*.column-label img {
		width: 100%;
		height: auto;		
	}*/

	.column-label {
		display: flex;
		align-items: 	center;
		}

		.img-wrap__gradient {
			height: auto;
		}
 }

 @supports (-ms-ime-align:auto) {

	

	/*.column-label img {
		width: 100%;
		height: auto;		
	}*/

	.column-label {
	display: flex;
	align-items: 	center;
	}

	.img-wrap__gradient {
		height: auto;
	}
}