$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1190px) {

	//subnav

	.subnav {

		&__item {

			&_btn {
				width: 100%;
				justify-content: center;
							
			}
		}
	}

	.drop-menu {
		padding: 0 100px 30px 30px; 
	}

	.tab-block {
		
		ul.tabs li{
			margin-bottom: 15px;

			&:hover {
			padding: 3px 11px;
			margin-top: 0;			
			}

			&.active {
			padding: 3px 11px;
			margin-top: 0;	
			}			
		}
	}

}

@media only screen and (max-width: 1155px) {

	//others-services-section

	.tab-block {
		padding: 30px 15px 30px 0;
	}

	.others-services {

		&__item {
			flex-basis: calc(50% - 18px);
		}
	}

	.tab_content {
		padding: 55px 0 0 0;

		.column__1-2  {
			width: calc(100% - 30px);
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	//paging-block

	.paging {

		&__item {

			&.pink {
				display: none;
			}
		}
	}

}

@media only screen and (max-width: 1095px) {

	//main-event-section

	.event {

		&__content-wrap {
				max-width: 45%;
		}

		&__block {

			.info-block {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				.data-block {
					margin: 5px 0;
				}

				.text-14 {
					margin: 5px 0;
				}
			}			
		}
	}
}

	