$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (max-width: 1190px) {

	//subnav

	.subnav {

		&__item {

			&_btn {
				width: 100%;
				justify-content: center;
							
			}
		}
	}

	.drop-menu {
		padding: 0 100px 30px 30px; 
	}
}

@media only screen and (max-width: 1155px) {

	//others-services-section

	.others-services {

		&__item {
			flex-basis: calc(50% - 18px);
		}
	}
}

@media only screen and (max-width: 1095px) {

	//main-event-section

	.event {

		&__content-wrap {
				max-width: 45%;
		}

		&__block {

			.info-block {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				.data-block {
					margin: 5px 0;
				}

				.text-14 {
					margin: 5px 0;
				}
			}			
		}
	}
}

	