$icon-font-path: '../fonts/';

@import "_includs";

@media only screen and (min-width: 768px) {

	.modal-dialog {
		width: 500px;    
		}
}

@media only screen and (max-width: 1190px) {

	//subnav

	.subnav {

		&__item {

			&_btn {
				width: 100%;
				justify-content: center;
							
			}
		}
	}

	.drop-menu {
		padding: 0 100px 30px 30px; 
	}

	.tab-block {
		
		ul.tabs li{
			margin-bottom: 15px;

			&:hover {
			padding: 3px 11px;
			margin-top: 0;			
			}

			&.active {
			padding: 3px 11px;
			margin-top: 0;	
			}			
		}
	}

}

@media only screen and (max-width: 1155px) {

	//others-services-section

	.tab-block {
		padding: 30px 15px 30px 0;
	}

	.others-services {

		&__item {
			flex-basis: calc(50% - 18px);
		}
	}

	.tab_content {
		padding: 55px 0 0 0;

		.column__1-2  {
			width: calc(100% - 30px);
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	//paging-block

	.paging {

		&__item {

			&.pink {
				display: none;
			}
		}
	}

	//event-main-page

	.event {

		.main-event-section {

			.all-shadow {
				display: none;
			}

			.event {

				&__block {
					margin-right: 0;
				}

				&__content-wrap {
					max-width: 100%;
				}
			}

			.label-block {
				position: static;
				margin-top: 0;
				width: 100%;
				align-items: center;

				flex-direction: row;
				height: auto;
			}
		}
		
	}

	.event-section {

		&.white {

			.event {

				&__item {
					flex-basis: 100%;	
					border-bottom: 1px solid $border-color;
					border-top: none;
					padding: 30px;
					display: flex;
					align-items: center;
					flex-direction: column;

					&:last-child {
						border-bottom: none;
					}

					.title-19 {
						height: auto;
						text-align: center;
					}

					.info-block  {
						align-items: center;
					}	
				}
			}
		}				
	}

	//one-event

	.dark-block {

		&__info-block {
			width: 100%;
			text-align: center;
		}

		&__text {
			font-size: 26px;
			color: #fff;
			font-weight: 400;

			span {
				color: $pink-color;
			}
		}

		&__button-block {		
			text-align: center;
			width: 100%;
			margin-top: 15px;

		}
	}

	.article-column {

		&__block {
		flex-wrap: wrap;

		.article-column__text-wrap {
			width: 100%;				
			margin-bottom: 15px;
			}

			.column {
				width: calc(100% - 60px);
				flex-basis: calc(100% - 60px);
				margin-top: 15px;				
			}
		}	
	}

	.no-sidebar {

		.article-column {			

			&__block {
			flex-wrap: nowrap;

			.article-column__text-wrap {
				width: 100%;				
				margin-bottom: 15px;
				}

				.column {
					width: 320px;
					flex-basis: 320px;
					flex-shrink: 0;
					margin: 0 30px;				
				}
			}	
		}
	
	}

	//autors 

	.autor {

		&__wrap {
			flex-wrap: wrap;
		}

		&__button-block {
			flex-basis: auto;
			width: 100%;
			margin-left: 0;
		}
	}	
}

@media only screen and (max-width: 1095px) {

	//main-event-section

	.sidebar {

		.event__content-wrap {
			max-width: 100%;
			
		}

		&__event-block {

			.label-block {
				padding: 40px 20px;
			}
		}
	}

	.event {

		&__content-wrap {
				max-width: 45%;
		}

		&__block {

			.info-block {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				.data-block {
					margin: 5px 0;
				}

				.text-14 {
					margin: 5px 0;
				}
			}			
		}
	}
}

@media only screen and (max-width: 920px) {
//calendar

	.calendar-page {
		
	}

	.calendar {

		&__list {
			flex-direction: column;

			&-title {
				display: none;
			}
		}

		&__item {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid $border-color;

			&-title-block {
				text-align: left;
			}
		}

		&__body {

			&-hover-block {
				width: 100%;

				&-add {

					.button {
						flex-basis: auto;
					}
				}
			}
		}
	}

}

.open-page {

	.color-block__link-text {
		display: inline-block;
		margin: 0;
		font-size: 17px;
	}

	.article__color-block {

		.color-block__link-text {
				margin: 15px auto;
				display: block;
			}
	}

	.article__num-item {

		&:before {
			z-index: 10;
		}
	}

}



	