$icon-font-path: '../fonts/';

@import "_includs";

.publication-section {
	padding-top: 75px;	

	.all-shadow {
		top: 0;
		right: 0;		
		width: 100%;
		height: 100%;	
		background: #fff;
		z-index: -1;
	}

	.column {
		position: relative;
		z-index: 10;

		&__img {
			max-height: 450px;
			overflow: hidden;
			margin-top: 30px;
		}

		&__2-3 {		

			.all-shadow {				
				height: calc(100% - 50px);

				&:after {
					content: "";
					width: 100%;
					height: 50px;
					background: #fff;
					position: absolute;
					bottom: -50px;
					left: 0;
					display: block;
				}				
			}			
		}
	}
}

.info-block {

	&.flex {

		.data-block {
			margin-right: 10px;
		}
	}
}

.content-list {
	padding: 40px 0;	
}

.content-item {
	display: flex;
	margin-bottom: 40px;

	.img-wrap {
	max-width: 270px;
	max-height: 170px;   
    flex-basis: 50%;   
    flex-shrink: 0;
    margin-right: 30px;
    overflow: hidden;
	}

	&__block {
		flex-grow: 1;

		.fa {
			color: #c5e1ed;
			margin-left: 3px;

			&:hover {
				color: #c5e1ed;
				text-decoration: none;	
			}
		}

		.content-label {
			display: table;
			text-transform: uppercase;
			margin-bottom: 5px;
		}		
	}

	.data-block {
		margin-top: 15px;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

.publication-wrap {
	position: relative;
	z-index: 10;
	padding: 0 30px;
}

.time-wrap {
	flex-basis: 80px;
	flex-shrink: 0;
	margin-right: 30px;
	color: $gray-color;

	&__time {
		display: block;
		font-size: 20px;
		font-weight: 800;		
	}

	&__data {
		font-size: 14px;
		font-weight: 400;
	}
}

