$icon-font-path: '../fonts/';

@import "_includs";

.sidebar {
	background: rgba(240, 243, 247, 0.75);
	width: 372px;
	//width: 33.33%;
	margin-left: 30px;
//	margin-bottom: 30px;
	position: relative;
	z-index: 10;

	.all-shadow {
			width: 100%;
			//height: calc(100% - 50px);
			height: 100%;
			left: 0;
			//bottom: 50px;
			bottom: 0;
	} 

	.column {
			background: #fff;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}

		&__img-wrap {
				max-height: 650px;
		}
	}
}