$icon-font-path: '../fonts/';

@import "_includs";

.sidebar {
  width: 372px;
  margin-left: 30px;
  position: relative;
  z-index: 10;

  .all-shadow {
      width: 100%;
      height: calc(100% - 50px);
      left: 0;
      bottom: 50px;
  } 

  .column {
      margin-top: 30px;

    &__img-wrap {
        max-height: 650px;
    }
  }
}