/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-close {
  background-image: url(../images/sprite.png);
  background-position: 0px -106px;
  width: 22px;
  height: 24px;
}
.icon-mail-popup {
  background-image: url(../images/sprite.png);
  background-position: -106px 0px;
  width: 105px;
  height: 62px;
}
.icon-mail {
  background-image: url(../images/sprite.png);
  background-position: -133px -62px;
  width: 20px;
  height: 20px;
}
.icon-menu {
  background-image: url(../images/sprite.png);
  background-position: -106px -62px;
  width: 27px;
  height: 23px;
}
.icon-smile {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 106px;
  height: 106px;
}
