$icon-font-path: '../fonts/';

@import "_includs";

.subnav {  
	 width: 100%;
	 position: relative;
	 background: $x-dark-blue-color; 
	 z-index: 20;
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-between;	 

	 &__list {
		padding: 45px 26px 32px 26px;
		 display: flex;
		 //justify-content: space-between;
		 align-items: center;
		 flex-wrap: wrap;
		 justify-content: center;	

		 &.right {
			 //padding: 0;
		 }

		.current {
			color: $mdl-blue-color;
			font-size: 13px;
			font-weight: 400;
			display: inline-block;
			max-width: 100%;
			height: 100%;			
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin-bottom: 10px;

			&:hover {
				color:  $md-blue-color;
			}
		}

		.open {

			.current {
				color:  $md-blue-color;
				
			}
		}

		.nice-select {
			height: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: normal;
			//padding: 57px 11px 32px 11px;
			

			&:after {
				content: "\f175";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				line-height: normal;
				display: inline-block;
				border: none;
				position: static;
				top: 50%;
				//margin-top: -5px;
				color: $pink-color;
				margin: -7px 0 0 3px;
				height: 100%;
				vertical-align:middle;
			}

			&.open {

				&:after {
					margin: -7px 0 0 3px;
					transform: none;
				}
			}

			.list {
				margin-top: 0;
				background: $x-dark-blue-color;
				min-width: 100%;
				width: auto;
				padding-top: 40px;	
				max-height: 300px;			

				li {
					color: $mdl-blue-color;
				}

				.disabled {
					color: $md-blue-color;
				}
			}

			.option {

				&:hover,
				&.focus,
				&.selected.focus {
					color: #fff;
				}
			}
		}
	 }

	 &__item {
		 margin-right: 5px;
		 display: flex;
		 margin-bottom: 10px;	
		 max-width: 130px;
			 

		 &:after {
			 content: ".";
			 font-size: 16px;
			 font-weight: 700;
			 color: $blue-color;
			 
		 }

		 &:last-child {
			 margin-right: 0;
		 }	 

		a {
				color: #fff;
				font-size: 13px;
				font-weight: 400;
				display: inline-block;
				max-width: 100%;
				height: 100%;	
				padding: 5px 11px;
				 overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;			
		}

			&:hover,
			&:focus,
			&:active {
				outline: 1px solid #fff;

				a {
					text-decoration: none;
				}

				&:after {
					visibility: hidden;
				}
			}

		&_main {
			outline: 1px solid $pink-color;
			margin-right: 5px;	
			 margin-bottom: 10px;		 

			a {
				color: $pink-color;
				font-size: 13px;
				font-weight: 400;
				display: inline-block;
				width: 100%;
				height: 100%;	
				padding: 5px 11px;			
			}

			&:hover,
			&:focus,
			&:active {
				background: $pink-color;

				a {
						text-decoration: none;
						color: #fff;	
				}			
			}
		}

		&_btn {
			color: $pink-color;
			font-size: 12px;
			font-weight: 400;
			display: inline-block;		
			padding: 5px 30px 5px 11px;	
			display: flex;		
			align-items: center;
			margin-bottom: 10px;
			cursor: pointer;

			.fa-long-arrow-down {	
				display: block;				
				margin: 0 3px;
			}

			.fa-calendar {
				margin-right: 7px;
				color: $md-blue-color;
			}

			a {
				color: #fff;

				&:hover,
				&:focus,
				&:active {
					color: #fff;
					text-decoration: none;
				}
			}

			.button {
				font-size: 13px;
				padding: 7px 10px;
			}
		}

		&_pink {

			a {
				color: $pink-color;
			}
			
			.fa {
				margin: 3px;
			}
		}
	}

	&__event {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.subnav__item_btn {
			width: auto;
		}
	}
}

.drop-menu {
	background: $x-dark-blue-color; 
	position: absolute;
	top: 100%;

	left: 0;
	width: 100%;
	z-index: 10;
	padding-left: 138px;
	padding-right: 124px;
	padding-bottom: 30px;

	display: none;

		&__list {
			width: 33.33%;
			float: left;
		}

		&__item {
			margin-bottom: 15px;

			a {
				font-size: 15px;
				font-weight: 400;
				color: #95c5da;
			}

				&:hover,
				&:focus,
				&:active {

					a {
						color: #fff;
						text-decoration: none;
					}
				}
		}

		&__close {
			position: absolute;
			bottom: 40px;
			right: 26px;

			border: none;
			background: transparent;
			font-size: 12px;
			color: #95c5da;

			.fa {
				margin-bottom: 3px;
				color: $pink-color;
				display: block;
				font-size: 20px;
			}
		}
	}