$icon-font-path: '../fonts/';

@import "_includs";

//title

.bold {
	font-weight: 700;
}

.center {
	text-align: center;
}

.title {
	font-size: 25px;
	font-weight: 100;

	&__white {
		color: #fff;
	}

	&__transform {
		text-transform: uppercase;
	}

	span {
		color: #94cde4;
	}

	&__bold {
		font-weight: 700;
	}

	&__blue {
		color: $blue-color;
	}
}

.trans-title {
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.content-title {
	font-family: 'Gilroy', sans-serif;
	font-size: 21px;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	z-index: 15;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	

	&__pink {
		background: $pink-color;
		color: #fff;
		padding: 23px 30px;
	}

	&__blue {
		background: $blue-color;
		color: #fff;
		padding: 23px 30px;
	}

	&__dark-blue {
		background: $x-dark-blue-color;
		color: #fff;
		padding: 23px 30px;
	}

	
}

.title-x-lg {
	font-family: 'Gilroy', sans-serif;
	font-size: 46px;
	font-weight: 900;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&__black {
		color: $black-color;
	}

	&__white {
		color: #fff;
	}

	&__transform {
		text-transform: uppercase;
	}

	&__thin {
		font-weight: 300;
	}	
}

.title-lg {
	font-family: 'Gilroy', sans-serif;
	font-size: 34px;
	font-weight: 900;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&__black {
		color: $black-color;
	}

	&__white {
		color: #fff;

		span {
			color: $pink-color;
		}	
	}

	&__transform {
		text-transform: uppercase;
	}

	&__thin {
		font-weight: 300;
	}

	&__dark-blue {
		color: #064862;

		span {
			color: $pink-color;
		}	
	}
}

.title-md {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&__white {
		color: #fff;
	}

	&__transform {
		text-transform: uppercase;
	}

	&__thin {
		font-weight: 300;
	}	

	&.deco-line {
		position: relative;
		padding-left: 30px;

		&:before {
			content: "";
			width: 4px;
			height: 100%;
			background: $blue-color;		

			position: absolute;
			top: 0;
			left: 0;
		}
	}	
}

a.title-md {
	font-family: 'Gilroy', sans-serif;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $black-color;

	&:hover,
	&:active,
	&:focus {
		color: $pink-color;
		text-decoration: none;
	}
}

.title-sm {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2em;
	color: $black-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:hover,
	&:active,
	&:focus {
		color: $pink-color;
		text-decoration: none;
	}

	&__white {
		color: #fff;
	}

	&__thin {
		font-weight: 300;
	}
}

.title-xs {
	font-family: 'Gilroy', sans-serif;
	display: block;
	font-size: 20px;
	color: $black-color;
	font-weight: 700;

	&:hover,
	&:active,
	&:focus {
		color: $pink-color;
		text-decoration: none;
	}
}

.title-23 {
	font-family: 'Roboto', sans-serif;
	color: $black-color;
	font-size: 23px;
	font-weight: 700;	
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	&__transform {
		text-transform: uppercase;
	}

	&__pink {
		color: $pink-color;
	}

	&__blue {
		color: $blue-color;
	}
}

.title-20 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: $black-color;
	line-height: 1.5em;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&__white {
		color: #fff;	

		span {
			color: #95c5da;
		}	
	}

	&__dark-blue {
		color: #064862;

		span {
			color: $pink-color;
		}	
	}

	&__transform {
		text-transform: uppercase;		
	}

	
}


.title-19 {
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 700;
	color: $black-color;
	line-height: 1.5em;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&__white {
		color: #fff;

		&:hover,
		&:active,
		&:focus {
			color: $blue-color;
			text-decoration: none;
		}
	}

	&__dark-blue {
		color: $x-dark-blue-color;
	}

	&:hover,
	&:active,
	&:focus {
		color: $pink-color;
		text-decoration: none;
	}
}

.title-17 {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: $black-color;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



//text
.pink {
	color: $pink-color;
}

.text-30 {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.5em;

	&__bold {
		font-weight: 700;
	}

	&__white {
		color: #fff;
	}

	&__transform {
		text-transform: uppercase;
	}

	&__light {
		font-weight: 100;
	}

	&__italic {
		font-style: italic;
	}	
}

.text-22 {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.5em;

	&.bold {
		font-weight: 700;
	}
}

.text-19 {
	font-size: 19px;
	font-weight: 400;
	line-height: 1.5em;

	&.bold {
		font-weight: 700;
	}

	&.dark-blue {
		color: $md-blue-color;
	}

	&__white {
		color: #fff;
	}

	&__pink {
		color: $pink-color;
	}
}

.text-17 {
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5em;

	&.bold {
		font-weight: 700;
	}

	span {
		font-weight: 700;
	}

	&.italic {
		font-style: italic;
	}

	&.md-blue {
		color: $md-blue-color;
	}
}

.text-16 {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	padding: 30px 0 50px 0;

	&__light-blue {
		color: #95c5da;
	}

	&__thin {
		font-weight: 100;
	}
}

.text-14 {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5em;
}

.text-13 {
	font-size: 13px;
	font-weight: 400;

	&__bold {
		font-weight: 700;
	}
}

.text-12 {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5em;
}

.quote {

	&:before {
		content: "«";
		display: inline-block;
		margin-right: 7px;
		font-weight: 700;
		color: #f788a4;
	}

	&:after {
		content: "»";
		display: inline-block;
		margin-left: 7px;
		font-weight: 700;
		color: #f788a4;
	}
}

.border-text {
	text-align: center;
	padding: 30px 20px;

	&_blue {
		border: 2px solid $blue-color;
	}

	&_pink {
		border: 2px solid $pink-color;
	}

	&_dark-blue {
		border: 2px solid $dark-blue-color;
	}
}

.post-title {
	font-family: 'Gilroy', sans-serif;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	position: relative;
	z-index: 10;

	span {
		display: inline-block;
		padding: 0 15px;
		background: #fff;
		position: relative;
		z-index: 10;
	}

	&:after {
		content:"";
		display: block;
		width: 100%;
		height: 1px;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		left: 0;
	}
}

@media only screen and (max-width: 667px) {

	.trans-title {
		font-size: 24px;
	}

	.title {
		font-size: 20px;
	}

	.title-x-lg {
		font-size: 30px;
	}

	.title-lg {
		font-size: 24px;
	}
	
	.title-md {
		font-size: 22px;
	}

	.title-sm {
		font-size: 19px;
	}

}


@media only screen and (max-width: 540px) {

	.title-x-lg {
		font-size: 28px;
	}

	.content-title {
		font-size: 18px;
	}

	.text-20, .title-20 {
		font-size: 18px;
	}

	/*.text-17 {
		font-size: 15px;
	}	*/

}



