$icon-font-path: '../fonts/';

@import "_includs";

//title

.title {
	font-size: 25px;
	font-weight: 100;

	&__white {
		color: #fff;
	}
}

.content-title {
	font-family: 'Gilroy', sans-serif;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	z-index: 5;	

	&__pink {
		background: $pink-color;
		color: #fff;
		padding: 23px 30px;
	}

	&__blue {
		background: $blue-color;
		color: #fff;
		padding: 23px 30px;
	}
}

.title-lg {
	font-family: 'Gilroy', sans-serif;
	font-size: 34px;
	font-weight: 700;
	line-height: 1.2em;

	&__black {
		color: $black-color;
	}

	&__white {
		color: #fff;
	}
}

.title-md {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2em;	
}

.title-sm {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2em;
	color: $black-color;

	&:hover,
	&:active,
	&:focus {
		color: $pink-color;
		text-decoration: none;
	}
}

.title-17 {
	font-size: 17px;
	font-weight: 700;
	color: $black-color;
	line-height: 1.5em;
}


.title-19 {
	font-size: 19px;
	font-weight: 700;
	color: $black-color;
	line-height: 1.5em;

	&:hover,
	&:active,
	&:focus {
		color: $pink-color;
		text-decoration: none;
	}
}


//text
.pink {
	color: $pink-color;
}

.text-16 {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	padding: 30px 0 50px 0;

	&__light-blue {
		color: #95c5da;
	}
}

.text-13 {
	font-size: 13px;
	font-weight: 400;
}

