{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block content %}	
	<main class="main article-page">		
			<div class="container flex">
				<div class="layot-content-block top">
					<div class="all-shadow article"></div>					
						<div class="layot-content-block__header animated-in-flipInX">
							<img src="images/img-13.jpg" alt="">
							<div class="layot-content-block__header-description-block col">
									<h2 class="title-md title-md__white title-md__thin">Cтандарты сервиса салона красоты или правда о любви к клиентам</h2>
								
									<div class="layot-content-block__header-social-block">
											<p class="text-13 text-13__bold">Поделитесь новостью в социальных сетях</p>
											<ul class="social-button__list">
													<li class="social-button__item">
															<a href="">
																	<img src="images/tw.png" alt="">
															</a>
													</li>
													<li class="social-button__item">
															<a href="">
																	<img src="images/fb.png" alt="">
															</a>
													</li>
													<li class="social-button__item">
															<a href="">
																	<img src="images/vk.png" alt="">
															</a>
													</li>
													<li class="social-button__item">
															<a href="">
																	<img src="images/gg.png" alt="">
															</a>
													</li>
													<li class="social-button__item">
															<a href="">
																	<img src="images/ok.png" alt="">
															</a>
													</li>
											</ul>
									</div>
								</div>
								<div class="content-label-wrap bottom">
									<a href="" class="content-label content-label__blue">Покупка салона красоты</a> 
								</div>
							</div>
					<div class="article-wrap">
						<div class="info-block flex">
								<div class="autor-block">
										<img src="images/img-2.jpg" alt="">
										<a href="" class="autor-name">Иван Петропавловский</a>
								</div>	
								<div class="column__info-wrap">		 							
										<div class="data-block">
												<span class="data"><i class="fa fa-calendar"></i>04 февраля 2018</span>
										</div>
									<div class="comment-block">
														<i class="fa fa-comment-o" aria-hidden="true"></i>
														<span class="comment">1</span>
										</div>
										<div class="loock-block">
														<i class="fa fa-eye" aria-hidden="true"></i>
														<span class="loock">1428</span>
										</div>
								 </div>											
						</div>
							<p class="text-17 bold animated-in-fadeIn">Я люблю тему "О клиентах". Как и большинство из вас, я и мой партнер по бизнесу стараемся, чтобы НАШИМ клиентам было комфортно у нас обслуживаться.</p>
							<p class="text-17 animated-in-fadeIn"> Для этого, часто мы отказываем иногда 10 из 10 специалистам, которые приходят на собеседования, но не хотят приходить на тестовую отработку на модели, потому, что "я все умею". Для нас важно, чтобы клиентов обслуживали грамотные и ответственные специалисты - поэтому, правила одинаковы для всех. <span>Трудно? Трудно. Но компромиссы в этом вопросе неуместны, ведь речь идет о качестве услуг.</span></p>
					</div>
					<div class="event-block animated-in-pulse">
							<h3 class="content-title content-title__pink content-title__left animated-in-slideInLeft">Связанное событие</h3>
							<img src="images/img-6.jpg" alt="">
							<div class="event__calendar-block">
									<div class="event__data-wrap">
											<span class="num">05</span>
											<span class="monh">февраля</span>
											<span class="year">2017</span>
									</div>
									<div class="event__info-block">
											<a href="" class="title-sm title-sm__white title-sm__thin">Meder beauty science – революциии инновации в космецевтике</a>
											<div class="event__info-wrap">
													<span class="event__info-block_text">Организатор:</span>
													<span class="event__info-block_value">Ивано-Франковск, Бизнес-центр</span>
											</div>
									</div>                                
									<span class="event__calendar-block_price">1500 грн.</span>
							</div>                            
					</div>
					<div class="article-wrap">
						<div class="article-column__text-block_2 animated-in-fadeIn">
								<p class="text-17 bold border">Мы боимся уважать НАШИХ клиентов и развивать культуру потребления салонных услуг, вводя элементарные стандартыи правила, но продолжаем пользоваться шариковыми стерилизаторами, экономить на уборке, практиковать выход "под запись" и сдавать по пол-салона в аренду.</p>
								<p class="text-17">И при этом бесконечно сетуем на то, как тяжело работать: и клиенты не такие, и мастера не такие, и налоги не такие, и дистрибьюторы не такие, и учебные центры не такие. У каждого из нас есть два пути: или подстраиваться и плыть по течению, периодически уходя на дно, или начинать работать правильно - так, как работают все хорошо организованные предприятия.</p>
						</div>
						<div class="article__list-block">
								<h3 class="title title__bold animated-in-fadeIn">Построить систему сервиса в индустрии красотыв Украине - адский труд. По двум причинам:</h3>
								<ul class="article__num-list">
										<li class="article__num-item animated-in-fadeIn">
												Культивирование среди мастеров оказания услуг ниже ватерлинии (домушничество) - оттуда впоследствии очень трудно выбраться. Психологические установки заданы и всячески поддерживаются обществом. Отсюда - нередкое неуважение к специалистам со стороны клиентов.
										</li>
											<li class="article__num-item animated-in-fadeIn">
												Культивирование среди мастеров оказания услуг ниже ватерлинии (домушничество) - оттуда впоследствии очень трудно выбраться. Психологические установки заданы и всячески поддерживаются обществом. <span>Отсюда - нередкое неуважение к специалистам со стороны клиентов.</span>
										</li>
											<li class="article__num-item animated-in-fadeIn">
												Культивирование среди мастеров оказания услуг ниже ватерлинии (домушничество) - оттуда впоследствии очень трудно выбраться. Психологические установки заданы и всячески поддерживаются обществом.
												<p class="text-17 bold">Вложенный список</p>
												<ul class="article__mark-list">
														<li class="article__mark-item">
																годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
														</li>
														<li class="article__mark-item">
																годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
														</li>
														<li class="article__mark-item">
																годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
														</li>
												</ul>
										</li>                                    
								</ul>
						</div>
					</div>
					<div class="gallery-block animated-in-fadeIn">							
						<h3 class="title-20 title-20__transform title-20__dark-blue">Справка о бизнес-школе «<span>Beauty Salon Boss</span>»</h3>
						<p class="text-17">Обладая обширными контактами в индустрии красоты разных стран Салонный маркетинг объединяет инвесторов и директоров салонов красоты / SPA, производителей и дистрибьюторов косметики и оборудования, СМИ, IT-компании, выставочные компании вокруг программ, направленных на развитие бизнеса каждого участника рынка индустрии красоты.</p>				
						{% include "gallery-block.html" %}
					</div>	
					<div class="article-wrap">	
						<div class="article__img-wrap animated-in-pulse">
								<img src="images/img-6.jpg" alt="">
								<span class="img-text">Занятия для старших администраторов салонов красоты в бизнес-школе Бьюти Салон Босс.</span>
						</div>
						<div class="article__color-block article__color-block_light-blue animated-in-fadeIn">
								<div class="color-block__link-block">
										<a href="">
												<i class="color-block__icon_1"></i>
												<span class="color-block__link-text">Прочитать на эту тему</span>
										</a>
								</div>
								<div class="color-block__description-block">
										<a href="" class="title-19">Купить салон красоты или открыть с нуля: оценкa и форма заявки</a>
										<div class="info-block__horisontal">
											<span class="autor text-13">Наталья Коршунова</span>
											<div class="data-block">
												<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
											</div>
											<div class="tags-block">
												<a href="#" class="tag">#Управление салонами</a>
											</div>
										</div>
								</div>
						</div>
						<div class="article__table-block animated-in-fadeIn">
								<h3 class="title title__bold">Салон красоты: какие налоги нужно платить</h3>
								<ul class="table">
									<li class="table__head">
										Налоги для ФЛП																	
									</li>
									<li>
										Единый налог первая группа (10% минимальной зарплаты). Объем дохода в течение года не должен превышать 300 000 грн. Можно работать только самостоятельно без наемных работников.																	
									</li>																	
									<li>
										Единый налог первая группа (10% минимальной зарплаты). Объем дохода в течение года не должен превышать 300 000 грн. Можно работать только самостоятельно без наемных работников.																	
									</li>
									<li>
									Единый налог первая группа 																		
									</li>
								</ul>
								<ul class="table">
									<li class="table__head">																	
											Налоги для ООО
											<span>на общей системе налогообложения</span>																	
									</li>
									<li>
										Единый налог вторая группа (20% минимальной зарплаты). Объем дохода в течение года не должен превышать 1,5 млн. грн. В трудовых отношениях с предпринимателем одновременно может состоять не более 10 человек.
									</li>
									<li>Единый налог вторая группа </li>
									<li>Единый налог вторая группа (20% минимальной зарплаты). Объем дохода в течение года не должен превышать 1,5 млн. грн. В трудовых отношениях с предпринимателем одновременно может состоять не более 10 человек.</li>
									
								</ul>


								<table class="ftable">
									<thead>
										<tr>
											<th>Название</th>
											<th data-breakpoints="xs">Действие</th>
											<th data-breakpoints="xs">Активные ингредиенты</th>										
										</tr>
									</thead>
									<tbody>
										<tr data-expanded="true">
											<td>Концентрат HIAL-DMAE</td>
											<td>Мощный антивозрастной эффект, корректирует признаки фотоиндуцированного старения. Обеспечивает пролонгированный эффект коррекции овала лица.</td>
											<td>DMAE, Гиалуроновая кислота, органический кремний</td>											
										</tr>
										<tr>
											<td>DMAE + ORGANIC SILICON</td>
											<td>Профилактика и коррекция морщин, улучшение цвета лица, предотвращает выпадение волос. Позволяет эффективно бороться с растяжками, целлюлитом, последствиями быстрого похудения, вторичным птозом бюста после имплантации.</td>
											<td>DMAE, органический кремний</td>											
										</tr>
										
									</tbody>
								</table>



								<table class="ftable" border="1" cellpadding="1" cellspacing="1">
										<thead>
												<tr class="">
														<th>Торговая марка</th>
														<th data-breakpoints="xs sm md">Производитель</th>
														<th data-breakpoints="xs sm md">Дата регистрации</th>
														<th data-breakpoints="xs sm md">Номер свидетельства</th>
													</tr>
										</thead>
									<tbody>
										
										<tr class="cat-tr">
											<th class="text-center cat-th" colspan="4">НАПОЛНИТЕЛИ</th>
										</tr>
										<tr class="">
											<td><b>Amalian</b></td>
											<td>S&amp;VTechnologies AG</td>
											<td>30.12.2013</td>
											<td>13470/2013</td>
										</tr>
										<tr class="">
											<td><b>Aqualyx</b></td>
											<td>GHIMAS S.p.A., Italy</td>
											<td>14.12.2012</td>
											<td>12204/2012</td>
										</tr>
										<tr class="">
											<td><b>Auralya</b></td>
											<td>I.R.A. Instituto Ricerche Applicate S.r.l., Italy</td>
											<td>27.06.2014</td>
											<td>14013/2014</td>
										</tr>
										<tr class="">
											<td><b>Beautelle</b></td>
											<td>I.R.A. Instituto Ricerche Applicate S.r.l., Italy</td>
											<td>09.10.2013</td>
											<td>13160/2013</td>
										</tr>
										<tr class="">
											<td><b>Bellcontour</b></td>
											<td>Hyal Intertrade S.A., Switzerland</td>
											<td>29.05.2014</td>
											<td>13902/2014</td>
										</tr>
										<tr class="">
											<td><b>Dermafill</b></td>
											<td>SBS-MED Infinity Cosmetics SAS, France </td>
											<td>13.03.2015</td>
											<td>14619/2015</td>
										</tr>
										<tr class="">
											<td><b>Dermaheal</b></td>
											<td>CaregenCorporation Ltd., Korea</td>
											<td>05.09.2012</td>
											<td>11807/2012</td>
										</tr>
										<tr class="">
											<td><b>Dr. KormanLaboratories</b></td>
											<td>Dr. Korman Laboratories LTD., Israel</td>
											<td>22.01.2014</td>
											<td>13526/2014</td>
										</tr>
										<tr class="">
											<td><b>Esthelis</b></td>
											<td>Anteis SA,Switzerland</td>
											<td>11.10.2012</td>
											<td>11926/2012</td>
										</tr>
										<tr class="">
											<td><b>FillerVit</b></td>
											<td>ITALFARMACIASRL, Italy</td>
											<td>16.08.2013</td>
											<td>12895/2013</td>
										</tr>
										<tr class="">
											<td><b>Fortelis</b></td>
											<td>Anteis SA,Switzerland</td>
											<td>11.10.2012</td>
											<td>11926/2012</td>
										</tr>
										<tr class="">
											<td><b>Genyal</b></td>
											<td>XcelensS.A., Switzerland </td>
											<td>12.06.2013</td>
											<td>12743/2013</td>
										</tr>
										<tr class="">
											<td><b>H&amp;S</b></td>
											<td>ЮРІЯ-ФАРМ,Україна</td>
											<td>12.02.2015</td>
											<td>13590/2014</td>
										</tr>
										<tr class="">
											<td><b>Hyaliaphase</b></td>
											<td>Mastelli S.r.l., Italy</td>
											<td>02.07.2013</td>
											<td>12816/2013</td>
										</tr>
										<tr class="">
											<td><b>HyalStyle</b></td>
											<td>CROMA GmbH,Austria</td>
											<td>19.08.2014</td>
											<td>14208/2014</td>
										</tr>
										<tr class="">
											<td><b>Hyalual</b></td>
											<td>ЮРІЯ-ФАРМ,Україна</td>
											<td>14.02.2014</td>
											<td>8726/2009</td>
										</tr>
										<tr class="">
											<td><b>Hyaluronica</b></td>
											<td>VITALEsthetique, Sarl., France</td>
											<td>22.01.2014</td>
											<td>13537/2014</td>
										</tr>
										<tr class="">
											<td><b>Idune</b></td>
											<td>Laboratoires GENEVRIER S.A., France</td>
											<td>13.07.2012</td>
											<td>11709/2012</td>
										</tr>
										<tr class="">
											<td><b>Jalucomplex</b></td>
											<td>I.R.A. Instituto Ricerche Applicate S.r.l., Italy</td>
											<td>27.06.2014</td>
											<td>14013/2014</td>
										</tr>
										<tr class="">
											<td><b>Jalupro</b></td>
											<td>Professional Dietetics S.r.l., Italy</td>
											<td>11.10.2012</td>
											<td>11968/2012</td>
										</tr>
										<tr class="">
											<td><b>JuvedermHydrate</b></td>
											<td>ALLERGAN,France</td>
											<td>07.04.2015</td>
											<td>9616/2010</td>
										</tr>
										<tr class="">
											<td><b>JuvedermUltra</b></td>
											<td>AllerganIndustrie, SAS, France</td>
											<td>14.12.2012</td>
											<td>12189/2012</td>
										</tr>
										<tr class="">
											<td><b>JuvedermUltra Smile</b></td>
											<td>AllerganIndustrie, SAS, France</td>
											<td>14.12.2012</td>
											<td>12189/2012</td>
										</tr>
										<tr class="">
											<td><b>JuvedermVolbellat з лідокаїном</b></td>
											<td>AllerganIndustrie, SAS, France</td>
											<td>02.07.2013</td>
											<td>12505/2013</td>
										</tr>
										<tr class="">
											<td><b>JuvedermVolift</b></td>
											<td>ALLERGAN,France</td>
											<td>30.06.2015</td>
											<td>14988/2015</td>
										</tr>
										<tr class="">
											<td><b>JuvedermVolift з лідокаїном </b></td>
											<td>AllerganIndustrie, SAS, France</td>
											<td>02.07.2013</td>
											<td>12505/2013</td>
										</tr>
										<tr class="">
											<td><b>JuvedermVoluma</b></td>
											<td>AllerganIndustrie, SAS, France</td>
											<td>14.12.2012</td>
											<td>12189/2012</td>
										</tr>
										<tr class="">
											<td><b>JuvedermVoluma з лідокаїном</b></td>
											<td>AllerganIndustrie, SAS, France</td>
											<td>28.02.2014</td>
											<td>11679/2012</td>
										</tr>
										<tr class="">
											<td><b>Meso –Xanthin F199</b></td>
											<td>ABG LABLLC, USA</td>
											<td>11.10.2012</td>
											<td>11959/2012</td>
										</tr>
										<tr class="">
											<td><b>MesoEye C71</b></td>
											<td>MycoScienceInc., USA</td>
											<td>03.03.2015</td>
											<td>14596/2015</td>
										</tr>
										<tr class="">
											<td><b>Mesolis</b></td>
											<td>Anteis SA,Switzerland</td>
											<td>11.10.2012</td>
											<td>11926/2012</td>
										</tr>
										<tr class="">
											<td><b>MesoSculptC71</b></td>
											<td>MycoScienceInc., USA</td>
											<td>03.03.2015</td>
											<td>14596/2015</td>
										</tr>
										<tr class="">
											<td><b>Meso-WhartonP199</b></td>
											<td>BNC KOREA,INC., Korea</td>
											<td>30.06.2015</td>
											<td>15020/2015</td>
										</tr>
										<tr class="">
											<td><b>M-HA 10</b></td>
											<td>LaboratoiresFilorga SAS, France</td>
											<td>11.10.2012</td>
											<td>11994/2012</td>
										</tr>
										<tr class="">
											<td><b>M-HA 18</b></td>
											<td>LaboratoiresFilorga SAS, France</td>
											<td>11.10.2012</td>
											<td>11994/2012</td>
										</tr>
										<tr class="">
											<td><b>Modelis </b></td>
											<td>Anteis SA,Switzerland</td>
											<td>11.10.2012</td>
											<td>11926/2012</td>
										</tr>
										<tr class="">
											<td><b>NCTF 135</b></td>
											<td>LaboratoiresFilorga SAS, France</td>
											<td>11.10.2012</td>
											<td>11994/2012</td>
										</tr>
										<tr class="">
											<td><b>NCTF 135 HA</b></td>
											<td>LaboratoiresFilorga SAS, France</td>
											<td>11.10.2012</td>
											<td>11994/2012</td>
										</tr>
										<tr class="">
											<td><b>NCTF 135HA+</b></td>
											<td>LaboratoiresFilorga SAS, France</td>
											<td>11.10.2012</td>
											<td>11994/2012</td>
										</tr>
										<tr class="">
											<td><b>Nucleospire</b></td>
											<td>Мезофарм,ТОВ, Російська Федерація</td>
											<td>13.05.2015</td>
											<td>14740/2015</td>
										</tr>
										<tr class="">
											<td><b>Nucliaphase</b></td>
											<td>Mastelli S.r.l., Italy</td>
											<td>02.07.2013</td>
											<td>12816/2013</td>
										</tr>
										<tr class="">
											<td><b>PerfecthaDerm</b></td>
											<td>OBVIELINESAS, France</td>
											<td>11.10.2012</td>
											<td>11951/2012</td>
										</tr>
										<tr class="">
											<td><b>PluryalBooster</b></td>
											<td>MD SkinSolutions, Luxembourg</td>
											<td>04.09.2013</td>
											<td>13045/2013</td>
										</tr>
										<tr class="">
											<td><b>PluryalMeso</b></td>
											<td>MD SkinSolutions, Luxembourg</td>
											<td>13.05.2015</td>
											<td>14722/2015</td>
										</tr>
										<tr class="">
											<td><b>Predermal</b></td>
											<td>ЮРІЯ-ФАРМ,Україна</td>
											<td>27.06.2014</td>
											<td>13351/2013</td>
										</tr>
										<tr class="">
											<td><b>Princess</b></td>
											<td>CROMA GmbH,Ausria</td>
											<td>09.10.2013</td>
											<td>13144/2013</td>
										</tr>
										<tr class="">
											<td><b>ReDexis</b></td>
											<td>Prollenium Medical Technologies Inc., Canada</td>
											<td>29.12.2014</td>
											<td>14476/2014</td>
										</tr>
										<tr class="">
											<td><b>Restylane</b></td>
											<td>Q-Med AB,Sweden</td>
											<td>05.12.2014</td>
											<td>14444/2014</td>
										</tr>
										<tr class="">
											<td><b>Revaness</b></td>
											<td>Prollenium Medical Technologies Inc., Canada</td>
											<td>29.12.2014</td>
											<td>14476/2014</td>
										</tr>
										<tr class="">
											<td><b>RevitaJal</b></td>
											<td>I.R.A. Instituto Ricerche Applicate S.r.l., Italy</td>
											<td>30.06.2015</td>
											<td>14981/2015</td>
										</tr>
										<tr class="">
											<td><b>Revofil</b></td>
											<td>Caregen Co., Ltd., South Korea</td>
											<td>05.12.2014</td>
											<td>14411/2014</td>
										</tr>
										<tr class="">
											<td><b>SBS-MEDDermafill</b></td>
											<td>SBS-MED Infinity Cosmetics SAS, France</td>
											<td>08.04.2013</td>
											<td>12573/2013</td>
										</tr>
										<tr class="">
											<td><b>Sculptra</b></td>
											<td>Sanofi-Aventis S.р.А., Italy</td>
											<td>13.11.2013</td>
											<td>13281/2013</td>
										</tr>
										<tr class="">
											<td><b>Stylage</b></td>
											<td>LaboratoiresVIVACY, France</td>
											<td>14.02.2014</td>
											<td>13614/2014</td>
										</tr>
										<tr class="">
											<td><b>Surgiderm</b></td>
											<td>ALLERGAN,France</td>
											<td>07.04.2015</td>
											<td>5451/2006</td>
										</tr>
										<tr class="">
											<td><b>Teosyal</b></td>
											<td>TEOXANES.A.,  Switzerland</td>
											<td>12.06.2015</td>
											<td>14849/2015</td>
										</tr>
										<tr class="">
											<td><b>UmaJeunesse</b></td>
											<td>Cambridge Medical Aesthetics Ltd., UK</td>
											<td>09.11.2012</td>
											<td>12078/2012</td>
										</tr>
										<tr class="">
											<td><b>Viscoderm</b></td>
											<td>IBSA FARMACEUTICI ITALIA SrL, Italy</td>
											<td>08.04.2013</td>
											<td>12608/2013</td>
										</tr>
										<tr class="">
											<td><b>XELA</b></td>
											<td>Hyal Intertrade S.A., Switzerland</td>
											<td>30.12.2013</td>
											<td>13509/2013</td>
										</tr>
										<tr class="">
											<td><b>X-HA Volume</b></td>
											<td>LaboratoiresFilorga SAS, France</td>
											<td>11.10.2012</td>
											<td>11994/2012</td>
										</tr>
										<tr class="">
											<td><b>X-HA3</b></td>
											<td>LaboratoiresFilorga SAS, France</td>
											<td>11.10.2012</td>
											<td>11994/2012</td>
										</tr>
										<tr class="cat-tr">
											<th class="text-center cat-th" colspan="4">НИТИ ДЛЯ ПОДТЯЖКИ И АРМИРОВАНИЯ</th>
										</tr>
										<tr class="">
											<td><b>Happy LiftRevitalizing</b></td>
											<td>AssutEurope Spa, Italy</td>
											<td>07.11.2014</td>
											<td>14372/2014</td>
										</tr>
										<tr class="">
											<td><b>JBP V-Lift</b></td>
											<td>Feel TechCo., Korea</td>
											<td>13.11.2013</td>
											<td>13253/2013</td>
										</tr>
										<tr class="">
											<td><b>Lead FineLift</b></td>
											<td>GRANDAESPIO INC., Korea</td>
											<td>15.03.2013</td>
											<td>12524/2013</td>
										</tr>
										<tr class="cat-tr">
											<th class="text-center cat-th" colspan="4">ИГЛЫ И КАНЮЛИ</th>
										</tr>
										<tr class="">
											<td><b>BDMicrolance 3</b></td>
											<td>Becton Dickinson S.A., Spain</td>
											<td>09.11.2012</td>
											<td>7398/2007</td>
										</tr>
										<tr class="">
											<td><b>CSH</b></td>
											<td>TSKLaboratory, Japan</td>
											<td>14.02.2014</td>
											<td>13610/2014</td>
										</tr>
										<tr class="">
											<td><b>K-PACK II</b></td>
											<td>TERUMO EUROPE N.V., Belgium</td>
											<td>04.09.2013</td>
											<td>13035/2013</td>
										</tr>
										<tr class="">
											<td><b>STERiGLIDE</b></td>
											<td>TSKLaboratory, Japan</td>
											<td>14.02.2014</td>
											<td>13610/2014</td>
										</tr>
										<tr class="cat-tr">
											<th class="text-center cat-th" colspan="4">ОБОРУДОВАНИЕ И РАСХОДНЫЕ МАТЕРИАЛЫ ДЛЯPRP-ТЕРАПИИ  </th>
										</tr>
										<tr class="">
											<td><b>Plasmolifting</b></td>
											<td>Chengdu Rich Science Industry Co., China</td>
											<td> 14.12.2012</td>
											<td>12146/2012</td>
										</tr>
										<tr class="">
											<td><b>Tropocells</b></td>
											<td>EstarTechnologies Ltd., Israel</td>
											<td>30.12.2013</td>
											<td>13492/2013</td>
										</tr>
									</tbody>
								</table>

									<p class="ftable__title">Статистика посещаемости в месяц</p>	
									<ul class="ftable ftable__list" >									
											<li class="ftable__item">
												<span>Сеансы</span>
												<p class="text-22 bold">500 000</p>
											</li>
											<li class="ftable__item">
												<span>Просмотры</span>												
												<p class="text-22 bold">740 000</p>
											</li>
											<li class="ftable__item">
												<span>Уникальные посетители</span>									
												<p class="text-22 bold">320 000</p>
											</li>
											<li class="ftable__item">
												<img src="images/photo-1.jpg" alt="">
											</li>								
									</ul>
								</div>


									<div class="article__color-block article__color-block_light-beige animated-in-fadeIn">
										<div class="color-block__link-block">
												<a class="flex" href="">
														<i class="color-block__icon_2"></i>
														<span class="color-block__link-text bold">Справка</span>
												</a>
										</div>
										<div class="color-block__description-block">
												<a href="" class="title-19">ЕСВ - Единый социальный взнос.</a>
												<p class="text-14">Плательщиками единого социального взноса являются физические лица-предприниматели и работодатели. Отныне зарплаты работников облагаются исключительно таким единым сбором. Независимо от выбора способа налогообложения СПД, ставка такого сбора составляет 22% от фонда оплаты труда. С 2016 года действует только обязанность уплаты ЕСВ с фонда оплаты труда. Сама ставка налога унифицирована и составляет 22% независимо от вида деятельности предприятия.</p>
										</div>
								</div>
								<div class="article-column__block animated-in-fadeIn">	
									<div class="article-column__text-wrap">								
										<p class="text-17">Для этого вводятся стандарты работы, нацеленные на НАШИХ клиентов. Тех, которые понимают, что если куплен билет на поезд, который отправляется 1 июля, в 18.00 с 5-го пути, то он отправится 1 июля, в 18.00, с 5-го пути, удобно ли это всем 100% желающих ехать или нет. Никто не подаст поезд на 1-ый путь, на 18.40 потому что, семерым людям из пятиста так хочется. 493 человека придут на пятый путь в 18.00 и хотят получить заказанную услугу вовремя и в полном объеме. И для нас важно, чтобы эти 493 были довольны. Но, именно эти семь потом оставят негодующие отзывы - мы относимся к этому философски и на каждый ответим. Но правила не изменим.</p>
									</div>	
									{{ myMacros.column(className="column__blue", showbBLueTitle=true, showbDarkBLueTitle=false, showPinkTitle=false) }}
									
								</div>																	
						</div>
						<div class="article__color-block article__color-block_dark-blue animated-in-fadeIn">																	
								<h3 class="title title__white title__bold">Как рассчитать сумму ЕСВ?</h3>						
							<div class="color-block__description-block">									
									<p class="text-14">Плательщиками единого социального взноса являются физические лица-предприниматели и работодатели. Отныне зарплаты работников облагаются исключительно таким единым сбором. Независимо от выбора способа налогообложения СПД, ставка такого сбора составляет 22% от фонда оплаты труда. С 2016 года действует только обязанность уплаты ЕСВ с фонда оплаты труда. Сама ставка налога унифицирована и составляет 22% независимо от вида деятельности предприятия.</p>
									<p class="text-30 text-30__bold text-30__white">2 000 х 22% = 440 грн.</p>
							</div>
						</div>
						<div class="article-wrap">
							<div class="article-column__text-block_2">
								<p class="text-17 animated-in-fadeIn">Мы боимся уважать НАШИХ клиентов и развивать культуру потребления салонных услуг, вводя элементарные стандартыи правила, но продолжаем пользоваться шариковыми стерилизаторами, экономить на уборке, практиковать выход "под запись" и сдавать по пол-салона в аренду.</p>
								<p class="text-17 animated-in-fadeIn">И при этом бесконечно сетуем на то, как тяжело работать: и клиенты не такие, и мастера не такие, и налоги не такие, и дистрибьюторы не такие, и учебные центры не такие. У каждого из нас есть два пути: или подстраиваться и плыть по течению, периодически уходя на дно, или начинать работать правильно - так, как работают все хорошо организованные предприятия.</p>
							</div>								
						</div>
						<div class="article__bg-img-block">
							<p class="text-17 animated-in-fadeIn">Обладая обширными контактами в индустрии красоты разных стран Салонный маркетинг объединяет инвесторов и директоров салонов красоты / SPA, производителей и дистрибьюторов косметики и оборудования, СМИ, IT-компании, выставочные компании вокруг программ, направленных на развитие бизнеса каждого участника рынка индустрии красоты.</p>
						</div>
						{% include "main-form-block.html" %}
						<div class="article-wrap">
							{% include "info-block.html" %}	
							<div class="column-block__wrap">
									<a href="" class="tag-link light-pink-bg trans">#стартапы</a> 
									<a href="" class="tag-link pink-bg trans">#работа</a> 
									<a href="" class="tag-link pink-bdr trans">#будущее</a> 
									<a href="" class="tag-link light-blue-bg trans">#кейсы</a> 
									<a href="" class="tag-link blue-bg trans">#дизайн</a> 				
									<a href="" class="tag-link blue-bdr trans">#салон красоты</a> 
									<a href="" class="tag-link md-blue-bg trans">#CRM</a> 
									<a href="" class="tag-link md-blue-brd trans">#обучение</a>
									<a href="" class="tag-link dark-blue-bg trans">#CRM</a> 
									<a href="" class="tag-link dark-blue-brd trans">#обучение</a> 	 										
							</div>
						</div>
						<div class="article-wrap light-blue animated-in-fadeIn">
							<div class="article__content-list">
									<h3 class="content-title content-title__dark-blue column__blue animated-in-slideInLeft">Похожие публикации</h3>
								{% include "content-list.html" %}
							</div>							
						</div>									
					</div>						
							
				{{ myMacros.sidebar(className="sidebar", formblock=true) }}
			</div>			
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

