{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block breadcrumb %}
	<ul class="breadcrumb-list">
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
		<li><a href="">Публикации</a></li>
				<li><a href="">Продажа салонов</a></li>
	</ul>
	</ul>
{% endblock %}	

{% block content %}	
	<main class="main longrid-page buisnes-plan-page">
		<div class="layot-section no-sidebar">
			<div class="container">
				<div class="layot-content-block top">
					<div class="all-shadow article"></div>					
						<div class="layot-content-block__header flex animated-in-flipInX">
							<img src="images/img-13.jpg" alt="">
							<div class="layot-content-block__header-description-block left">
								<h2 class="title-x-lg title-x-lg__white title-x-lg__thin">Бизнес план салона красоты / парикмахерской / косметического центра / СПА</h2>									
							</div>                            
							</div>					
							<div class="article-wrap animated-in-fadeIn">	
							
																					
							</div>
							<div class="article-wrap">
								<div class="article-column__text-img-block">
								
									<div class="article-column__text-col">
											<p class="text-17 animated-in-fadeIn">Создание концепции и бизнес-плана салона красоты / косметологического центра / СПА / парикмахерской – это часть проекта <a href="" class="color-block__link-text">"Салон под ключ" </a>. Часто нас просят написать бизнес-план для уже работающего предприятия. Более того, когда нас приглашают для консультаций или мы берем салоны / СПА / парикмахерские в управление, составление бизнес-плана является обязательным этапом работы в 70-80% случаев.</p>
											<h3 class="title-md deco-line animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Бизнес-план салона красоты / парикмахерской / косметологического кабинета / СПА</h3>										
											<div class="article__bg-img-block">
												<p class="text-17 x-light-blue-color animated-in-fadeIn is-hidden visible animated fadeIn">Зачем нужен бизнес-план? У меня же «просто салон». У меня же «просто СПА в отеле». У меня же «просто…». Работая без бизнес-плана, без бюджета и без отчета ДДС (движение денежных средств) – базовых финансовых документов предприятия индустрии красоты, вы фактически не управляете своим предприятием, а плывете по течению.</p>
											</div>
											<p class="text-17 bold">Концепция и Бизнес-план для открытия салона красоты дают понимание:</p>
											<ul class="article__mark-list">
												<li class="article__mark-item">
													бизнес-модели,
												</li>
												<li class="article__mark-item">
													сроков окупаемости,
												</li>
												<li class="article__mark-item">
													определяется норма рентабельности,
												</li>
												<li class="article__mark-item">
													средних чеков по направлениям,
												</li>
												<li class="article__mark-item">
													штатного расписания,
												</li>
												<li class="article__mark-item">
													налогообложение,
												</li>
												<li class="article__mark-item">
													расходов и доходов,
												</li>
												<li class="article__mark-item">
													нормы загрузки, etc. 
												</li>
										</ul>

										<p class="text-17 bold">Обязательно наличие бизнес-плана для салона красоты, если вы планируете:</p>
										<ul class="article__mark-list">
												<li class="article__mark-item">
														открывать парикмахерскую / косметологический центр / СПА / салон маникюра,
													</li>
													<li class="article__mark-item">
															продавать франшизу своего предприятия,
													</li>
													<li class="article__mark-item">
															покупаете уже работающий салон.
													</li>
										</ul>

										<h3 class="title-md deco-line animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Как получить максимальную пользу от бизнес-плана салона красоты</h3>
										<p class="text-17">Будем откровенны, подавляющее количество салонов красоты, косметологических центров и СПА открывались и продолжают открываться без какого-либо намека на наличие бизнес-плана. Как этот факт отражается на их работе после открытия? По-разному. Если салон красоты создается не с целью зарабатывать деньги, то наличие или отсутствие бизнес-плана ничего не изменит в жизни такого бьюти-предприятия.</p>
										<p class="text-17">С другой стороны, сам по себе бизнес-план парикмахерской или косметологического кабинета без грамотного управления не более, чем файл с оцифрованными планами по завоеванию локальных или глобальных рынков индустрии красоты. Мы же придерживаемся мнения, что все, что вы делали или делаете <span>	до своего первого бизнес-плана</span> не более, чем мечты, гипотезы, спрятанная глубоко внутри надежда «у меня получится, другие же салоны как-то работают и я смогу…».</p>
										<div class="article__color-block row article__color-block_light-blue animated-in-fadeIn is-hidden visible animated fadeIn">
												<p class="text-17">Салонный бизнес начнется именно тогда, когда вы захотите понять, что у вас есть n - денег и на них вам нужно открыть рентабельный салон красоты. Увидеть, когда вы их вернете, начнете зарабатывать, сколько именно и за счет чего.</p> 
												<p class="text-17">Или у вас есть идея салона красоты или другого бьюти-предприятия (СПА, косметологической клиники, дистрибьюторской компании или учебного центра) и вы захотите понять во сколько вам обойдется ее реализация.</p>
												<p class="text-17">Если вы привлекаете инвестора, собираетесь брать кредит в банке или претендуете на получение гранта на открытие салона красоты, то бизнес-план придется разрабатывать в обязательном порядке.</p>
											</div>
											<h3 class="title-md deco-line animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Зачем салону красоты нужен бизнес-план, ведь через месяц все может измениться?</h3>
											<div class="article-column__text-img-block animated-in-fadeIn is-hidden visible animated fadeIn">
													<div class="article-column__img-col">
														<div class="img-wrap">
															<img src="images/img-15.jpg" alt="">									
														</div>										
													</div>
													<div class="article-column__text-col">
															<p class="text-17 animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Фактически <span>готовый бизнес-план салона красоты с расчетами </span> отвечает на вопрос за счет чего, за счет каких услуг, в каких соотношениях, с какими ресурсами в кассе моего салона появятся деньги?</p>
															<p class="text-17 animated-in-fadeIn is-hidden visible animated fadeIn">Что повлияет на то, будет их больше или меньше? Какие параметры и КАК нужно изменить, чтобы денег было больше, а период их получения меньше? На каком вообще рынке мы будем работать? Сколько денег нам необходимо вложить для реализации проекта «салон красоты под ключ» и когда мы пройдем точку безубыточности?</span></p>
																					
													</div>
												</div>
												<p class="text-17"> Подавляющее большинство шаблонов «бизнес-планов салонов красоты» и, что самое обидное, индивидуально разработанных бизнес-планов, которые мы видели имели серьезный недостаток – они статичны и не учитывали весь необходимый набор показателей. Самый большой плюс хорошего бизнес-плана салона красоты в том, что он позволяет смотреть на ваш «красивый» бизнес в динамике на 5 лет. И даже более того!</p>								
												<p class="text-17">Вы можете найти готовый бизнес план парикмахерской, косметологического кабинета, салона красоты с расчетами в свободном доступе, но будете ли вы уверены, что он принесет вам какую-то пользу, или еще больше введет в заблуждение?</p>
												<p class="text-17">Правильно составленный бизнес-план парикмахерской,  SPA салона или студии маникюра покажет не только в какие сроки, но и КАК достичь желаемых финансовых показателей работы салона красоты. <span>Правильно составленный бизнес-план – это панель управления для директора салона красоты.</span> Он позволяет не дергаться, в режиме реального времени вносить изменения в те или иные запланированные изначально показатели, ориентируясь на текущую ситуацию на рынке и другие влияющие на развитие бьюти-предприятия факторы.</p>
												<h3 class="title-md deco-line animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Ликбез: что надо учитывать при расчете бизнес-плана салона красоты</h3>								
												<p class="text-17">Для составления грамотного <span>бизнес-плана салона красоты</span>	 нужно знать, <span>как расчитать основные показатели</span>, влияющие на планирование дохода будущего салона красоты, косметологического центра или СПА.</p>
												<ul class="article__num-list">
														<li class="article__num-item animated-in-fadeIn is-hidden visible animated fadeIn full-visible">
																<h3 class="title title__bold animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Как рассчитать средний чек салона красоты для бизнес-плана</h3>
																<p class="text-17"><span>Средний чек </span>это сумма денег, которую в среднем оставляет один клиент в вашем салоне красоты. Это - один из важнейших показателей бизнес-плана салона красоты. Он рассчитывается <span>по каждому направлению салона отдельно.</span>Т.е., вам нужно запланировать средний чек парикмахерского зала. Средний чек маникюрного зала. Средний чек косметологии. И так далее. Чтобы средние чеки по каждому направлению вашего салона красоты были близки к реальности, вам необходимо разработать ассортиментный портфель вашего салона красоты. <span>Какие услуги и в каком соотношении </span>вы планируете представить в вашем бьюти-предприятии?</p>
																<p class="text-17 bold">Пример расчета среднего чека парикмахерского зала для бизнес-плана салона красоты. Бизнес-модель 1</p>
																<p class="tetx-17">Инвестор салона красоты решил, что базовыми услугами в парикмахерском зале будут стрижки, укладки, окрашивание и процедуры лечение волос.</p>
																<div class="article__color-block article__color-block_light-beige animated-in-fadeIn is-hidden visible animated fadeIn">																
																		<div class="color-block__description-block">
																				<div class="article-column__text-block_2 animated-in-fadeIn is-hidden visible animated fadeIn">
																					<div class="text-block-wrap">
																						<p class="text-17 bold">Услуги</p>
																						<p class="text-17">Стрижки/Укладки</p>
																						<p class="text-17">Окрашивание</p>
																						<p class="text-17">Лечение</p>
																					</div>
																					<div class="text-block-wrap">
																							<p class="text-17 bold">Цена (у.е.)</p>
																							<p class="text-17">35</p>
																							<p class="text-17">70</p>
																							<p class="text-17">50</p>
																						</div>
																				</div>																			
																			<p class="text-17">Мы решили, что соотношение внутри базовых услуг парикмахерского зала будет 3 к 1:</p>
																			<p class="text-17"><span>на каждые 3 стрижки / укладки приходится 1 окрашивание и лечение</span></p>
																			<p class="text-17">Тогда средний чек для бизнес-плана салона красоты будет таким:</p>
																			<p class="text-17"><span>(35у.е.*3 + 70у.е.*1 + 50у.е.*1)/5 = 45у.е.</span></p>
																		</div>
																</div>
																<p class="text-17 bold">Пример расчета среднего чека парикмахерского зала для бизнес-плана салона красоты. Бизнес-модель 2</p>
																<p class="text-17">Предположим, что инвестор по-другому видит развитие парикмахерского зала своего бьюти-предприятия. Базовыми услугами в этом предприятии будут практически те же услуги: стрижки / укладки, окрашивание / уход.</p>
																<p class="text-17">Также, каждому клиенту парикмахерского зала проводится экспресс-диагностика волос, которая является - частью базовых услуг, т.е. включена в их стоимость. Услуга окрашивания комплексная и уже включает в себя уход (лечение).  Фокус, маркетинговая модель, а соответственно и финансовая модель этого бьюти-предприятия выглядит совсем по-другому.</p>
																<p class="text-17">Инвестор решил, что соотношение внутри базовых услуг будет 2 к 1, т.е., на 2 стрижки/укладки должно приходиться 1 окрашивание с уходом:</p>
																<div class="article__color-block article__color-block_light-beige animated-in-fadeIn is-hidden visible animated fadeIn">		
																	<div class="color-block__description-block">
																			<div class="article-column__text-block_2 animated-in-fadeIn is-hidden visible animated fadeIn">
																				<div class="text-block-wrap">
																					<p class="text-17 bold">Услуги</p>
																					<p class="text-17">Стрижки/Укладки</p>
																					<p class="text-17">Окрашивание + Уход </p>																			
																				</div>
																				<div class="text-block-wrap">
																						<p class="text-17 bold">Цена (у.е.)</p>
																						<p class="text-17">35</p>
																						<p class="text-17">110</p>																					
																					</div>
																			</div>																			
																		<p class="text-17">Средний чек для бизнес-плана салона красоты по бизнес-модели № 2 будет таким:</p>
																		<p class="text-17"><span>(35у.е.*2 + 110)/3 = 60у.е.</span></p>
																		<p class="text-17">Точно также вам необходимо спрогнозировать и посчитать средние чеки по всем направлениям салона красоты. А мы продолжим наш ликбез.</p>																
																	</div>
																</div>
															</li>
															<li class="article__num-item animated-in-fadeIn is-hidden visible animated fadeIn full-visible">
																	<h3 class="title title__bold animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Как рассчитать сезонность спроса на услуги красоты</h3>
																	<p class="text-17">Планируя доходы в бизнес-плане вашего будущего салона красоты или парикмахерской, вы должны учитывать сезонность. На сезонность оказывает влияние и регион, в котором вы будете работать, и сегмент предприятия, экономические и политические события, всплески, вызванные разными событиями, например, резкое изменение в распределении туристических потоков, местные праздники и многие другие факторы. Несмотря на то, что есть некие усредненные цифры, мы не рекомендуем вам на них слепо ориентироваться.</p>
																	<div class="article__color-block article__color-block_light-beige animated-in-fadeIn is-hidden visible animated fadeIn">		
																			<div class="color-block__description-block">
																				<p class="text-17 bold">Пример распределения доли каждого месяца в годовом плане доходов салона красоты:</p>
																					<div class="article-column__text-block_2 animated-in-fadeIn is-hidden visible animated fadeIn">
																						<div class="text-block-wrap">
																							<p class="text-17 bold">01</p>
																							<p class="text-17 bold">02</p>
																							<p class="text-17 bold ">03</p>
																							<p class="text-17 bold ">04</p>
																							<p class="text-17 bold ">05</p>
																							<p class="text-17 bold ">06</p>
																							<p class="text-17 bold ">07</p>
																							<p class="text-17 bold ">08</p>
																							<p class="text-17 bold ">09</p>
																							<p class="text-17 bold ">10</p>
																							<p class="text-17 bold ">11</p>
																							<p class="text-17 bold ">12</p>
																							<p class="text-17 bold ">год</p>																			
																						</div>
																						<div class="text-block-wrap">
																								<p class="text-17">5%</p>
																								<p class="text-17">7%</p>
																								<p class="text-17">10%</p>
																								<p class="text-17">8.5%</p>
																								<p class="text-17">7%</p>
																								<p class="text-17">8%</p>
																								<p class="text-17">8%</p>
																								<p class="text-17">6%</p>
																								<p class="text-17">9%</p>
																								<p class="text-17">9%</p>
																								<p class="text-17">9.5%</p>
																								<p class="text-17">13%</p>
																								<p class="text-17">100%</p>																					
																							</div>
																					</div>																			
																				<p class="text-17">В шаблоне бизнес-плана, который вы можете оплатить и скачать у нас на сайте уже есть цифры сезонности. Но, мы поставили их для того, чтобы дать вам понимание того, как рассчитывается доля каждого месяца в году, не более того.</p>
																				<p class="text-17 bold">Помните о том, что на объем продаж услуг и продуктов салонов красоты влияют:</p>
																				<p class="text-17"><span>События</span> - это все праздники и другие события, которые оказывают влияние как на всплески так и на спад потребления услуг салона красоты, косметологического центра или СПА.</p>
																				<p class="text-17"><span>Сезон</span> - весна, лето, зима, осень и услуги, наиболее востребованные в каждый из этих периодов. В том числе из-за наличия или отсутствия показаний / противопоказаний.</p>
																			</div>
																		</div>
																</li>
															<li class="article__num-item animated-in-fadeIn is-hidden visible animated fadeIn">
																	<h3 class="title title__bold animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Как расчитать доход салонв красоты, косметологического центра, СПА</h3>
																	<p class="text-17">Доход салона красоты складывается <span>	из доходов каждого из направлений бьюти-предприятия</span>. Давайте посмотрим, как выглядит расчет дохода косметологии в салоне красоты:</p>								
																	<div class="article__color-block article__color-block_light-beige animated-in-fadeIn is-hidden visible animated fadeIn">		
																			<div class="color-block__description-block">
																				<p class="text-17 bold">Кол-во рабочих мест (2) * Кол-во рабочих дней в месяц (29) * Средний чек (70у.е.)* </p>
																				<p class="text-17 bold">Максимальная загрузка в день (7)*</p>
																				<p class="text-17 bold">Планируемая загрузка в первый год работы (60%) = 17 052 у.е.</p>
																			</div>
																	</div>
																	<p class="text-17">Эта формула дает управляющему салона красоты представление о производственных мощностях бьюти-предприятия. В этой формуле есть один показатель, который мы не рассмотрели в нашем коротком Ликбезе. Это - расчет максимальной и планируемой загрузки салона красоты. Расчитывая загрузку нужно помнить о том, что на этот показатель оказывает влияние время оказания услуг и рассчитать его бывает достаточно сложно.</p>		
																	<p class="text-17">Чем более широкий ассортимент услуг в вашем салоне или клинике, тем более сложно будет точно рассчитать среднее время оказания услуг. Чем более стандартизирована работа вашего предприятия, чем более простой портфель услуг, тем рассчитать загрузку будет легче и этот расчет будет более точным.</p>
																	
																	<div class="article__bg-img-block">
																			<p class="text-17 x-light-blue-color animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Не забывайте, что время оказания услуги клиенту должно включать время подготовки к услуге и пост-процедурное время. Особенностям определения правильной загрузки салона красоты и стандартизации услуг мы уделяем большое внимание на обучение инвесторов и управляющих салонами красоты и СПА в Международной бизнес-школе <a href="">	Beauty Salon Boss.</a></p>
																		</div>
																</li> 														                             
													</ul>
													<h3 class="title-md deco-line animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Как скачать/заказать бизнес-план салоны красоты, косметологического центра, парикмахерской или СПА</h3>
													<p class="text-17">В компании "Салонный маркетинг" можно получить <span>готовый шаблон бизнес-плана салона красоты / парикмахерской / СПА с расчетами.</span>	 Документ представляет собой структурированный шаблон в Excel, со всеми формулами. Заполнив все пункты вашими цифрами, вы получите автоматический расчет окупаемости проекта.</p>
													<p class="tetx-17">Наши бизнес-планы составлены для индустрии красоты, с учетом специфики отрасли и постоянно применяются нами в работе. Вы можете заказать и скачать 2 варианта шаблонов бизнес-плана салона красоты. Более простой и максимально подробный. Подробный бизнес-план парикмахерской с расчетами или другого предприятия красоты также дает возможность работать в нескольких валютах: $, евро, казахские тенге и гривны.</p>
													<p class="text-17">Получить бизнес-план очень легко - после оплаты счет-фактуры или при помощи оплаты VISA / MASTER CARD, вы получите ссылку для скачивания на e-mail.</p>
													<ul class="article__num-list">
															<li class="article__num-item animated-in-fadeIn is-hidden visible animated fadeIn">
																<p class="text-17">	<span>Стоимость стандартного шаблона бизнес-плана салона красоты с формулами -
																		99$ / 2 680 грн.</span>	</p>
															</li>
															<li class="article__num-item animated-in-fadeIn is-hidden visible animated fadeIn">
																<p class="text-17">	<span>Разработка индивидуального бизнес-плана салона красоты / парикмахерской / косметологического центра или СПА</span> в Украине стоит от 1 500 у.е. до 4 000 у.е. Стоимость зависит от величины предприятия (кв. м., один салон или сеть), особенностей бизнес-модели, необходимости проведения исследования локального рынка (иногда инвесторы уже располагают срезом по конкурентам, их услугам и ценам) и другим параметрам. </p>																
															</li>
															<li class="article__num-item animated-in-fadeIn is-hidden visible animated fadeIn">
																<p class="text-17"><span> Хотите купить <a href="">действующий салон красоты </a>	в Киеве? Звоните: +38 067 238 33 08 или заполните форму заявки </span></p>
															</li>
													</ul>
													<div class="article__color-block article__color-block_dark-blue animated-in-fadeIn is-hidden visible animated fadeIn">																		
														<div class="color-block__description-block">									
																<p class="text-17">Как еще получить бизнес-план салона красоты? В Международной школе инвесторов и директоров предприятий индустрии красоты <a href="">Beauty Salon Boss</a>	в пакете из 100 рабочих документов директора салона красоты.</p>														
														</div>
													</div>
													<p class="text-17"><span>P.S.</span> Прямо сейчас воспользуйтесь простым и удобным <a href="">калькулятором загрузки салона красоты.</a>	 Вы узнаете, какой может быть максимальная выручка вашего будущего предприятия. А также узнаете разницу между текущей и возможной выручкой, если вы уже работаете.</p>
													<p class="text-17"><span>P.P.S. Хотите купить готовый бизнес </span> - салон красоты / сеть салонов красоты? <a href="">Узнайте</a>, почему это выгодно и как не допустить ошибок при покупке действующего салона красоты.</p>
											</div>
								</div>
							
							
							
							</div>							
						
						</div>									
					</div>
			
							
				<div class="container">
					<div class="layot-content-block">		
						{% include "main-form-block.html" %}										
				</div>			
			</div>		
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

