{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block breadcrumb %}
	<ul class="breadcrumb-list">
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
		<li><a href="">Публикации</a></li>
				<li><a href="">Калькулятор</a></li>
	</ul>
	</ul>
{% endblock %}	

{% block content %}	
	<main class="main calculator-page">
		<div class="layot-section no-sidebar">
			<div class="container">
				<div class="layot-content-block top">
					<div class="all-shadow article"></div>					
						<div class="layot-content-block__header flex animated-in-flipInX">
							<img src="images/img-13.jpg" alt="">
							<div class="layot-content-block__header-description-block left">
								<h2 class="title-x-lg title-x-lg__white title-x-lg__thin">Калькулятор загрузки салона красоты</h2>									
							</div>
							</div>					
						
							<div class="article-wrap">							
								<div class="article__list-block">
										<h3 class="title title__bold animated-in-fadeIn">Зачем нужен калькулятор?</h3>
										<p class="text-17"><span>Простой, красивый и удобный Калькулятор Салонного Маркетинга</span> полная противоположность таблицам Excel. Чтобы увидеть разрыв между текущим положением дел и тем, какой может быть выручка вашего салона красоты при грамотном управлении теперь достаточно сделать лишь несколько кликов!</p>
										<p class="text-17 bold">Всего за несколько кликов вы посчитаете:</p>
										<ul class="article__mark-list">
												<li class="article__mark-item">
													фактическую (реальную) загрузку в месяц, %;
												</li>
												<li class="article__mark-item">
													фактическую выручку в месяц, $;
												</li>
												<li class="article__mark-item">
													максимально возможное кол-во клиентопосещений в месяц;
												</li>
												<li class="article__mark-item">
													максимально возможную выручку согласно ценовому сегменту вашего предприятия;
												</li>
										</ul>				
								</div>							
							</div>
							<div class="article__bg-img-block">
								<p class="text-17 bold">Ценовой сегмент:</p>
								<ul class="checkbox__list">
									<li class="checkbox__item">
										<input type="checkbox" name="delivery"  class="checkbox">
										<p class="text-17">Эконом</p>
									</li>
									<li class="checkbox__item">
										<input type="checkbox"  name="delivery"  class="checkbox">
										<p class="text-17">Бизнес</p>
									</li>
									<li class="checkbox__item">
										<input type="checkbox"  name="delivery"  class="checkbox">
										<p class="text-17">Перстиж</p>
									</li>
									<li class="checkbox__item">
										<input type="checkbox"  name="delivery" class="checkbox">
										<p class="text-17">Элит</p>
									</li>
								</ul>
							</div>
							<div class="color-block__blue">
									<p class="color-block-title">Ногтевой сервис</p>
									<div class="counter-block">
										<div class="calc-wrap">
											<p class="calc-title text-17">Кол-во рабочих мест (столов)</p>
											<ul class="counter-list">                
													<li class="counter-item">													
														<div class="counter-wrap clearfix">
															<a class="left-btn"></a>
															<input type="text" value="0" class="counter tc" name="set" placeholder="">
															<a class="right-btn"></a>
														</div>  
													</li>											
												</ul>
										</div>
										<div class="calc-wrap">
												<p class="calc-title text-17">Кол-во клиентов в день (грн)</p>
												<ul class="counter-list">                
														<li class="counter-item">													
															<div class="counter-wrap clearfix">
																<a class="left-btn"></a>
																<input type="text" value="0" class="counter tc" name="set" placeholder="">
																<a class="right-btn"></a>
															</div>  
														</li>											
													</ul>
											</div>									
									</div>
									<div class="counter-block">										
										<div class="calc-wrap">
												<p class="calc-title text-17">Кол-во рабочих дней в месяц</p>
												<div class="counter-list">	
														<input type="text" class="calc-input" placeholder="22">
												</div>												
											</div>
											<div class="calc-wrap">
												<p class="calc-title text-17">Средний чек (грн)</p>
												<div class="counter-list">	
														<input type="text" class="calc-input" placeholder="22">
												</div>	
											</div>
									</div>
									<div class="main-counter-block">
											<p class="calc-title text-17">Итого выручка в месяц (грн):</p>
											<input type="text" class="main-counter-input">
									</div>
							</div>
							<div class="color-block__pink">
									<p class="color-block-title">Парикмахерский зал</p>
									<div class="counter-block">
										<div class="calc-wrap">
											<p class="calc-title text-17">Кол-во рабочих мест (кресел)</p>
											<ul class="counter-list">                
													<li class="counter-item">													
														<div class="counter-wrap clearfix">
															<a class="left-btn"></a>
															<input type="text" value="0" class="counter tc" name="set" placeholder="">
															<a class="right-btn"></a>
														</div>  
													</li>											
												</ul>
										</div>
										<div class="calc-wrap">
												<p class="calc-title text-17">Кол-во клиентов парикмахерского зала в день (грн)</p>
												<ul class="counter-list">                
														<li class="counter-item">													
															<div class="counter-wrap clearfix">
																<a class="left-btn"></a>
																<input type="text" value="0" class="counter tc" name="set" placeholder="">
																<a class="right-btn"></a>
															</div>  
														</li>											
													</ul>
											</div>									
									</div>
									<div class="counter-block">										
										<div class="calc-wrap">
												<p class="calc-title text-17">Кол-во рабочих дней в месяц</p>
												<div class="counter-list">	
														<input type="text" class="calc-input" placeholder="22">
												</div>
											</div>
											<div class="calc-wrap">
												<p class="calc-title text-17">Средний чек (грн)</p>
												<div class="counter-list">	
														<input type="text" class="calc-input" placeholder="22">
												</div>
											</div>
									</div>
									<div class="main-counter-block">
											<p class="calc-title text-17">Итого выручка в месяц (грн):</p>
											<input type="text" class="main-counter-input">
									</div>
							</div>
							
							<div class="color-block__yellow">
									<p class="color-block-title">Косметолог</p>
									<div class="counter-block">
										<div class="calc-wrap">
											<p class="calc-title text-17">Кол-во рабочих мест (кушеток)</p>
											<ul class="counter-list">                
													<li class="counter-item">													
														<div class="counter-wrap clearfix">
															<a class="left-btn"></a>
															<input type="text" value="0" class="counter tc" name="set" placeholder="">
															<a class="right-btn"></a>
														</div>  
													</li>											
												</ul>
										</div>
										<div class="calc-wrap">
												<p class="calc-title text-17">Кол-во клиентов косметологии в день (грн)</p>
												<ul class="counter-list">                
														<li class="counter-item">													
															<div class="counter-wrap clearfix">
																<a class="left-btn"></a>
																<input type="text" value="0" class="counter tc" name="set" placeholder="">
																<a class="right-btn"></a>
															</div>  
														</li>											
													</ul>
											</div>									
									</div>
									<div class="counter-block">										
										<div class="calc-wrap">
												<p class="calc-title text-17">Кол-во рабочих дней в месяц</p>
												<input type="text" class="calc-input" placeholder="22">
											</div>
											<div class="calc-wrap">
												<p class="calc-title text-17">Средний чек (грн)</p>
												<div class="counter-list">	
														<input type="text" class="calc-input" placeholder="22">
												</div>
											</div>
									</div>
									<div class="main-counter-block">
											<p class="calc-title text-17">Итого выручка в месяц (грн):</p>
											<input type="text" class="main-counter-input">
									</div>
							</div>

							<div class="color-block__green">
								<p class="color-block-title">Массаж</p>
								<div class="counter-block">
									<div class="calc-wrap">
										<p class="calc-title text-17">Кол-во рабочих мест (кабинетов)</p>
										<ul class="counter-list">                
												<li class="counter-item">													
													<div class="counter-wrap clearfix">
														<a class="left-btn"></a>
														<input type="text" value="0" class="counter tc" name="set" placeholder="">
														<a class="right-btn"></a>
													</div>  
												</li>											
											</ul>
									</div>
									<div class="calc-wrap">
											<p class="calc-title text-17">Кол-во клиентов массажа в день (грн)</p>
											<ul class="counter-list">                
													<li class="counter-item">													
														<div class="counter-wrap clearfix">
															<a class="left-btn"></a>
															<input type="text" value="0" class="counter tc" name="set" placeholder="">
															<a class="right-btn"></a>
														</div>  
													</li>											
												</ul>
										</div>									
								</div>
								<div class="counter-block">										
									<div class="calc-wrap">
											<p class="calc-title text-17">Кол-во рабочих дней в месяц</p>
											<div class="counter-list">	
														<input type="text" class="calc-input" placeholder="22">
												</div>
										</div>
										<div class="calc-wrap">
											<p class="calc-title text-17">Средний чек (грн)</p>
											<div class="counter-list">	
														<input type="text" class="calc-input" placeholder="22">
												</div>			
										</div>
								</div>
								<div class="main-counter-block">
										<p class="calc-title text-17">Итого выручка в месяц (грн):</p>
										<input type="text" class="main-counter-input">
								</div>
						</div>
						<div class="article-wrap">
							<a href="#" class="button hvr-rectangle-out button__pink-transparent">Рассчитать</a>
							<a href="#" class="button button__blue-transparent hvr-rectangle-out">Очистить данные</a>
						</div>
					</div>									
				</div>
			
							
				<div class="container">
					<div class="layot-content-block">		
						{% include "main-form-block.html" %}										
				</div>			
			</div>		
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

