{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block eventSubnav %}
	<div class="subnav subnav__event animated-in-flipInX">
		<ul class="subnav__list left">
			<li class="subnav__item_main trans">
				<a href="">Все события</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Выставки</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Семинары</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Треннинги</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Лекции</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Встречи</a>
			</li>			
		</ul>
        <ul class="subnav__list right">
            <li class="subnav__item_btn trans ">
                <i class="fa fa-calendar" aria-hidden="true"></i>
				<a href="">Календарь</a>
			</li>
			<li class="subnav__item_btn trans">			
				<a href="" class="button hvr-rectangle-out button__pink-blue trans">Как добавить событие?</a>
			</li>
        </ul>
	</div>
{% endblock %}		

{% block content %}	
	<main class="main calendar-page">
		<div class="layot-section no-sidebar">
			<div class="container">
				<div class="layot-content-block">					
					<div class="all-shadow"></div>
						<div class="calendar__slider-block">
							<div class="calendar__wrap">
								<div class="calendar__title-block animated-in-fadeIn">
									<a class="calendar__link prev-button"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> <span>Июнь</span></a>
									<p class="calendar__title">Июль 2017</p>
									<a class="calendar__link next-button"><span>Август</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
								</div>
								{% include "calendar-list-title.html" %}	
								{% include "calendar-list.html" %}
								<div class="calendar__title-block animated-in-fadeIn">
									<a  class="calendar__link prev-button"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> <span>Июнь</span></a>									
									<a  class="calendar__link next-button"><span>Август</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
								</div>	
							</div>					
							<div class="calendar__wrap">
								<div class="calendar__title-block">
									<a class="calendar__link prev-button"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> <span>Июль</span></a>
									<p class="calendar__title">Август 2017</p>
									<a class="calendar__link next-button"><span>Сентябрь</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
								</div>							
								{% include "calendar-list-title.html" %}
								{% include "calendar-list.html" %}
								<div class="calendar__title-block">
									<a class="calendar__link prev-button"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> <span>Июль</span></a>									
									<a class="calendar__link next-button"><span>Сентябрь</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
								</div>	
							</div>
						</div>					
				</div>
			</div>
							
					
		
		{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

