{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block content %}	
	<main class="main longrid-page consalting-page">
		<div class="layot-section no-sidebar">
			<div class="container">
				<div class="layot-content-block top">
					<div class="all-shadow article"></div>					
						<div class="layot-content-block__header flex animated-in-flipInX">
							<img src="images/img-13.jpg" alt="">
							<div class="layot-content-block__header-description-block left">
								<h2 class="title-x-lg title-x-lg__white title-x-lg__thin">консалтинг салонов красоты</h2>									
							</div>                            
							</div>					
							<div class="article-wrap animated-in-fadeIn">	
								<p class="text-17">Индивидуальные консультации руководителей салонов красоты, косметологических центров, СПА (в том числе в дистанционном формате) направлены на помощь в решении проблемных вопросов в управлении и развитии предприятий индустрии красоты. Консалтинг СПА и салонов красоты также может быть направлен на восполнение пробелов в знаниях в области создания и управления "красивым бизнесом".</p>
								<p class="text-17"><span>Страны: </span>Казахстан, Беларусь, Грузия, Польша, Россия, Азербайджан, Молдова, Украина</p>
								<ul class="article__num-list">
										<li class="article__num-item animated-in-fadeIn is-hidden visible animated fadeIn full-visible">
												<h3 class="title title__bold animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Индивидуальная консультация "Как открыть салон красоты, СПА, или косметический центр"</h3>
												
												<ul class="article__mark-list">
														<li class="article__mark-item">
															<p class="text-17"><span>Рекомендуется:</span> когда Вам нужно получить экспертный ответ по вопросам <span>открытия</span>  салона красоты, СПА, косметологического центра, учебного центра или дистрибьюторской компании</p>
														</li>
														<li class="article__mark-item">
																<p class="text-17"><span>Участники:</span> с вашей стороны на консультации могут присутствовать до трех человек</p>
														</li>
														<li class="article__mark-item">
																<p class="text-17"><span>Кто проводит: </span> консультацию проводят специалисты "Салонного маркетинга" или лично Наталья Гончаренко</p>
														</li>
														<li class="article__mark-item">
																<p class="text-17"><span>Где: </span> консультация может проводиться в Киеве или по Skype из любой страны</p>
														</li>
														<li class="article__mark-item">
																<p class="text-17"><span>Пожалуйста,</span> <a href="">запишитесь</a> на консультацию заранее</p>
														</li>
														<li class="article__mark-item">
																<p class="text-17"><span>Стоимость</span>консультации - <span>	150 у.е. / 1 час</span></p>
														</li>
														<li class="article__mark-item">
																<p class="text-17"><span>Минимальная длительность </span>индивидуальной консультации: <span> 2 часа</span></p>
														</li>
												</ul>			
											</li>
											<li class="article__num-item animated-in-fadeIn is-hidden visible animated fadeIn full-visible">
													<h3 class="title title__bold animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Индивидуальная консультация "Как развить действующий салон красоты"</h3>
													<ul class="article__mark-list">
															<li class="article__mark-item">
																	<p class="text-17"></p><span>Рекомендуется: </span> когда вам нужно быстро получить компетентный ответ по вопросам управления "красивым" бизнесом, маркетинга, привлечения клиентов, etc  </p>
															</li>
															<li class="article__mark-item">
																	<p class="text-17"></p><span>Участники: </span> с вашей стороны на консультации могут присутствовать до трех человек</p>
															</li>
															<li class="article__mark-item">
																	<p class="text-17"></p><span>Кто проводит: </span> консультацию проводят специалисты "Салонного маркетинга" или лично Наталья Гончаренко</p>
															</li>
															<li class="article__mark-item">
																	<p class="text-17"></p><span>Где: </span> консультация может проводиться на нейтральной территории в Киеве или по Skype из любой страны</p>
															</li>
															<li class="article__mark-item">
																	<p class="text-17"><span>Пожалуйста,</span> <a href="">запишитесь</a> на консультацию заранее</p>
															</li>
															<li class="article__mark-item">
																	<p class="text-17"><span>Стоимость</span>skype-консультации - <span>	150 у.е. / 1 час</span></p>
															</li>
															<li class="article__mark-item">
																	<p class="text-17"><span>Минимальная длительность </span>skype-консультации: <span> 2 часа</span></p>
															</li>
													</ul>
										</li>										                               
								</ul>	
								<h3 class="title-md deco-line animated-in-fadeIn is-hidden visible animated fadeIn full-visible">Процесс подготовки и работы при индивидуальных консультациях</h3>	
								<p class="text-17">Если вы собираетесь <span>открыть салон красоты, </span>  косметологический центр или СПА: вы готовите все вопросы, которые интересуют вас, как инвестора по открытию бьюти-предприятия. На этой консультации обычно рассматриваются различные нюансы открытия предприятия. С этой консультации также начинается работа над проектами <span> "салон под ключ".</span></p>										
								<p class="text-17">Если у вас <span>действующий салон красоты:</span> мы знакомимся с Вашим салоном (обязательно). Вы готовите вопросы, ответы на которые Вас интересуют. Например: из салона уходят специалисты, как правильно рекламироваться в интернете, какая реклама работает, выросла конкуренция, мало клиентов в салоне, как правильно построить работу с персоналом и т.д. Вопросы необходимо прислать заранее.</p>
								<ul class="article__mark-list">
										<li class="article__mark-item">
											<p class="text-17">дистанционные консультации в  <span>Skype-сессии (сессиях)</span></p>
										</li>
										<li class="article__mark-item">
												<p class="text-17">у Вас в салоне красоты, косметологическом центре или СПА</p>
										</li>
										<li class="article__mark-item">
												<p class="text-17">на нейтральной территории, если вы инвестор и только планируете открывать предприятие</p>
										</li>
								</ul>
								<div class="article__color-block article__color-block_light-beige animated-in-fadeIn is-hidden visible animated fadeIn full-visible">																
										<div class="color-block__description-block">
											<a href="" class="title-19">Обратите внимание!</a>
											<p class="text-17"><span>Желание получить "волшебную таблетку" </span> и узнать какие-то невиданные "секретные" технологии привлечения клиентов, удержания специалистов и увеличения доходов салона красоты, благодаря которой салон красоты / SPA мгновенно наполнились бы клиентами и мастерами, а кошелек деньгами, объединяет большую группу владельцев и директоров предприятий индустрии красоты.</p>
											<p class="text-17">Правда заключается в том, что "волшебных таблеток" и "секретных" шагов не существует в бизнес-природе, как бы нам этого не хотелось и какие бы астрономические суммы бы у вас за это не просили. Их просто нет. </p>
											<p class="text-17">Как вы думаете, почему? Потому что ваш салон красоты или СПА - это бизнес, а бизнесом занимаются всего  <span>3-5% людей </span> на земном шаре. <span>И вы, кстати, в их числе!</span>Однако, количество продавцов "волшебных таблеток", секретных фишек и "универсальных" инструментов "как удвоить прибыль салона красоты" растет, а количество этих самых "удвоившихся" салонов не увеличивается. И вопросы остаются все те же. Какая-то странная закономерность, вы не находите? По идее уже 60-70% людей могли бы иметь успешный бизнес, как минимум в бьюти-индустрии!</p>
											<p class="text-17"><span>Что делать,</span> знаем мы в "Салонном маркетинге" и кропотливо, шаг за шагом меняем пассивную действительность в бьюти-отрасли на позитивную бизнес-среду вместе с вами! Наша миссия - сделать так, чтобы вы могли после работы с нами <span>самостоятельно</span> находить решения и развивать свой бьюти-бизнес в любых рыночных условиях.</p>
										</div>
								</div>
								<p class="text-17">Убедитесь в <a href="">"Историях успеха"</a> наших Клиентов - на индивидуальных консультациях вы получите столько идей и информации, что главной вашей заботой станет успевать реализовывать все это у себя на предприятии!</p>
								<p class="text-17"><span>P.S.</span> Смотрите также более продолжительные консультации  <a href="">Аудит салона красоты</a> / косметологического центра / СПА</p>
								<p class="text-17"><span>P.P.S.</span> <a href=""> Читайте интервью</a> с основателем компании "Салонный маркетинг" Натальей Гончаренко</p>
							</div>						
						</div>									
					</div>
			
							
				<div class="container">
					<div class="layot-content-block">		
						{% include "main-form-block.html" %}
									
				</div>			
			</div>		
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

