{% extends "template.html" %}	
{% import "macros.html" as myMacros %}


{% block subnav %}
	<!--<div class="subnav animated-in-flipInX">
		<ul class="subnav__list">
			<li class="subnav__item_main trans">
				<a href="">Все товары</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Товар 1</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Товар 2</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Товар 3</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Товар 4</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Товар 5</a>
			</li>
				<li class="subnav__item trans">
				<a href="">Товар 6</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Товар 7</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Товар 8</a>
			</li>			
		</ul>
        <div class="subnav__item_btn trans">			
            <i class="fa fa-long-arrow-down" aria-hidden="true"></i> Еще<br>рубрики
        </div>
		<div class="drop-menu">
			<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Идеи</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Оборудование</a>
				</li>
			</ul>
				<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Идеи</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Оборудование</a>
				</li>
			</ul>
				<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Салонный Маркетинг рекомендует</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Салонный Маркетинг рекомендует</a>
				</li>                
			</ul>
				<button class="drop-menu__close"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>свернуть</button>
		</div>	
	</div>-->
{% endblock %}		

{% block content %}	
	<main class="main dealers-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block">
					<div class="sadow-section">
						<div class="all-shadow"></div>
						<div class="article-wrap">
							<h3 class="content-title content-title__pink content-title__left animated-in-slideInLeft">Поставщики</h3>                            
								<div class="dealers__layot-block">
										<div class="dealers__block animated-in-zoomIn">
												<div class="dealers__logo-block">
														<div class="img-wrap">
																<img src="images/logo-7.png" alt="">
														</div>								
												</div>
												<div class="dealers__wrap">
														<div class="dealers__description-block">
																<p class="dealers__name">Салон<br>Shine Style</p>
																<p class="text-17">Краткое описание и какая нибуть информация о данном авторе.</p>									
														</div>
														<div class="dealers__button-block">
																<a href="#" class="button button__dark-blue-transparent hvr-rectangle-out arrow">Товары и услуги</a> 
														</div>
												</div>								
										</div>
										<div class="dealers__block animated-in-zoomIn">
												<div class="dealers__logo-block">
														<div class="img-wrap">
																<img src="images/logo-6.png" alt="">
														</div>								
												</div>
												<div class="dealers__wrap">
														<div class="dealers__description-block">
																<p class="dealers__name">Салон<br>Shine Style</p>
																<p class="text-17">Краткое описание и какая нибуть информация о данном авторе.</p>									
														</div>
														<div class="dealers__button-block">
																<a href="#" class="button button__dark-blue-transparent hvr-rectangle-out arrow">Товары и услуги</a> 
														</div>
												</div>								
										</div>										
								</div>                               
						</div>
							{% include "paging.html" %}							
					</div>											
				</div>
					
				{{ myMacros.sidebar(className="sidebar", sidebarMainImgBlock=false, sidebarMainImgBlockNoCenter=true, sidebarEventBlock=false, sidebarProductBlock=true, formblock=true, sidebarColBlock=false, sidebarImgBlock=false, sidebarPopBlock=true) }}
				
			</div>			
		</div>		
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

