{% extends "template.html" %}	
{% import "macros.html" as myMacros %}			

{% block content %}	
	<main class="main event event-one-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block">	
					<div class="sadow-section top">
						<div class="all-shadow"></div>
							<div class="layot-content-block__header animated-in-flipInX">
							<img src="images/img-13.jpg" alt="">
							<div class="layot-content-block__header-description-block">
								<span class="event__label dark-blue">Семинар</span>
									<h2 class="title-md title-md__white title-md__thin">Cтандарты сервиса салона красоты или правда о любви к клиентам</h2>
									<div class="calendar-block">
										<span class="calendar-block__data">22 сентября — 23 сентября 2017</span>
									</div>
									<div class="event__info-wrap center">
											<span class="event__info-block_text">Организатор:</span>
											<span class="event__info-block_value">Ивано-Франковск, Бизнес-центр</span>
									</div>	
									<div class="event__price-block">
										<span class="event__calendar-block_price">1500 грн.</span>
										<button class="button hvr-rectangle-out button__pink-blue trans">Записаться</button>
										<a href="" class="label-block__link trans">
											<i class="fa fa-plus" aria-hidden="true"></i>добавить в
											<span>Google Календарь</span>
										</a>
									</div>							
							</div>
						</div>
						<div class="article-wrap animated-in-fadeIn">
								<p class="text-17 bold">Я люблю тему "О клиентах". Как и большинство из вас, я и мой партнер по бизнесу стараемся, чтобы НАШИМ клиентам было комфортно у нас обслуживаться.</p>
								<p class="text-17"> Для этого, часто мы отказываем иногда 10 из 10 специалистам, которые приходят на собеседования, но не хотят приходить на тестовую отработку на модели, потому, что "я все умею". Для нас важно, чтобы клиентов обслуживали грамотные и ответственные специалисты - поэтому, правила одинаковы для всех. <span>Трудно? Трудно. Но компромиссы в этом вопросе неуместны, ведь речь идет о качестве услуг.</span></p>
						</div>	
					</div>

					<div class="sadow-section">
						<div class="all-shadow"></div>
						{% include "event-program-block.html" %}						
					</div>
					{% include "dark-block.html" %}			
								
				{{ myMacros. eventSection(className="", bordered = [2,3], eventTwoBlock=false, eventOneBlock=false) }}
														
				</div>		
							
				{{ myMacros.sidebar(className="sidebar", sidebarMainImgBlock=false, sidebarMainImgBlockNoCenter=true, sidebarEventBlock=true, formblock=true, sidebarColBlock=false, sidebarImgBlock=false, sidebarPopBlock=false) }}
			</div>			
		</div>		

		{% include "main-publication-section.html" %}
    
    {% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

