{% extends "template.html" %}	
{% import "macros.html" as myMacros %}


{% block eventSubnav %}
	<!--<div class="subnav subnav__event animated-in-flipInX">
		<ul class="subnav__list left">
			<li class="subnav__item_main trans">
				<a href="">Все события</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Выставки</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Семинары</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Треннинги</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Лекции</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Встречи</a>
			</li>			
		</ul>
        <ul class="subnav__list subnav__item_btn right">
            <li class="subnav__item_btn trans ">
                <i class="fa fa-calendar" aria-hidden="true"></i>
				<a href="">Календарь</a>
			</li>
			<li class="subnav__item_btn trans">			
				<a href="" class="button hvr-rectangle-out button__pink-blue trans">Как добавить событие?</a>
			</li>
        </ul>
	</div>-->
{% endblock %}			

{% block content %}	
	<main class="main event event-main-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block">					
					<div class="main-event-section">					
						<div class="content-wrap">
							<div class="event__block animated-in-flipInY">
								<div class="all-shadow"></div>								
								<img src="images/img-6.jpg" alt="">
								<span class="block-label block-label__blue">топ-событие</span>
								<div class="event__content-wrap">
									<span class="event__label dark-blue">Семинар</span>
									<h3 class="title-lg title-lg__thin title-lg__white">Почему мастера уходят из салонов красоты?</h3>
									<p class="text-16">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
									<div class="info-block flex">
										<span class="text-14">Организатор</span>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<span class="text-14">Ивано-Франковск, Бизнес центр</span>													
									</div>
								</div>									
							</div>
							<div class="label-block label-block__pink animated-in-lightSpeedIn">
								<span class="label-block__price">1500 грн</span>
								<a href="#" class="button hvr-rectangle-out button__white-dark-blue trans">Записаться</a>
								<a href="" class="label-block__link trans">
									<i class="fa fa-plus" aria-hidden="true"></i>добавить в
									<span>Google Календарь</span>
								</a>
							</div>
						</div>
					</div>					
					{{ myMacros. eventSection(className="", bordered = [2], eventTwoBlock=true, eventOneBlock=false) }}
					<div class="calendar-banner__block animated-in-pulse">
						<div class="all-shadow"></div>
						<img src="images/banner-1.jpg" alt="">
						<div class="calendar-banner__wrap animated-in-jackInTheBox">
							<i class="calendar-icon"></i>
							<h3 class="title-lg title-lg__thin title-lg__white">Все события <span>Beauty индустрии</span> в одном календаре</h3>
							<a href="" class="button hvr-rectangle-out button__blue-pink trans">Открыть календарь</a>
						</div>						
					</div>										
				</div>		
							
				{{ myMacros.sidebar(className="sidebar", sidebarMainImgBlock=false, sidebarMainImgBlockNoCenter=true) }}
			</div>			
		</div>		

		{% include "main-publication-section.html" %}
    
    	{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

