<!doctype html>
<html class="no-js" lang="">

	{% include "head.html" %}	

  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	{% include "header.html" %}	
	
	
	<main class="main main-page">
		<section class="news-section">
			<div class="container">
				<div class="column-wrap flex">
					<div class="column column__1-3 top column__pink shadow__side white">								
						<h3 class="content-title content-title__pink content-title__left">Новости бьюти-рынка</h3>
						<div class="column-block">
							<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<div class="column-block">
							<a href="#" class="title-17">1-ая Конференция дистрибьюторов профессиональной косметики, оборудования и учебных центров</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<div class="column-block">
							<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<div class="column-block">
							<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<div class="column-block">
							<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<a href="#" class="button button__pink-transparent arrow">Все новости</a>							
					</div>
					<div class="column column__1-3 top column__blue shadow__side white">								
						<h3 class="content-title content-title__blue content-title__left">Новые публикации</h3>
						<div class="column-block column-block__thin">
							<div class="column-block__wrap flex">
								<div class="img-wrap">
									<img src="images/img-1.jpg" alt="">
								</div>
								<div class="column-block__content-wrap">
									<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
									<div class="tags-block">
										<a href="#" class="tag">#Управление салонами</a>
									</div>
								</div>							
							</div>						
						</div>
						<div class="column-block column-block__thin">
							<div class="column-block__wrap flex">
								<div class="img-wrap">
									<img src="images/img-2.jpg" alt="">
								</div>
								<div class="column-block__content-wrap">
									<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
									<div class="tags-block">
										<a href="#" class="tag">#Управление салонами</a>
										<a href="#" class="tag">#Советы юриста</a>
									</div>
								</div>							
							</div>						
						</div>
						<div class="column-block column-block__thin">
							<div class="column-block__wrap flex">
								<div class="img-wrap">
									<img src="images/img-1.jpg" alt="">
								</div>
								<div class="column-block__content-wrap">
									<a href="#" class="title-17">Как правильно оформить трудовые отношения с персоналом салона красоты</a>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
									<div class="tags-block">
										<a href="#" class="tag">#Управление салонами</a>
									</div>
								</div>							
							</div>						
						</div>
						<div class="column-block column-block__thin">
							<div class="column-block__wrap flex">
								<div class="img-wrap">
									<img src="images/img-1.jpg" alt="">
								</div>
								<div class="column-block__content-wrap">
									<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
									<div class="tags-block">
										<a href="#" class="tag">#Управление салонами</a>
									</div>
								</div>							
							</div>						
						</div>
						<a href="#" class="button button__blue-transparent arrow">Все публикации</a>				
					</div>
					<div class="column column__1-3 column__no-padding center shadow__all">
						<div class="column__img-wrap img-wrap img-wrap__gradient">
							<img src="images/img-1.jpg" alt="">
							<div class="column-label">
								<img src="images/label-1.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>			
		</section>
		<section class="tab-section">
			<div class="container">
				<ul class="tabs">
					<li class="active" rel="tab1">Работа с персоналом</li>
					<li rel="tab2">Свой салон</li>
					<li rel="tab3">Оборудование</li>
					<li rel="tab4">Поставщики</li>
					<li rel="tab5">Покупка салона</li>
					<li rel="tab6">Мастера</li>
					<li rel="tab7">Франшиза</li>
				</ul>
				<div class="tab_container">
					<h3 class="d_active tab_drawer_heading" rel="tab1">Работа с персоналом</h3>
					<div id="tab1" class="tab_content">
						<div class="column-wrap flex">
							<div class="column column__1-3 column__no-padding">
								<span class="title-label">Актуальная тема</span>
								<h2 class="title-lg title-lg__white">Покупка салона красоты</h2>
								<p class="text-16 text-16__light-blue">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
								<a href="#" class="button button__pink-transparent arrow">Все материалы по теме</a>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-3.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Купить салон красоты или открыть с нуля: оценка и форма заявки</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-4.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Intercharm украина-2015: консультации по открытию и развитию салонов красоты</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- #tab1 -->
					<h3 class="tab_drawer_heading" rel="tab2">Свой салон</h3>
					<div id="tab2" class="tab_content">
						<div class="column-wrap flex">
							<div class="column column__1-3 column__no-padding">
								<span class="title-label">Свой салон</span>
								<h2 class="title-lg title-lg__white">Покупка салона красоты</h2>
								<p class="text-16 text-16__light-blue">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
								<a href="#" class="button button__pink-transparent arrow">Все материалы по теме</a>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-3.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Купить салон красоты или открыть с нуля: оценка и форма заявки</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-4.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Intercharm украина-2015: консультации по открытию и развитию салонов красоты</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- #tab2 -->
					<h3 class="tab_drawer_heading" rel="tab3">Оборудование</h3>
					<div id="tab3" class="tab_content">
						<div class="column-wrap flex">
							<div class="column column__1-3 column__no-padding">
								<span class="title-label">Оборудование</span>
								<h2 class="title-lg title-lg__white">Покупка салона красоты</h2>
								<p class="text-16 text-16__light-blue">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
								<a href="#" class="button button__pink-transparent arrow">Все материалы по теме</a>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-3.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Купить салон красоты или открыть с нуля: оценка и форма заявки</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-4.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Intercharm украина-2015: консультации по открытию и развитию салонов красоты</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- #tab3 -->
					<h3 class="tab_drawer_heading" rel="tab4">Поставщики</h3>
					<div id="tab4" class="tab_content">
						<div class="column-wrap flex">
							<div class="column column__1-3 column__no-padding">
								<span class="title-label">Поставщики</span>
								<h2 class="title-lg title-lg__white">Покупка салона красоты</h2>
								<p class="text-16 text-16__light-blue">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
								<a href="#" class="button button__pink-transparent arrow">Все материалы по теме</a>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-3.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Купить салон красоты или открыть с нуля: оценка и форма заявки</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-4.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Intercharm украина-2015: консультации по открытию и развитию салонов красоты</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- #tab4 -->
					<h3 class="tab_drawer_heading" rel="tab5">Покупка салона</h3>
					<div id="tab5" class="tab_content">
						<div class="column-wrap flex">
							<div class="column column__1-3 column__no-padding">
								<span class="title-label">Покупка салона</span>
								<h2 class="title-lg title-lg__white">Покупка салона красоты</h2>
								<p class="text-16 text-16__light-blue">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
								<a href="#" class="button button__pink-transparent arrow">Все материалы по теме</a>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-3.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Купить салон красоты или открыть с нуля: оценка и форма заявки</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-4.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Intercharm украина-2015: консультации по открытию и развитию салонов красоты</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- #tab5 -->
					<h3 class="tab_drawer_heading" rel="tab6">Мастера</h3>
					<div id="tab6" class="tab_content">
						<div class="column-wrap flex">
							<div class="column column__1-3 column__no-padding">
								<span class="title-label">Мастера</span>
								<h2 class="title-lg title-lg__white">Покупка салона красоты</h2>
								<p class="text-16 text-16__light-blue">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
								<a href="#" class="button button__pink-transparent arrow">Все материалы по теме</a>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-3.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Купить салон красоты или открыть с нуля: оценка и форма заявки</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-4.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Intercharm украина-2015: консультации по открытию и развитию салонов красоты</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- #tab6 -->
					<h3 class="tab_drawer_heading" rel="tab7">Франшиза</h3>
					<div id="tab7" class="tab_content">
						<div class="column-wrap flex">
							<div class="column column__1-3 column__no-padding">
								<span class="title-label">Франшиза</span>
								<h2 class="title-lg title-lg__white">Покупка салона красоты</h2>
								<p class="text-16 text-16__light-blue">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
								<a href="#" class="button button__pink-transparent arrow">Все материалы по теме</a>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-3.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Купить салон красоты или открыть с нуля: оценка и форма заявки</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
							<div class="column column__1-3 column__no-padding white img-column">
								<div class="img-wrap">
									<img src="images/img-4.jpg" alt="">
								</div>
								<div class="img-column__description-wrap">
									<a href="" class="title-19">Intercharm украина-2015: консультации по открытию и развитию салонов красоты</a>
									<div class="info-block">
										<span class="text-13">А. Коршунова</span>										
									</div>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- #tab7 -->
				</div>
				<!-- .tab_container -->
			</div>		
		</section>
		<section class="publication-section">
			<div class="container">
				<div class="column-wrap flex">
					<div class="column column__2-3 column__pink white img-column column__no-padding">
						<div class="all-shadow"></div>
						<h3 class="content-title content-title__pink content-title__left">Публикации</h3>
						<div class="img-wrap">
							<img src="images/img-5.jpg" alt="">
						</div>
						<div class="column__wrap_right white">
							<h2 class="title-md">Стандарты сервиса салона красоты или правда о любви к клиентам</h2>
							<div class="info-block flex">
								<div class="data-block">
									<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
								</div>
								<div class="tags-block">
									<a href="#" class="tag">#Управление салонами</a>
								</div>								
							</div>
							<ul class="content-list">
								<li class="content-item">
									<div class="img-wrap">
										<img src="images/img-1.jpg" alt="">
									</div>
									<div class="content-item__block">
										<a href="" class="title-sm">Что нужно знать о будущем бьюти-индустрии</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонами</a>
										</div>
									</div>
								</li>
								<li class="content-item">
									<div class="img-wrap">
										<img src="images/img-4.jpg" alt="">
									</div>
									<div class="content-item__block">
										<a href="" class="title-sm">Франчайзинг в индустрии красоты</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонами</a>
										</div>
									</div>
								</li>
								<li class="content-item">
									<div class="img-wrap">
										<img src="images/img-3.jpg" alt="">
									</div>
									<div class="content-item__block">
										<a href="" class="title-sm">Lamour: материалы для наращивания ресниц премиум-класса</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонами</a>
										</div>
									</div>
								</li>
							</ul>
							<a href="#" class="button button__md-blue-transparent arrow">Все публикации</a>
						</div>
					</div>
					<div class="publication-section__column-wrap column__1-3 column__no-padding">
						<div class="column column__blue column__padding">	
							<div class="all-shadow"></div>							
							<h3 class="content-title content-title__blue content-title__left">Популярные</h3>
							<div class="column-block column-block__thin">
								<div class="column-block__wrap flex">
									<div class="img-wrap">
										<img src="images/img-1.jpg" alt="">
									</div>
									<div class="column-block__content-wrap">
										<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонами</a>
										</div>
									</div>							
								</div>						
							</div>
							<div class="column-block column-block__thin">
								<div class="column-block__wrap flex">
									<div class="img-wrap">
										<img src="images/img-2.jpg" alt="">
									</div>
									<div class="column-block__content-wrap">
										<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонами</a>
											<a href="#" class="tag">#Советы юриста</a>
										</div>
									</div>																
								</div>						
							</div>
							<div class="column-block column-block__thin">
									<div class="column-block__wrap flex">
										<div class="img-wrap">
											<img src="images/img-2.jpg" alt="">
										</div>
										<div class="column-block__content-wrap">
											<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
											<div class="data-block">
												<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
											</div>
											<div class="tags-block">
												<a href="#" class="tag">#Управление салонами</a>
												<a href="#" class="tag">#Советы юриста</a>
											</div>
										</div>																
									</div>						
								</div>																	
								<a href="#" class="button button__blue-transparent arrow">Все публикации</a>				
						</div>
						<div class="column column__no-padding shadow__all column__img">
							<div class="img-wrap">
								<img src="images/img-1.jpg" alt="">								
							</div>
						</div>
					</div>
				</div>					
			</div>
		</section>
		<section class="main-publication-section">
			<div class="container">

			</div>
		</section>
	</main>
	 

	{% include "footer.html" %}	
	{% include "scripts.html" %}	
	
  </body>
</html>
