	{% extends "template.html" %}	
	{% import "macros.html" as myMacros %}

	{% block content %}
	<main class="main main-page">
		<section class="news-section">
			<div class="container">
				<div class="column-wrap flex">
					<div class="column column__1-3 top column__pink white animated-in-fadeInLeft">	
						<div class="all-shadow"></div>							
						<h3 class="content-title content-title__pink content-title__left">Новости бьюти-рынка</h3>
						<div class="column-block">
							<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<div class="column-block">
							<a href="#" class="text-17 trans">1-ая Конференция дистрибьюторов профессиональной косметики, оборудования и учебных центров</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<div class="column-block">
							<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<div class="column-block">
							<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<div class="column-block">
							<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
							<div class="data-block">
								<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
							</div>
						</div>
						<a href="#" class="button hvr-rectangle-out button__pink-transparent arrow">Все новости</a>							
					</div>
					<div class="column column__1-3 top column__blue white animated-in-fadeInLeft-lang">	
						<div class="all-shadow"></div>							
						<h3 class="content-title content-title__blue content-title__left">Новые публикации</h3>
						<div class="column-block column-block__thin">
							<div class="column-block__wrap flex">
								<div class="img-wrap">
									<img src="images/img-1.jpg" alt="">
								</div>
								<div class="column-block__content-wrap">
									<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
									<div class="tags-block">
										<a href="#" class="tag">#Управление салонами</a>
									</div>
								</div>							
							</div>						
						</div>
						<div class="column-block column-block__thin">
							<div class="column-block__wrap flex">
								<div class="img-wrap">
									<img src="images/img-2.jpg" alt="">
								</div>
								<div class="column-block__content-wrap">
									<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
									<div class="tags-block">
										<a href="#" class="tag">#Управление салонами</a>
										<a href="#" class="tag">#Советы юриста</a>
									</div>
								</div>							
							</div>						
						</div>
						<div class="column-block column-block__thin">
							<div class="column-block__wrap flex">
								<div class="img-wrap">
									<img src="images/img-1.jpg" alt="">
								</div>
								<div class="column-block__content-wrap">
									<a href="#" class="text-17 trans">Как правильно оформить трудовые отношения с персоналом салона красоты</a>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
									<div class="tags-block">
										<a href="#" class="tag">#Управление салонами</a>
									</div>
								</div>							
							</div>						
						</div>
						<div class="column-block column-block__thin">
							<div class="column-block__wrap flex">
								<div class="img-wrap">
									<img src="images/img-1.jpg" alt="">
								</div>
								<div class="column-block__content-wrap">
									<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
									<div class="data-block">
										<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
									</div>
									<div class="tags-block">
										<a href="#" class="tag">#Управление салонами</a>
									</div>
								</div>							
							</div>						
						</div>					
						<a href="#" class="button button__blue-transparent hvr-rectangle-out arrow">Все публикации</a>									
					</div>
					<div class="column column__1-3 column__no-padding center shadow__all animated-in-fadeInRight-lang">
						<div class="column__img-wrap img-wrap img-wrap__gradient">
							<img src="images/img-1.jpg" alt="">
							<div class="column-label">
								<img src="images/label-1.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>			
		</section>
		<section class="tab-section">
			<div class="container">					
				{{ myMacros.tabBlock(className="column__1-3", showTabHorisontal=true, showTabVertical=false, tabCount=true) }}
			</div>		
		</section>
		<section class="publication-section">
			<div class="container">
				<div class="column-wrap flex">								
				{{ myMacros.layotColumn(className="column__2-3 column__pink white img-column column__no-padding", showButton=true, showShadow=true, imgPath="images/img-5.jpg") }}
					<div class="publication-section__column-wrap column__1-3 column__no-padding animated-in-slideInRight">
						<div class="column column__blue column__padding">	
							<div class="all-shadow"></div>							
							<h3 class="content-title content-title__blue content-title__left">Популярные</h3>
							<div class="column-block column-block__thin animated-in-zoomIn">
								<div class="column-block__wrap flex">
									<div class="img-wrap">
										<img src="images/img-1.jpg" alt="">
									</div>
									<div class="column-block__content-wrap">
										<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонами</a>
										</div>
									</div>							
								</div>						
							</div>
							<div class="column-block column-block__thin animated-in-zoomIn">
								<div class="column-block__wrap flex">
									<div class="img-wrap">
										<img src="images/img-2.jpg" alt="">
									</div>
									<div class="column-block__content-wrap">
										<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонами</a>
											<a href="#" class="tag">#Советы юриста</a>
										</div>
									</div>																
								</div>						
							</div>
							<div class="column-block column-block__thin animated-in-zoomIn">
									<div class="column-block__wrap flex">
										<div class="img-wrap">
											<img src="images/img-2.jpg" alt="">
										</div>
										<div class="column-block__content-wrap">
											<a href="#" class="text-17 trans">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
											<div class="data-block">
												<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
											</div>
											<div class="tags-block">
												<a href="#" class="tag">#Управление салонами</a>
												<a href="#" class="tag">#Советы юриста</a>
											</div>
										</div>																
									</div>						
								</div>																	
								<a href="#" class="button hvr-rectangle-out button__blue-transparent arrow animated-in-zoomIn">Все публикации</a>				
						</div>
						<div class="column column__img-wrap column__no-padding column__img animated-in-zoomIn">						
							<div class="img-wrap">
								<img src="images/img-1.jpg" alt="">								
							</div>
						</div>
					</div>
				</div>					
			</div>
		</section>

		{% include "main-publication-section.html" %}	
		
		<section class="exhibition-section">
			<div class="container">
				<div class="content-wrap flex">
					<div class="all-shadow"></div>
					<div class="exhibition-section__left-column animated-in-fadeInDown">
						<div class="exhibition-section__left-column-title-block">
							<h3 class="title-md title-md__transform title-md__white">Выставка</h3>
							<p class="text-16">Все оборудование и ресурсы для  салонов в одном каталоге</p>
						</div>
						<ul class="exhibition-section__list">
							<li class="exhibition-section__item item-1">
								<a href="">Парикмахерское оборудование</a>
							</li>
							<li class="exhibition-section__item item-2">
								<a href="">Массажное оборудование</a>
							</li>
							<li class="exhibition-section__item item-3">
								<a href="">Маникюрное оборудование</a>
							</li>
							<li class="exhibition-section__item item-4">
								<a href="">Стулья</a>
							</li>
							<li class="exhibition-section__item item-5">
								<a href="">Педикюрное оборудование</a>
							</li>
							<li class="exhibition-section__item item-6">
								<a href="">SPA-оборудование</a>
							</li>
							<li class="exhibition-section__item item-7">
								<a href="">Косметологическое оборудование</a>
							</li>
							<li class="exhibition-section__item item-8">
								<a href="">Лазерное косметологическое оборудование</a>
							</li>
								<li class="exhibition-section__item item-9">
								<a href="">Косметологические аппараты</a>
							</li>
						</ul>
						<a href="#" class="button hvr-rectangle-out button__pink-transparent arrow">Перейти в каталог</a>
					</div>
					<div class="exhibition-section__right-column white animated-in-fadeInDown">
						<div class="img-wrap">
							<img src="images/img-1.jpg" alt="">
						</div>
						<div class="exhibition-section__right-column-content-wrap">
							<a href="" class="title-20">Суперпредложения от наших поставщиков плоек</a>
							<p class="text-16">Только сейчас - перейди по ссылке и получи вагон плоек для своего салона в два раза дешевле.</p>
							<a href="#" class="button hvr-rectangle-out button__white-dark-blue arrow trans">Посмотреть</a>
						</div>
					</div>						
				</div>
				<div class="sponsor__block">											
						<div class="all-shadow"></div>								
						<div class="sponsor__title-wrap">
							<h3 class="title-23 title-23__transform animated-in-zoomIn">Поставщики</h3>
							<a href="#" class="button hvr-rectangle-out button__blue-transparent arrow animated-in-zoomIn">Cмотреть все</a>
						</div>								
						{{ myMacros. sponsorBlock(className="") }}	
				</div>				
			</div>
		</section>
		<section class="main-event-section">
			<div class="container">
				<div class="content-wrap">
					<div class="event__block animated-in-flipInY">
						<img src="images/img-6.jpg" alt="">
						<span class="block-label block-label__blue">топ-событие</span>
						<div class="event__content-wrap">
							<h3 class="title-lg title-lg__thin title-lg__white">Почему мастера уходят из салонов красоты?</h3>
							<p class="text-16">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
							<div class="info-block flex">
								<span class="text-14">Организатор</span>
								<div class="data-block">
									<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
								</div>
								<span class="text-14">Ивано-Франковск, Бизнес центр</span>													
							</div>
						</div>									
					</div>
					<div class="label-block label-block__pink animated-in-lightSpeedIn">
						<span class="label-block__price">1500 грн</span>
						<a href="#" class="button hvr-rectangle-out button__white-dark-blue trans">Записаться</a>
						<a href="" class="label-block__link trans">
							<i class="fa fa-plus" aria-hidden="true"></i>добавить в
							<span>Google Календарь</span>
						</a>
					</div>
				</div>	
			</div>
			<div class="event-section">
				<div class="container">
					<h3 class="title-lg">Другие события</h3>
					<ul class="event__list">
						<li class="event__item animated-in-fadeInDown">
							<a href="" class="title-19 title-19__white">Lamour: материалы для наращивания ресниц премиум-класса</a>
							<span class="event__price">1800 грн.</span>
							<div class="info-block flex">
								<span class="text-14">Организатор</span>
								<div class="data-block">
									<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
								</div>
								<span class="text-14">Ивано-Франковск, Бизнес центр</span>													
							</div>
							<a href="#" class="button hvr-rectangle-out button__blue-pink-transparent">Записаться</a>
							<a href="" class="label-block__link trans">
								<i class="fa fa-plus" aria-hidden="true"></i>добавить в
								<span>Google Календарь</span>
							</a>
						</li>
						<li class="event__item animated-in-fadeInUp">
							<a href="" class="title-19 title-19__white">Почему мастера уходят из салонов красоты?</a>
							<span class="event__price">2300 грн.</span>
							<div class="info-block flex">
								<span class="text-14">Организатор</span>
								<div class="data-block">
									<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
								</div>
								<span class="text-14">Ивано-Франковск, Бизнес центр</span>													
							</div>
							<a href="#" class="button hvr-rectangle-out button__blue-pink-transparent">Записаться</a>
							<a href="" class="label-block__link trans">
								<i class="fa fa-plus" aria-hidden="true"></i>добавить в
								<span>Google Календарь</span>
							</a>
						</li>
						<li class="event__item animated-in-fadeInDown">
							<a href="" class="title-19 title-19__white">Как правильно оформить трудовые отношения с персоналом салона </a>
							<span class="event__price">1800 грн.</span>
							<div class="info-block flex">
								<span class="text-14">Организатор</span>
								<div class="data-block">
									<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
								</div>
								<span class="text-14">Ивано-Франковск, Бизнес центр</span>													
							</div>
							<a href="#" class="button hvr-rectangle-out button__blue-pink-transparent">Записаться</a>
							<a href="" class="label-block__link trans">
								<i class="fa fa-plus" aria-hidden="true"></i>добавить в
								<span>Google Календарь</span>
							</a>
						</li>
						<li class="event__item animated-in-fadeInUp">
							<a href="" class="title-19 title-19__white">Beauty Salon Boss открывает 5 сезон годовых курсов</a>
							<span class="event__price">5000 грн.</span>
							<div class="info-block flex">
								<span class="text-14">Организатор</span>
								<div class="data-block">
									<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
								</div>
								<span class="text-14">Ивано-Франковск, Бизнес центр</span>													
							</div>
							<a href="#" class="button hvr-rectangle-out button__blue-pink-transparent">Записаться</a>
							<a href="" class="label-block__link trans">
								<i class="fa fa-plus" aria-hidden="true"></i>добавить в
								<span>Google Календарь</span>
							</a>
						</li>
					</ul>
					<a href="#" class="button hvr-rectangle-out button__blue-transparent arrow animated-in-zoomIn">Все события</a>
				</div>
			</div>
		</section>
		<section class="vacancies-section">
			<div class="container">
				<div class="content-wrap">
					<span class="block-label block-label__pink">Вакансии</span>
					<div class="all-shadow"></div>
					<div class="vacancies__wrap">
						<div class="vacancies__column animated-in-fadeInLeft">
							<h4 class="title-23 title-23__thin title-23__pink animated-in-fadeIn">Админперсонал</h4>
							<ul class="vacancies__list">
								<li class="vacancies__item animated-in-fadeIn">
									<a href="" class="text-17 trans">Системный администратор</a>
									<div class="vacancies__info-block">
										<span class="vacancies__info-block-text">Юг-контракт</span>
										<span class="vacancies__info-block-text">Тернополь</span>
										<span class="vacancies__info-block-text">Вчера</span>
									</div>
								</li>
								<li class="vacancies__item animated-in-fadeIn">
									<a href="" class="text-17 trans">Копирайтер, рерайтер, контент-менеджер, администратор сайта</a>
									<div class="vacancies__info-block">
										<span class="vacancies__info-block-text">Юг-контракт</span>
										<span class="vacancies__info-block-text">Тернополь</span>
										<span class="vacancies__info-block-text">Вчера</span>
									</div>
								</li>
								<li class="vacancies__item animated-in-fadeIn">
									<a href="" class="text-17 trans">Системный администратор</a>
									<div class="vacancies__info-block">
										<span class="vacancies__info-block-text">Юг-контракт</span>
										<span class="vacancies__info-block-text">Тернополь</span>
										<span class="vacancies__info-block-text">Вчера</span>
									</div>
								</li>
							</ul>	
							<a href="#" class="button hvr-rectangle-out button__pink-transparent arrow animated-in-fadeIn">Все вакансии</a>				
						</div>
						<div class="vacancies__column blue animated-in-fadeInRight">
							<h4 class="title-23 title-23__thin title-23__blue animated-in-fadeIn">Мастера</h4>
							<ul class="vacancies__list">
								<li class="vacancies__item animated-in-fadeIn">
									<a href="" class="text-17 trans">Системный администратор</a>
									<div class="vacancies__info-block">
										<span class="vacancies__info-block-text">Юг-контракт</span>
										<span class="vacancies__info-block-text">Тернополь</span>
										<span class="vacancies__info-block-text">Вчера</span>
									</div>
								</li>
								<li class="vacancies__item animated-in-fadeIn">
									<a href="" class="text-17 trans">Копирайтер, рерайтер, контент-менеджер, администратор сайта</a>
									<div class="vacancies__info-block">
										<span class="vacancies__info-block-text">Юг-контракт</span>
										<span class="vacancies__info-block-text">Тернополь</span>
										<span class="vacancies__info-block-text">Вчера</span>
									</div>
								</li>
								<li class="vacancies__item animated-in-fadeIn">
									<a href="" class="text-17 trans">Системный администратор</a>
									<div class="vacancies__info-block">
										<span class="vacancies__info-block-text">Юг-контракт</span>
										<span class="vacancies__info-block-text">Тернополь</span>
										<span class="vacancies__info-block-text">Вчера</span>
									</div>
								</li>							
							</ul>	
							<a href="#" class="button hvr-rectangle-out button__blue-transparent arrow animated-in-fadeIn">Все вакансии</a>						
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include "social-section.html" %}	
	
	</main>
	 {% endblock %} 
