{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block content %}	
	<main class="main library-page">
		<div class="layot-section no-sidebar no-marg">
			<div class="dark-blue-section pb-70 bg">
				<div class="container">				
					<div class="col-100">
						<h2 class="trans-title">Аппаратная косметология</h2>						
                    </div>                   			
				</div>									
            </div>
            <div class="layot-content-block">
                <div class="container">
                    <div class="layouot-top-wrap">
                        <div class="column-wrap flex mb-30">
                            <div class="column column__2-3 white column__no-padding">
                                <!--<video>
                                    <source src = "video.mp4" type = 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                                    <source src = "video.ogg" type = 'video/ogg; codecs="theora, vorbis"'>
                                    <source src="video.webm" type='video/webm; codecs="vp8, vorbis"'>
                                </video> -->
                                <div class="thumb-wrap">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y421bWMelqE" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="column column__1-3 white">
                                <div class="all-shadow"></div>
                                <div class="logo-block">
                                    <img src="images/logo-9.png" alt="">
                                </div>
                                <ul class="square__list mt-10">
                                    <li class="square__item">
                                        <p class="text-16">Компания</p>
                                        <p class="text-18 blue bold">Название компании</p>
                                    </li>
                                    <li class="square__item">
                                        <p class="text-16">Бренд</p>
                                        <p class="text-18 blue bold">Наименование</p>
                                    </li>
                                    <li class="square__item">
                                        <p class="text-16">Автор</p>
                                        <p class="text-18 blue bold">Имя, фамилия</p>
                                    </li>
                                </ul>
                                <div class="column-block column-block__thin">
                                    <div class="contact-block">
                                        <i class="fa fa-phone"></i>
                                        <a href="tel:+380505555555">+3 8050 555 55 55</a>
                                        <a href="tel:+380506666666">+3 8050 666 66 66</a>
                                    </div>
                                    <div class="contact-block">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <a href="mailto:yourmail@mysite.com">yourmail@mysite.com</a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="text-wrap">
                            <h3 class="title-20 title-20__dark-blue">Какой-то <span>заголовок</span></h3>
                            <div class="article-column__text-block_2">
                                <p class="text-17 animated-in-fadeIn">Мы боимся уважать НАШИХ клиентов и развивать культуру потребления салонных услуг, вводя элементарные стандартыи правила, но продолжаем пользоваться шариковыми стерилизаторами, экономить на уборке, практиковать выход "под запись" и сдавать по пол-салона в аренду.</p>
                                <p class="text-17 animated-in-fadeIn">И при этом бесконечно сетуем на то, как тяжело работать: и клиенты не такие, и мастера не такие, и налоги не такие, и дистрибьюторы не такие, и учебные центры не такие. У каждого из нас есть два пути: или подстраиваться и плыть по течению, периодически уходя на дно, или начинать работать правильно - так, как работают все хорошо организованные предприятия.</p>
                            </div>								
                        </div>                      
                    </div>
                </div>
            </div>           
		</div>
        {% include "others-video-section.html" %}
        <section class="form-block-section">
            <div class="container">		
                    {% include "main-form-block-1.html" %}
            </div>
        </section>	
	</main>
{% endblock %} 

