{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block breadcrumb %}
	<ul class="breadcrumb-list">
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
		<li><a href="">Публикации</a></li>
				<li><a href="">Продажа салонов</a></li>
	</ul>
	</ul>
{% endblock %}	

{% block content %}	
	<main class="main longrid-page">
		<div class="layot-section no-sidebar">
			<div class="container">
				<div class="layot-content-block top">
					<div class="all-shadow article"></div>					
						<div class="layot-content-block__header flex">
							<img src="images/img-13.jpg" alt="">
							<div class="layot-content-block__header-description-block left">
								<h2 class="title-x-lg title-x-lg__white title-x-lg__thin">Как открыть салон красоты:<br>выбираем форму собственности вместе</h2>									
							</div>                            
							</div>					
							<div class="article-wrap">	
								<div class="info-block__content-horisontal">
										<span class="autor text-13">Наталья Коршунова</span>
										<div class="data-block">
												<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
												<a href="#" class="tag">#Управление салонами</a>
										</div>
								</div>
								<div class="social-button__block">
									<span class="text-13 text-13__bold">Поделитесь новостью<br>в социальных сетях</span>
									<ul class="social-button__list">
										<li class="social-button__item">
											<a href="">
												<img src="images/tw.png" alt="">
											</a>
										</li>
										<li class="social-button__item">
											<a href="">
												<img src="images/fb.png" alt="">
											</a>
										</li>
										<li class="social-button__item">
											<a href="">
												<img src="images/vk.png" alt="">
											</a>
										</li>
										<li class="social-button__item">
											<a href="">
												<img src="images/gg.png" alt="">
											</a>
										</li>
										<li class="social-button__item">
											<a href="">
													<img src="images/ok.png" alt="">
											</a>
										</li>
									</ul>	
								</div>															
							</div>
							<div class="article-wrap">
								<div class="article-column__text-img-block">
									<div class="article-column__img-col">
										<div class="img-wrap">
											<img src="images/img-3.jpg" alt="">											
										</div>
										<p class="article-column__img-col-text">
												Материал публикуется при поддержке юридическим партнером компании <span>Адвокатское бюро Дмитрия Александрова</span>
											</p>									
									</div>
									<div class="article-column__text-col">
											<p class="text-17"><span>Я люблю тему "О клиентах". Как и большинство из вас, я и мой партнер по бизнесу стараемся, чтобы НАШИМ клиентам было комфортно у нас обслуживаться.</span></p>
											<p class="text-17">Для этого, часто мы отказываем иногда 10 из 10 специалистам, которые приходят на собеседования, но не хотят приходить на тестовую отработку на модели, потому, что "я все умею". Для нас важно, чтобы клиентов обслуживали грамотные и ответственные специалисты - поэтому, правила одинаковы для всех. <span>Трудно? Трудно. Но компромиссы в этом вопросе неуместны, ведь речь идет о качестве услуг.</span></p>
											<p class="text-17">Для этого вводятся стандарты работы, нацеленные на НАШИХ клиентов. Тех, которые понимают, что если куплен билет на поезд, который отправляется 1 июля, в 18.00 с 5-го пути, то он отправится 1 июля, в 18.00, с 5-го пути, удобно ли это всем 100% желающих ехать или нет. Никто не подаст поезд на 1-ый путь, на 18.40 потому что, семерым людям из пятиста так хочется. 493 человека придут на пятый путь в 18.00 и хотят получить заказанную услугу вовремя и в полном объеме. И для нас важно, чтобы эти 493 были довольны. Но, именно эти семь потом оставят негодующие отзывы - мы относимся к этому философски и на каждый ответим. Но правила не изменим.</p>
									</div>								
								</div>
								<h3 class="title-md deco-line">Построить систему сервиса в индустрии красоты в Украине - адский труд. По двум причинам:</h3>
								<div class="article-column__text-block_3">											
										<p class="text-17">Для нас важно, чтобы НАШИ клиенты были спокойны и уверены в результате. И мастер работал спокойно и уверенно. Салонные услуги - эмоциональные, здесь может случиться все, что угодно. Именно поэтому у нас есть гарантия на основную услугу. Все издержки по гарантии несет салон. Но всегда есть клиенты, которые считают гарантию уловкой и хотят, чтобы она была пожизненной. Это ничего не меняет.</p>
										<p class="text-17 x-light-blue-color">Для нас важно, чтобы НАШИ клиенты были спокойны и уверены в результате. И мастер работал спокойно и уверенно. Салонные услуги - эмоциональные, здесь может случиться все, что угодно. Именно поэтому у нас есть гарантия на основную услугу. Все издержки по гарантии несет салон. Но всегда есть клиенты, которые считают гарантию уловкой и хотят, чтобы она была пожизненной. Это ничего не меняет.</p>
										<p class="text-17">Для нас важно, чтобы НАШИ клиенты были спокойны и уверены в результате. И мастер работал спокойно и уверенно. Салонные услуги - эмоциональные, здесь может случиться все, что угодно. Именно поэтому у нас есть гарантия на основную услугу. Все издержки по гарантии несет салон. Но всегда есть клиенты, которые считают гарантию уловкой и хотят, чтобы она была пожизненной. Это ничего не меняет.</p>
								</div>	
								<div class="article-gallery">
									<div class="article-gallery__item">
										<div class="img-wrap">
											<img src="images/img-9.jpg" alt="">
										</div>
										<div class="article-gallery__text-wrap">
											<span class="article-gallery__page">Рис.1</span>
											<span class="article-gallery__text">Занятия для старших администраторов салонов красоты в бизнес-школе Бьюти Салон Босс</span>
										</div>										
									</div>									
									<div class="article-gallery__item">
										<div class="img-wrap">
											<img src="images/img-10.jpg" alt="">
										</div>
										<div class="article-gallery__text-wrap">
											<span class="article-gallery__page">Рис.2</span>
											<span class="article-gallery__text">Занятия для старших администраторов салонов красоты в бизнес-школе Бьюти Салон Босс</span>
										</div>										
									</div>
									<div class="article-gallery__item">
										<div class="img-wrap">
											<img src="images/img-11.jpg" alt="">
										</div>
										<div class="article-gallery__text-wrap">
											<span class="article-gallery__page">Рис.3</span>
											<span class="article-gallery__text">Занятия для старших администраторов салонов красоты в бизнес-школе Бьюти Салон Босс</span>
										</div>										
									</div>
								</div>	
								<h3 class="title-md deco-line">Далее руководителем проводится ПЛАНЕРКА – непродолжительное совещание, которое необходимо для решения текущих вопросов.</h3>					
								<div class="article-column__text-img-block">
									<div class="article-column__img-col">
										<div class="img-wrap">
											<img src="images/img-3.jpg" alt="">									
										</div>										
									</div>
									<div class="article-column__text-col">
											<p class="text-17"><span>Я люблю тему "О клиентах". Как и большинство из вас, я и мой партнер по бизнесу стараемся, чтобы НАШИМ клиентам было комфортно у нас обслуживаться.</span></p>
											<p class="text-17">Для этого, часто мы отказываем иногда 10 из 10 специалистам, которые приходят на собеседования, но не хотят приходить на тестовую отработку на модели, потому, что "я все умею". Для нас важно, чтобы клиентов обслуживали грамотные и ответственные специалисты - поэтому, правила одинаковы для всех. <span>Трудно? Трудно. Но компромиссы в этом вопросе неуместны, ведь речь идет о качестве услуг.</span></p>	
											<ul class="article__mark-list">
													<p class="text-17 bold">Вложенный список</p>
													<li class="article__mark-item">
															годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
													</li>
													<li class="article__mark-item">
															годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
													</li>
													<li class="article__mark-item">
															годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
													</li>
											</ul>									
									</div>								
								</div>
							</div>						
							
				{% include "main-form-block.html" %}
					<div class="article-wrap">	
						{% include "info-block.html" %}
					</div>
						
			</div>			
		</div>		
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

