{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block breadcrumb %}
	<ul class="breadcrumb-list">
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
		<li><a href="">Публикации</a></li>
				<li><a href="">Продажа салонов</a></li>
	</ul>
	</ul>
{% endblock %}	

{% block content %}	
	<main class="main material-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block">				
					<div class="sadow-section top tab-content">	
						<div class="all-shadow"></div>
						<div class="column article-wrap tab-pane fade active" id="about">
							<div class="tab-pane__head">
								<h3 class="content-title content-title__pink content-title__left">О проекте</h3>
								<h4 class="text-19 text-19__white">Компания и бизнес-журнал для инвесторов и руководителей предприятий бьюти-индустрии "Салонный маркетинг" основаны в 2011 году.</h4>
							</div>
							<div class="content-wrap">
								<div class="article__list-block">
									<h3 class="title title__bold">В чем разница между ФЛП и ООО:</h3>
									<ul class="article__num-list">
											<li class="article__num-item">
													Культивирование среди мастеров оказания услуг ниже ватерлинии (домушничество) - оттуда впоследствии очень трудно выбраться. Психологические установки заданы и всячески поддерживаются обществом. Отсюда - нередкое неуважение к специалистам со стороны клиентов.
											</li>											
												<li class="article__num-item">
													Культивирование среди мастеров оказания услуг ниже ватерлинии (домушничество) - оттуда впоследствии очень трудно выбраться. Психологические установки заданы и всячески поддерживаются обществом.
													<p class="text-17 bold">Вложенный список</p>
													<ul class="article__mark-list">
															<li class="article__mark-item">
																	годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
															</li>
															<li class="article__mark-item">
																	годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
															</li>
															<li class="article__mark-item">
																	годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
															</li>
													</ul>											
											</li> 											                                
									</ul>
									<p class="text-17">Для этого, часто мы отказываем иногда 10 из 10 специалистам, которые приходят на собеседования, но не хотят приходить на тестовую отработку на модели, потому, что "я все умею". Для нас важно, чтобы клиентов обслуживали грамотные и ответственные специалисты - поэтому, правила одинаковы для всех. Трудно? Трудно. Но компромиссы в этом вопросе неуместны, ведь речь идет о качестве услуг.</p>
										<h3 class="title title__bold">В чем разница между ФЛП и ООО:</h3>
										<ul class="article__num-list">
												<li class="article__num-item bg">
													Самые передовые тенденции в развитии салонного бизнесав мире на бизнес-портале
												</li>											
													<li class="article__num-item bg">
														Консультации директоров предприятий индустрии красоты														
														<ul class="article__mark-list">
																<li class="article__mark-item">
																		годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
																</li>
																<li class="article__mark-item">
																		годовой оборот ФЛП ограничен 5 млн. грн., тогда как ООО не имеет ограничений по размерам годового оборота;
																</li>															
														</ul>											
												</li> 											                                
										</ul>
										<p class="text-17 border-text border-text_blue">Компания и бизнес-журнал для инвесторов и руководителей предприятий бьюти-индустрии <span>"Салонный маркетинг"</span> основаны в <span>2011 году.</span></p>
								</div>
								<div class="photo-block">
									<div class="img-wrap">
										<img src="images/photo-1.jpg" alt="">
									</div>
									<div class="img-wrap">
										<img src="images/photo-2.jpg" alt="">
									</div>
									<div class="img-wrap">
										<img src="images/photo-3.jpg" alt="">
									</div>
									<div class="img-wrap">
										<img src="images/photo-4.jpg" alt="">
									</div>
									<div class="img-wrap">
										<img src="images/photo-5.jpg" alt="">
									</div>
									<div class="img-wrap">
										<img src="images/photo-5.jpg" alt="">
									</div>
									<div class="img-wrap">
										<img src="images/photo-4.jpg" alt="">
									</div>
									<div class="img-wrap">
										<img src="images/photo-2.jpg" alt="">
									</div>
									<div class="img-wrap">
										<img src="images/photo-3.jpg" alt="">
									</div>
									<div class="img-wrap">
										<img src="images/photo-1.jpg" alt="">
									</div>
									<p class="photo-block__text">Коллектив компании “Салонный маркетинг”</p>
								</div>
								<div class="article-column__block">	
									<div class="article-column__text-wrap">								
										<p class="text-17">Для этого вводятся стандарты работы, нацеленные на НАШИХ клиентов. Тех, которые понимают, что если куплен билет на поезд, который отправляется 1 июля, в 18.00 с 5-го пути, то он отправится 1 июля, в 18.00, с 5-го пути, удобно ли это всем 100% желающих ехать или нет. Никто не подаст поезд на 1-ый путь, на 18.40 потому что, семерым людям из пятиста так хочется. 493 человека придут на пятый путь в 18.00 и хотят получить заказанную услугу вовремя и в полном объеме. И для нас важно, чтобы эти 493 были довольны. Но, именно эти семь потом оставят негодующие отзывы - мы относимся к этому философски и на каждый ответим. Но правила не изменим.</p>										
									</div>	
									<div class="column">
										<i class="article-column__icon"></i>
										<p class="article-column__text">Лучший сайт 2018 в категории Красота и здоровье.</p>
									</div>
								</div>
							</div>														
						</div>
							<div class="column article-wrap fade tab-pane" id="public">
							<h3 class="content-title content-title__pink content-title__left">Отправить свой материал</h3>
							<h3 class="title title__bold">Что вы узнаете и чему научитесь вот тут с нами:</h3>								
						</div>
						<div class="column article-wrap fade tab-pane" id="blurb">
							<h3 class="content-title content-title__pink content-title__left">Реклама на портале</h3>								
						</div>
						<div class="column article-wrap fade tab-pane" id="sitemap">
							<h3 class="content-title content-title__pink content-title__left">Карта сайта</h3>								
						</div>												
					</div>							
				</div>
					
				{{ myMacros.sidebar(className="sidebar", sidebarEventBlock=false, formblock=false, sidebarColBlock=false, sidebarImgBlock=false, sidebarPopBlock=false) }}
				<ul class="material-tabs">
					<li class="active"><a href="#about" data-toggle="tab">О проекте</a></li>
					<li><a href="#public" data-toggle="tab">Публикация материалов</a></li>
					<li><a href="#blurb" data-toggle="tab">Реклама на портале</a></li>
					<li><a href="#sitemap" data-toggle="tab">Карта сайта</a></li>
				</ul>	
			</div>			
		</div>		
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

