{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block breadcrumb %}
	<ul class="breadcrumb-list">
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
		<li><a href="">Публикации</a></li>
	</ul>
{% endblock %}	

{% block subnav %}
	<div class="subnav animated-in-flipInX">
		<ul class="subnav__list">
			<li class="subnav__item_main trans">
				<a href="">Все рубрики</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Идеи</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Советы юриста</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Персонал</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Готовые решения</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Продажи в салоне</a>
			</li>
				<li class="subnav__item trans">
				<a href="">Оборудование</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Сервис</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Как открыть салон</a>
			</li>			
		</ul>
		<div class="subnav__item_btn trans">			
            <i class="fa fa-long-arrow-down" aria-hidden="true"></i> Еще<br>рубрики
        </div>
		<div class="drop-menu">
			<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Идеи</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Оборудование</a>
				</li>
			</ul>
				<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Идеи</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Оборудование</a>
				</li>
			</ul>
				<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Салонный Маркетинг рекомендует</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Салонный Маркетинг рекомендует</a>
				</li>
			</ul>
				<button class="drop-menu__close"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>свернуть</button>
		</div>	
	</div>
{% endblock %}		

{% block content %}	
	<main class="main news-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block">
					<div class="all-shadow"></div>
						{{ myMacros.layotColumn(className="column__pink white img-column", titleBlue=true, titlePink=false, newsList=true, contentList=false, showButton=false, showShadow=false, showSort=true, imgPath="images/img-12.jpg") }}						
							<div class="column">
									{% include "event-block.html" %} 
							</div>
				</div>
				<div class="publication-wrap">															
					{% include "news-list.html" %}	
				</div>
				<div class="dark-block animated-in-pulse">
						<div class="dark-block__wrap">
							<p class="title-md title-md__thin title-md__white">Следите за новостями бьюти-рынка<br>в<span> социальных сетях</span></p>
								<div class="dark-block__info-block">
									<p class="dark-block__description">Подписывайтесь на страницу «Салонный маркетинг» в Facebook</p>										
									<button class="fb-btn"><i class="fa fa-facebook" aria-hidden="true"></i> facebook.com/sm.supersalon</button>
								</div>								
						</div>
					</div>		 
				<div class="publication-wrap">															
					{% include "news-list.html" %}	
				</div>				
					{% include "paging.html" %}
				</div>			
							
				{{ myMacros.sidebar(className="sidebar") }}
			</div>			
		</div>		

		{% include "main-publication-section.html" %}
    
    	{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

