{% extends "template.html" %}	
{% import "macros.html" as myMacros %}



{% block content %}	
	<main class="main longrid-page open-page">
		<div class="layot-section no-sidebar">
			<div class="container">
				<div class="layot-content-block top">
					<div class="all-shadow article"></div>					
						<div class="layot-content-block__header flex animated-in-flipInX">
							<img src="images/img-13.jpg" alt="">
							<div class="layot-content-block__header-description-block left">
								<h2 class="title-x-lg title-x-lg__white title-x-lg__thin">Как открыть салон красоты (SPA)<br>под ключ</h2>									
							</div>                            
							</div>					
							<div class="article-wrap animated-in-fadeIn">	
							
																					
							</div>
							<div class="article-wrap">
								<div class="article-column__text-img-block">
								
									<div class="article-column__text-col">
											<p class="text-17 animated-in-fadeIn"><span>«Салон красоты под ключ»</span> — концепция, контроль функционального зонирования и дизайн-проекта, бизнес-план, ассортиментный портфель и калькуляции, штатное расписание и прогноз загрузки, обучение персонала. Сопровождение проекта инвесторов, которые хотят открыть парикмахерскую, салон красоты, SPA, косметологический кабинет, etc. </p>										
											<div class="article__list-block">
												<h3 class="title title__bold animated-in-fadeIn">Услуга «Салон под ключ» или "Открытие салона красоты с нуля" включает в себя:</h3>
												<ul class="article__num-list">
														<li class="article__num-item animated-in-fadeIn">
															<span>	Концепция предприятия</span>
															<div class="article-column__text-block_3">											
																<p class="text-17 animated-in-fadeIn is-hidden visible animated fadeIn">
																	<span>Идея</span><br>
																	Открытие салона красоты, косметологической клиники или SPA начинается с идеи. Какое предприятие Вы хотите создать? 
																</p>
																<p class="text-17 animated-in-fadeIn is-hidden visible animated fadeIn">
																	<span>Исследование рынка</span><br>
																	Далее. Открытие нового салона красоты или SPA не может быть осуществлено без анализа рынка, потенциальных клиентов и их потребностей. Это нужно, для того, чтобы понять, кому и что Вы будете продавать и с какими другими «бьюти-идеями» конкурировать.
																</p>
																<p class="text-17 animated-in-fadeIn is-hidden visible animated fadeIn">
																		<span>Конкурентные преимущества</span><br>
																		Прежде чем открыть салон красоты, парикмахерскую или SPA вы должны четко понимать, чем ваше бьюти-предприятие будет отличаться от других предприятий индустрии красоты и насколько эти отличия значимы для Ваших потенциальных клиентов?
																</p>
																<p class="text-17 animated-in-fadeIn is-hidden visible animated fadeIn">
																		<span>Бизнес-модель</span><br>
																		Недостаточно просто открыть свой салон красоты или косметический кабинет. Как Вы будете зарабатывать деньги? Какие технологические особенности работы вашего салона красоты или СПА, особенности внутренней логистики и обслуживания клиентов будут критически важными для ваших клиентов. Вы планируете открыть один салон красоты (клинику, СПА) или сеть?
																</p>
																<p class="text-17 animated-in-fadeIn is-hidden visible animated fadeIn">
																		<span>Бизнес-план</span><br>
																		Открытие нового салона красоты, косметологического центра или СПА без бизнес-плана чревато ложными ожиданиями величины выручки, отсутствием понимания структуры затрат и сроков окупаемости бьюти-предприятия. 
																</p>
																<p class="text-17 animated-in-fadeIn is-hidden visible animated fadeIn">
																		<span>Стандарты</span><br>
																		Стандарты салона красоты, косметологического центра или СПА - обязательная составляющая работы над открытием предприятия. Стоит помнить о том, что Стандарты не создаются раз и навсегда. В процессе первого года работы вы измените до 60% первоначальной версии Стандартов.
																</p>
														</div>
														</li>
															<li class="article__num-item animated-in-fadeIn">
															<span>Бизнес-план салона красоты, ассортиментный портфель и калькуляция, штатное расписание и прогноз загрузки</span>	
															<div class="article__color-block article__color-block_light-blue animated-in-fadeIn is-hidden visible animated fadeIn">
																	<p class="text-17">Только за 2012-2016 гг. мы разработали для наших Клиентов 40 бизнес-планов для предприятий с различными бизнес-моделями от салонов красоты до концептуальных медико-косметологических центров.
																		<a href=""><span class="color-block__link-text"> Подробнее о бизнес плане для салона красоты</span></a>
																		Открытие нового салона красоты без бизнес-плана чревато ложными ожиданиями величины выручки, отсутствием понимания структуры затрат и сроков окупаемости бьюти-предприятия.</p> 													

															</div>
														</li>
															<li class="article__num-item animated-in-fadeIn">
															<span>Проектирование, функциональное зонирование, дизайн</span>	
															<div class="article__color-block article__color-block_light-beige animated-in-fadeIn is-hidden visible animated fadeIn">																
																	<div class="color-block__description-block">
																		<a href="" class="title-19">Обратите внимание!</a>
																		<p class="text-17">Мы проводим тендеры среди дизайн-студий. Это важно, так как, во-первых, проекты существенно отличаются, во-вторых, понятие "узкоспециализированная" студия очень условно. Бьюти-рынок не настолько большой, чтобы дизайн-студии могли позволить себе сфокусироваться только на нем.</p>
																		<p class="text-17">Также, мы работаем с дизайн-студиями Клиентов, осуществляя, релакцию и контроль всех нюансов работ по проектированию, зонированию и дизайну.</p>
																	</div>
															</div>																							
														</li> 
														<li class="article__num-item animated-in-fadeIn">
															<span>Оборудование и косметика в соответствии с концепцией салона</span>
															<p class="text-17">«Салонный маркетинг» постоянно проводит анализ технологий и оборудования для салонов красоты и косметологических клиник, которые представлены на рынке Украины и других стран. Работая с Клиентами, мы также обеспечим для вас лучшие условия от ведущих <a href="" class="color-block__link-text">поставщиков косметологического оборудования</a>, профессиональной косметики и мебели для салонов красоты.</p>	
														</li> 
														<li class="article__num-item animated-in-fadeIn">
															<span>Разработка логотипа, бренд-бука и регистрация ТМ</span>
														</li>
														<li class="article__num-item animated-in-fadeIn">
															<span>Документация: должностные инструкции, уголок потребителя, стандарты сервиса, протоколы процедур</span>
															<div class="article__bg-img-block">
																	<p class="text-17 x-light-blue-color animated-in-fadeIn is-hidden visible animated fadeIn">Открыть косметический салон, парикмахерскую или салон красоты с нуля, не имея всю необходимую документацию, чревато ненужными проблемами. Мы обеспечиваем вас <span>юридической консультацией</span>, полным перечнем всех необходимых документов для открытия салона красоты, парикмахерской, подробно объясняем где и как их получить. Предоставляем или разрабатываем индивидуально для вас всю внутреннюю документацию, необходимую вам для работы салона. </p>
																</div>														
														</li> 
														<li class="article__num-item animated-in-fadeIn">
															<span>Контроль реализации проекта "Салон красоты под ключ" с любого этапа</span>	
															<div class="color-layot-block animated-in-fadeIn is-hidden visible animated fadeIn full-visible">				
																	<div class="article-wrap quote-block">
																			<p class="text-30 text-30__light text-30__italic quote">Открытие салона красоты - это проект, который включает в себя определенное количество этапов. Мы можем подключиться к любому этапу, выполнять работы целиком или выборочно. </p>
																			<span class="text-17 italic autor-text">Наталья Гончаренко</span>
																		</div>					
																</div>														
														</li>
														<li class="article__num-item animated-in-fadeIn">
															<span>Компьютерная программа для предприятия индустрии красоты, обучение</span>
															Управляя салонами красоты и постоянно анализируя все программы для салонов красоты, которые появляются на рынке, мы готовы провести для вас обзор по рынку <a href="" class="color-block__link-text">программ учета и управления для салонов красоты</a>. 
														</li>
														<li class="article__num-item animated-in-fadeIn">
															<span>План пробвижения салона красоты/косметологического центра/медицинского центра</span>
															<ul class="article__mark-list">
																	<li class="article__mark-item">
																			Мало открыть салон - нужно привлекать в него клиентов. Мы составим с вами план привлечения клиентов в ваш новый салон красоты
																	</li>
																	<li class="article__mark-item">
																			Мы обучим вас привлекать клиентов из вашего района, из Интернета и выстраивать "сарафанное радио"
																	</li>																	
															</ul>
														</li>
														<li class="article__num-item animated-in-fadeIn">
																<span>Обучение менеджмента и персонала предприятияй индустрии красоты, SPA включает в себя:</span>
																<ul class="article__mark-list">
																		<li class="article__mark-item">
																				Обучение в Международной бизнес-школе Beauty Salon Boss (Киев) или дистанционное обучение в Beautysalon.Academy
																		</li>
																		<li class="article__mark-item">
																				Корпоративные семинары и тренинги в салоне красоты, косметологическом центре или СПА
																		</li>
																		<li class="article__mark-item">
																				Индивидуальное обучение руководителей бьюти-предприятий
																		</li>																	
																</ul>
															</li>
															<li class="article__num-item animated-in-fadeIn">
																<span>	Обучение администраторов и персонала предприятия индустрии красоты, SPA, продажам и сервисному поведению</span>
															</li>                                  
												</ul>
												<div class="article__color-block article__color-block_dark-blue animated-in-fadeIn is-hidden visible animated fadeIn full-visible">																		
													<div class="color-block__description-block">									
															<p class="text-17">"Салон под ключ" - это ИНДИВИДУАЛЬНЫЙ ПРОЕКТ. На его итоговую стоимость влияет большое количество параметров. Работа над проектом начинается с консультации будущих инвесторов предприятия индустрии красоты. Консультации проводит лично Наталья Гончаренко. </p>														
													</div>
												</div>
											
										</div>
									</div>								
								</div>
							
							
							
							</div>							
						
						</div>									
					</div>
			
							
				<div class="container">
					<div class="layot-content-block">		
						{% include "main-form-block.html" %}
										
				</div>			
			</div>		
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

