{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block breadcrumb %}
	<ul class="breadcrumb-list">
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
		<li><a href="">Публикации</a></li>
	</ul>
{% endblock %}	

{% block subnav %}
	<div class="subnav">
		<ul class="subnav__list">
			<li class="subnav__item_main trans">
				<a href="">Все рубрики</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Идеи</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Советы юриста</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Персонал</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Готовые решения</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Продажи в салоне</a>
			</li>
				<li class="subnav__item trans">
				<a href="">Оборудование</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Сервис</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Как открыть салон</a>
			</li>
			<li class="subnav__item_btn trans">			
				<i class="fa fa-long-arrow-down" aria-hidden="true"></i> Еще<br>рубрики
			</li>
		</ul>
		<div class="drop-menu">
			<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Идеи</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Оборудование</a>
				</li>
			</ul>
				<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Идеи</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Оборудование</a>
				</li>
			</ul>
				<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Салонный Маркетинг рекомендует</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Салонный Маркетинг рекомендует</a>
				</li>
			</ul>
				<button class="drop-menu__close"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>свернуть</button>
		</div>	
	</div>
{% endblock %}		

{% block content %}	
	<main class="main publications-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block">
					<div class="all-shadow"></div>
						{{ myMacros.layotColumn(className="column__pink white img-column", showButton=false, showShadow=false, showSort=true, imgPath="images/img-12.jpg") }}
						<div class="tab-block clearfix">							
						{{ myMacros.tabBlock(className="column__1-2", showTabHorisontal=false, showTabVertical=true, tabCount=false, showTabBtn=false) }}
						</div>
						<div class="publication-wrap">
							{% include "content-list.html" %}	
						</div>
						<div class="social-block">
							<div class="social__wrap">
								<div class="social__column">
									<h3 class="title-20 title-20__transform title-20__dark-blue">Салонній маркетинг в <span> facebook</span></h3>
									<div class="social__block">
										<button class="fb-btn"><i class="fa fa-facebook" aria-hidden="true"></i> facebook.com/sm.supersalon</button>
										<p class="social__block_text">подпишитесь и не пропускайте <br> самое интересное</p>
									</div>
								</div>
								<div class="social__column">
									<h3 class="title-20 title-20__transform title-20__dark-blue">Получайте новые публикации<span> на почту</span></h3>
									<div class="social__block">
										<form action="" class="subscribe__form">
											<input type="text" class="subscribe__input" placeholder="E-mail">
											<a href="#" class="button hvr-rectangle-out button__pink-transparent">Подписаться</a>										
										</form>
									</div>
								</div>
							</div>
						</div>
						{% include "paging.html" %}
					</div>			
							
				{{ myMacros.sidebar(className="sidebar") }}
			</div>			
		</div>		

		{% include "main-publication-section.html" %}
    
    	{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

