{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block content %}	
	<main class="main publications-page">
		
			<div class="container flex">
				<div class="layot-content-block">
					<div class="all-shadow"></div>
						{{ myMacros.layotColumn(className="top column__pink white img-column", showButton=false, showShadow=false, showSort=false, imgPath="images/img-12.jpg") }}
						<div class="tab-block clearfix">							
							<div class="tab_content">
								<div class="column-wrap flex">
										<div class="column__1-2 column__no-padding">
											<span class="title-label">Свой салон</span>
											<h2 class="title-lg title-lg__thin title-lg__white">Покупка салона красоты</h2>
											<p class="text-16 text-16__light-blue">Инвестиция в салонный бизнес всегда считалась хорошим вложением денег в Украине. Спрос на услуги постоянный.</p>
											
										</div>
										<div class="tab_container__right-block_vertical column__1-2 column__no-padding main-card__list">
											<div class="main-card__item column column-block column__no-padding animated-in-fadeIn">
												<div class="content-label-wrap">
													<a href="" class="content-label content-label__blue">Покупка салона красоты</a> 
												</div>
												<div class="img-wrap mask">
													<img src="images/img-5.jpg" alt="">
												</div> 
												<div class="post__description">
														<div class="column__info-wrap">
															<div class="autor-block">
																<img src="images/img-2.jpg" alt="">
																<a href="" class="autor-name">Иван Петропавловский</a>
															</div>
															<div class="data-block">
																<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
																
															</div>
															<div class="comment-block">
																	<i class="fa fa-comment-o" aria-hidden="true"></i>
																	<span class="comment">2555</span>
															</div>
															<div class="like-block">
																<i class="fa fa-heart-o" aria-hidden="true"></i>
																<span class="comment">255</span>
															</div>
															<div class="loock-block">
																	<i class="fa fa-eye" aria-hidden="true"></i>
																	<span class="loock">255</span>
															</div>
														</div>
													<a href="" class="title-sm title-sm__white">Что нужно знать о будущем бьюти-индустрии</a>
													<div class="post-button-wrap">
														<a href="" class="content-label content-label__pink arrow">Читать дальше</a>
													</div>
												</div>
											</div>
											<div class="main-card__item column column-block column__no-padding animated-in-fadeIn">
												<div class="content-label-wrap">
													<a href="" class="content-label content-label__blue">Покупка салона красоты</a> 
												</div>
												<div class="img-wrap mask">
													<img src="images/img-5.jpg" alt="">
												</div> 
												<div class="post__description">
														<div class="column__info-wrap">
															<div class="autor-block">
																<img src="images/img-2.jpg" alt="">
																<a href="" class="autor-name">Иван Петропавловский</a>
															</div>
															<div class="data-block">
																<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
																
															</div>
															<div class="comment-block">
																	<i class="fa fa-comment-o" aria-hidden="true"></i>
																	<span class="comment">2555</span>
															</div>
															<div class="like-block">
																<i class="fa fa-heart-o" aria-hidden="true"></i>
																<span class="comment">255</span>
															</div>
															<div class="loock-block">
																	<i class="fa fa-eye" aria-hidden="true"></i>
																	<span class="loock">255</span>
															</div>
														</div>
													<a href="" class="title-sm title-sm__white">Что нужно знать о будущем бьюти-индустрии</a>
													<div class="post-button-wrap">
														<a href="" class="content-label content-label__pink arrow">Читать дальше</a>
													</div>
												</div>
											</div>							
										</div>
									</div>	
								</div>
							</div>
						<div class="publication-wrap">
							{% include "content-list.html" %}	
						</div>
						<div class="social-block">
							<div class="social__wrap">
								<div class="social__column animated-in-fadeIn">
									<h3 class="title-20 title-20__transform title-20__dark-blue animated-in-fadeIn">Салонный маркетинг в <span> facebook</span></h3>
									<div class="social__block">
										<button class="fb-btn"><i class="fa fa-facebook" aria-hidden="true"></i> facebook.com/sm.supersalon</button>
										<p class="social__block_text">подпишитесь и не пропускайте <br> самое интересное</p>
									</div>
								</div>
								<div class="social__column animated-in-fadeIn">
									<h3 class="title-20 title-20__transform title-20__dark-blue">Получайте новые публикации<span> на почту</span></h3>
									<div class="social__block">
										<form action="" class="subscribe__form">
											<input type="text" class="subscribe__input" placeholder="E-mail">
											<a href="#" class="button hvr-rectangle-out button__pink-transparent">Подписаться</a>										
										</form>
									</div>
								</div>
							</div>
						</div>
						{% include "paging.html" %}
					</div>			
							
					{{ myMacros.sidebar(className="sidebar", sidebarTagBlock=true, sidebarCalendarEvent=true) }}
			</div>			
				

		{% include "main-publication-section.html" %}
    
    	{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

