{% extends "template.html" %}	

{% block breadcrumb %}
	<ul class="breadcrumb-list">
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
		<li><a href="">Публикации</a></li>
	</ul>
{% endblock %}	

{% block subnav %}
	<div class="subnav">
		<ul class="subnav__list">
			<li class="subnav__item_main trans">
				<a href="">Все рубрики</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Идеи</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Советы юриста</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Персонал</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Готовые решения</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Продажи в салоне</a>
			</li>
				<li class="subnav__item trans">
				<a href="">Оборудование</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Сервис</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Как открыть салон</a>
			</li>
			<li class="subnav__item_btn trans">			
				<i class="fa fa-long-arrow-down" aria-hidden="true"></i> Еще<br>рубрики
			</li>
		</ul>
		<div class="drop-menu">
			<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Идеи</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Оборудование</a>
				</li>
			</ul>
				<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Идеи</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Оборудование</a>
				</li>
			</ul>
				<ul class="drop-menu__list">
				<li class="drop-menu__item">
					<a href="">Салонный Маркетинг рекомендует</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Советы юриста</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Персонал</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Продажи в салоне</a>
				</li>
				<li class="drop-menu__item">
					<a href="">Салонный Маркетинг рекомендует</a>
				</li>
			</ul>
				<button class="drop-menu__close"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>свернуть</button>
		</div>	
	</div>
{% endblock %}		

{% block content %}	
	<main class="main publications-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block">
					<div class="all-shadow"></div>

					<div class="column column__layot-publication column__pink white img-column">
						<div class="all-shadow"></div>
						<h3 class="content-title content-title__pink content-title__left">Публикации</h3>
						<div class="img-wrap">
							<img src="images/img-5.jpg" alt="">
						</div>
						<div class="column__wrap_right white">
							<h2 class="title-md">Стандарты сервиса салона красоты или правда о любви к клиентам</h2>
							<div class="info-block flex">
								<div class="data-block">
									<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
								</div>
								<div class="tags-block">
									<a href="#" class="tag">#Управление салонами</a>
								</div>								
							</div>
							<ul class="content-list">
								<li class="content-item">
									<div class="img-wrap">
										<img src="images/img-1.jpg" alt="">
									</div>
									<div class="content-item__block">
										<a href="" class="title-sm">Что нужно знать о будущем бьюти-индустрии</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонами</a>
										</div>
									</div>
								</li>
								<li class="content-item">
									<div class="img-wrap">
										<img src="images/img-4.jpg" alt="">
									</div>
									<div class="content-item__block">
										<a href="" class="title-sm">Франчайзинг в индустрии красоты</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонамiи</a>
										</div>
									</div>
								</li>
								<li class="content-item">
									<div class="img-wrap">
										<img src="images/img-3.jpg" alt="">
									</div>
									<div class="content-item__block">
										<a href="" class="title-sm">Lamour: материалы для наращивания ресниц премиум-класса</a>
										<div class="data-block">
											<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
										</div>
										<div class="tags-block">
											<a href="#" class="tag">#Управление салонами</a>
										</div>
									</div>
								</li>													
							</ul>
							<a href="#" class="button hvr-rectangle-out button__md-blue-transparent arrow">Все публикации</a>
						</div>
					</div>

				</div>
				{% block sidebar %}
					<sidebar class="sidebar">
							<div class="all-shadow"></div>
							<div class="column column__img-wrap img-wrap img-wrap__gradient">
									<img src="images/img-1.jpg" alt="">
									<div class="column-label">
											<img src="images/label-1.png" alt="">
									</div>
							</div>		
							<div class="column column__blue column__padding">									
								<h3 class="content-title content-title__blue content-title__left">Популярные</h3>
								<div class="column-block column-block__thin">
									<div class="column-block__wrap flex">
										<div class="img-wrap">
											<img src="images/img-1.jpg" alt="">
										</div>
										<div class="column-block__content-wrap">
											<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
											<div class="data-block">
												<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
											</div>
											<div class="tags-block">
												<a href="#" class="tag">#Управление салонами</a>
											</div>
										</div>							
									</div>						
								</div>
								<div class="column-block column-block__thin">
									<div class="column-block__wrap flex">
										<div class="img-wrap">
											<img src="images/img-2.jpg" alt="">
										</div>
										<div class="column-block__content-wrap">
											<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
											<div class="data-block">
												<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
											</div>
											<div class="tags-block">
												<a href="#" class="tag">#Управление салонами</a>
												<a href="#" class="tag">#Советы юриста</a>
											</div>
										</div>																
									</div>						
								</div>
								<div class="column-block column-block__thin">
										<div class="column-block__wrap flex">
											<div class="img-wrap">
												<img src="images/img-2.jpg" alt="">
											</div>
											<div class="column-block__content-wrap">
												<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
												<div class="data-block">
													<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
												</div>
												<div class="tags-block">
													<a href="#" class="tag">#Управление салонами</a>
													<a href="#" class="tag">#Советы юриста</a>
												</div>
											</div>																
										</div>						
									</div>		
							</div>
							<div class="column column__img-wrap img-wrap">
								<img src="images/img-11.jpg" alt="">
								<div class="column-label">
										<img src="images/label-2.png" alt="">
								</div>
							</div>
								<div class="column column__blue column__padding">									
								<h3 class="content-title content-title__dark-blue content-title__right">Обсуждаемые</h3>
								<div class="column-block column-block__thin">
									<div class="column-block__wrap flex">
										<div class="img-wrap">
											<img src="images/img-1.jpg" alt="">
										</div>
										<div class="column-block__content-wrap">
											<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
											<div class="data-block">
												<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
											</div>
											<div class="tags-block">
												<a href="#" class="tag">#Управление салонами</a>
											</div>
										</div>							
									</div>						
								</div>
								<div class="column-block column-block__thin">
									<div class="column-block__wrap flex">
										<div class="img-wrap">
											<img src="images/img-2.jpg" alt="">
										</div>
										<div class="column-block__content-wrap">
											<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
											<div class="data-block">
												<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
											</div>
											<div class="tags-block">
												<a href="#" class="tag">#Управление салонами</a>
												<a href="#" class="tag">#Советы юриста</a>
											</div>
										</div>																
									</div>						
								</div>
								<div class="column-block column-block__thin">
										<div class="column-block__wrap flex">
											<div class="img-wrap">
												<img src="images/img-2.jpg" alt="">
											</div>
											<div class="column-block__content-wrap">
												<a href="#" class="title-17">Салонный маркетинг — Генеральный Партнер бизнес-школы “Beauty Salon Boss”</a>
												<div class="data-block">
													<span class="data"><i class="fa fa-calendar"></i>05 марта 2017</span>
												</div>
												<div class="tags-block">
													<a href="#" class="tag">#Управление салонами</a>
													<a href="#" class="tag">#Советы юриста</a>
												</div>
											</div>																
										</div>						
									</div>		
							</div>
					</sidebar>
				{% endblock %} 	
			</div>			
		</div>		

		{% include "main-publication-section.html" %}
    
    {% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

