{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block breadcrumb %}
	<ul class="breadcrumb-list">
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
		<li><a href="">Публикации</a></li>
				<li><a href="">Продажа салонов</a></li>
	</ul>
	</ul>
{% endblock %}	

{% block content %}	
	<main class="main send-material-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block top">
					<div class="all-shadow article"></div>					
					<div class="article-wrap">

					</div>	
				</div>			
				{{ myMacros.sidebar(className="sidebar", sidebarEventBlock=false, formblock=false, sidebarColBlock=false, sidebarImgBlock=false, sidebarPopBlock=false) }}
			</div>			
		</div>		
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

