<!doctype html>
<html class="no-js" lang="">

	{% include "head.html" %}	

	

  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	
	<header class="header">	
		<div class="header-top-block">		
			<div class="container">				
				<nav class="menu-wrap">
					<div id="bt-menu" class="bt-menu menu-trigger">
							<a href="#" class="bt-menu-trigger">
								<span>Menu</span>
							</a>
					</div>
					<ul class="menu">
						<li class="menu__item menu__item_sub active"><a>Рубрики</a>
							<ul class="dropdown">
								<li ><a href="#0">Новости</a></li>								
								<li><a href="#0">Как открыть</a></li>
								<li><a href="#0">Оборудование</a></li>
								<li><a href="#0">Мебель</a></li>
								<li><a href="#0">Косметика</a></li>
								<li><a href="#0">Интервью</a></li>
								<li><a href="#0">Дезинфекция</a></li>
								<li><a href="#0">Сервис</a></li>
								<li><a href="#0">Готовые решения</a></li>
								<li><a href="#0">Персонал</a></li>
								<li><a href="#0">Управление и продажи</a></li>
								<li><a href="#0">Реклама и маркетинг</a></li>
							</ul>
						</li>
						<li class="menu__item"><a href="">Мероприятия</a></li>
						<li class="menu__item"><a href="vacansies.html">Работа</a></li>
						<li class="menu__item dark-blue-menu"><a href="">Онлайн-курсы</a></li>
						<li class="menu__item"><a href="">Бизнес-школа</a></li>
						<li class="menu-middle">
							<div class="menu-middle__item">
								<i class="fa fa-calculator" aria-hidden="true"></i>
								<a href="">
									Калькулятор<br>загрузки	
								</a>
							</div>
							<div class="menu-middle__item menu-middle__img-item">
								<a href=""><img src="images/logo-cbox.png" alt=""></a>
							</div>
						</li>								
					</ul>					
								
				</nav>
				
				<div class="entry-wrap">
					<div class="search-wrap">
						<input type="text" class="search-input" placeholder="Поиск" />
						<a href="#" type="button" class="search-button">
							<i class="fa fa-search"></i>
							<i class="fa fa-times"></i>
						</a>
						<div class="search-window" style="display:none"> <!--окно поиска-->
							<div class="search-window__wrap">
								<div class="search-window__title-block">
									<h4 class="title-17">Публикации</h4>
								</div>
								<a href="" class="search-window__content-block">
									<span class="search-window__content-block_title">Выгодное вложение денег </span>
									<p class="search-window__content-block_text">очевидно мы наблюдаем семикратный рост экономики и новые надежно подкрепляют доверие. очевидно мы наблюдаем семикратный рост экономики и новые инвестиции надежно подкрепляют доверие.</p>
								</a>
								<a href="" class="search-window__content-block">
									<span class="search-window__content-block_title">Выгодное вложение денег </span>
									<span class="search-window__content-block_text">очевидно мы наблюдаем семикратный рост экономики и новые инвестиции надежно подкрепляют доверие. очевидно мы наблюдаем семикратный рост экономики и новые инвестиции надежно подкрепляют доверие.</span>
								</a>
								<a href="" class="search-window__more">Еще результаты</a>
							</div>
							<div class="search-window__wrap">
									<div class="search-window__title-block">
										<h4 class="title-17">Новости</h4>
									</div>
									<a href="" class="search-window__content-block">
										<span class="search-window__content-block_title">Выгодное вложение денег </span>
										<span class="search-window__content-block_text">очевидно мы наблюдаем семикратный рост экономики и новые инвестиции надежно подкрепляют доверие. очевидно мы наблюдаем семикратный рост экономики и новые инвестиции надежно подкрепляют доверие.</span>
									</a>
									<a href="" class="search-window__content-block">
										<span class="search-window__content-block_title">Выгодное вложение денег </span>
										<span class="search-window__content-block_text">очевидно мы наблюдаем семикратный рост экономики и новые инвестиции надежно подкрепляют доверие. очевидно мы наблюдаем семикратный рост экономики и новые инвестиции надежно подкрепляют доверие.</span>
									</a>							
								</div>
						</div> <!--окно поиска конец-->	
					</div>
					<a href="#" class="entry"><i class="fa fa-lock"></i>Войти</a>						
				</div>
				<div class="entry-window entry-window-signin">
						<div class="entry-window__body">
							<span class="close-entry-window">						
									<i class="fa fa-times"></i>
							</span>
							<form class="entry-form">
								<div class="entry-form__input-wrap">
										<i class="fa fa-user"></i>
										<input type="text" class="entry-form__input" placeholder="Логин">
								</div>
								<div class="entry-form__input-wrap error">
										<i class="fa fa-lock"></i>
										<input type="password" class="entry-form__input" placeholder="Пароль">
										<span class="pink error-text">Пароль неверный</span>
								</div>
								<a href="#" class="warning-text pink">Забыли пароль?</a>
								<label class="label-checkbox">
									<input type="checkbox" class="checkbox" checked>
										Не запоминать
								</label>
								<button class="button hvr-rectangle-out button__pink-transparent trans">Войти</button>
							</form>
						</div>

						<div class="entry-window__footer">
							<p class="entry-window__text">Вы тут впервые? тогда будьте с нами</p>
							<button class="sign-up-button button hvr-rectangle-out button__pink-blue trans">Регистрация</button>
						</div>
				</div>

				<div class="entry-window entry-window-signup">
						<div class="entry-window__body">
							<span class="close-entry-window">						
									<i class="fa fa-times"></i>
							</span>
							<form class="entry-form">
								<div class="entry-form__input-wrap">
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<input type="text" class="entry-form__input" placeholder="Введите E-mail">
								</div>
								<div class="entry-form__input-wrap">
										<i class="fa fa-user"></i>
										<input type="text" class="entry-form__input" placeholder="Придумайте логин">
								</div>
								<div class="entry-form__input-wrap error">
										<i class="fa fa-lock"></i>
										<input type="password" class="entry-form__input" placeholder="Придумайте пароль">
										<span class="pink error-text">Пароль должен содержать не менее 4 символа</span>
								</div>
								<button class="button hvr-rectangle-out button__pink-blue trans">Зарегистрироваться</button>								
							</form>
						</div>

						<div class="entry-window__footer">						
							<p class="entry-window__text">Уже зарегистрированы?</p>
							<button class="button hvr-rectangle-out button__pink-transparent trans">Войти</button>
						</div>
				</div>					
			</div>				
		</div>
		<!--<div class="prom-block">
			<i class="fa fa-volume-up"></i>
			<a href="" class="prom-block__link">Эффективная реклама и продвижение в соц-сетях</a>
		</div>-->
		<div class="header-bottom-block">
			<!--<img src="images/header-bg.jpg" alt="" class="header-bg">-->
			<div class="container">
				<div class="header-main-wrap flex">
					<a href="index.html" class="logo-wrap animated-in-pulse">
						<img src="images/logo.png" alt="" class="logo">
					</a>
					<h1 class="title title__white">Портал о бизнесе в индустрии красоты и здоровья</h1>
				</div>
					{% block breadcrumb %}
					{% endblock %}	

					{% block subnav %}
					{% endblock %}

					{% block eventSubnav %}
					{% endblock %}		
			</div>			
		</div>			
	</header>	

	{% block content %}		
		
	 {% endblock %} 

	{% include "footer.html" %}	
	{% include "scripts.html" %}	
	
  </body>
</html>
