{% extends "template.html" %}	
{% import "macros.html" as myMacros %}	

{% block content %}	
	<main class="main vacansies-main-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block">	
					<div class="sadow-section top">
						<div class="all-shadow"></div>
							<div class="layot-content-block__header min flex animated-in-flipInX">
							<img src="images/img-14.jpg" alt="">
							<div class="layot-content-block__header-description-block with-btn flex">
									<h2 class="title title__white">Продукты, оборудование и услуги для бьюти-рынка</h2>
									<a href="#" class="button hvr-rectangle-out button__blue-transparent"></i>добавить вакансию</a>	
							</div>
						</div>					
							<div class="exhibition-page-section">
								<h3 class="content-title content-title__pink content-title__left animated-in-slideInLeft">ТОП-ПРЕДЛОЖЕНИЯ</h3>
									{{ myMacros. vacansiesBlock(className="", vacansiesBlockButton=false, vacansiesPageButton=true) }}															
						</div>	
					</div>

					<div class="sadow-section">
						<div class="all-shadow"></div>			
						<div class="sponsor__block ">								
							<h3 class="content-title content-title__blue content-title__left">ТОП-РАБОТОДАТЕЛИ</h3>					
							{{ myMacros. sponsorBlock(className="", sponsorBlockText=false) }}	
						</div>											
					</div>
														
				</div>		
							
				{{ myMacros.sidebar(className="sidebar", sidebarExhibitionBlock=true, sidebarMainImgBlock=false, sidebarEventBlock=false, formblock=true, sidebarColBlock=false, sidebarImgBlock=false, sidebarPopBlock=true) }}
			</div>			
		</div>
		
		{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

