{% extends "template.html" %}	
{% import "macros.html" as myMacros %}

{% block breadcrumb %}
	<ul class="breadcrumb-list">
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
		<li><a href="">Публикации</a></li>
	</ul>
{% endblock %}

{% block eventSubnav %}
	<div class="subnav subnav__event">
		<ul class="subnav__list left">
			<li class="subnav__item_main trans">
				<a href="">Все вакансии</a>
			</li>
			<li class="subnav__item subnav__item_pink trans">			
				<a href=""><i class="fa fa-star" aria-hidden="true"></i>Горячие</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Админперсонал</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Мастера</a>
			</li>
			<li class="subnav__item trans">
				<a href="">Другое</a>
			</li>				
		</ul>
			<div class="subnav__list right">
				<select>
						<option data-display="Город">Город</option>
						<option value="1">Ивано-Франковск</option>
						<option value="2">Киев</option>
						<option value="3" disabled>Донецк</option>
						<option value="4">Львов</option>						
				</select>
				<select>
						<option data-display="Специализация">Специализация</option>
						<option value="1">Some option</option>
						<option value="2">Another option</option>
						<option value="3" disabled>A disabled option</option>
						<option value="4">Potato</option>
				</select>
				<div class="subnav__item_btn trans">			
					<a href="" class="button hvr-rectangle-out button__pink-blue trans">добавить вакансию</a>
				</div>
			</div>				
	</div>
{% endblock %}			

{% block content %}	
	<main class="main event vacansies-page">
		<div class="layot-section">
			<div class="container flex">
				<div class="layot-content-block">									
					<div class="sadow-section">
						<div class="all-shadow"></div>
						<div class="article-wrap">
							<h3 class="content-title content-title__pink content-title__left">Вакансии</h3>													
							{% include "vacansies-list.html" %}		                               
						</div>
						<div class="dark-block">
								<h3 class="content-title content-title__pink content-title__left">Рассылка ВАКАНСИЙ</h3>
								<p class="dark-block__text">Не пропустите возможность уведомления<span> новых вакансий</span></p>
								<form action="" class="dark-block__form">
									<input type="text" class="dark-block__input" placeholder="Ваш имя">
									<input type="text" class="dark-block__input" placeholder="Ваш Email">
									<a href="#" class="button hvr-rectangle-out button__blue-pink-transparent">Подписаться</a>
								</form>
						</div>
						<div class="article-wrap">
							{% include "vacansies-list.html" %}	
						</div>					
					{% include "paging.html" %}	
					</div>												
				</div>						
					{{ myMacros.sidebar(className="sidebar", sidebarWorkBlock=true, sidebarVacansiesBlock=true, sidebarEventBlock=false, formblock=true, sidebarColBlock=false, sidebarImgBlock=false, sidebarPopBlock=false) }}
			</div>			
		</div>		

		{% include "main-publication-section.html" %}
		
			{% include "others-services-section.html" %}	

		{% include "social-section.html" %}		
	
	</main>
{% endblock %} 

